<section class="lms-header">
  <div class="lms-header-title">
    HỆ THỐNG HỌC <br />
    TRỰC TUYẾN <br />
    (E-LEARNING)
  </div>
  <div class="lms-header-content">
    Hệ thống học trực tuyến của UEH có tên tiếng Anh là Learning Management System of UEH, tên gọi tắt là LMS – UEH.
  </div>
  <a href="https://lms.ueh.edu.vn/" target="_blank">
    <button class="btn-truy-cap btn btn-primary">Truy cập</button>
  </a>
</section>

<section class="lms-content-body">
  <div class="container">
    <div class="truy-cap-lms">
      <div class="truy-cap-title">Truy cập LMS tại</div>

      <div class="truy-cap-box top-50">
        <img src="assets/img/HocTapUeh/website.png" />
        <p>
          Truy cập trực tuyến tại <a href="https://lms.ueh.edu.vn/" target="_blank">https://lms.ueh.edu.vn/</a> hoặc hệ
          thống eLearning trên trang <a href="http://ueh.edu.vn" target="_blank">http://ueh.edu.vn</a>
        </p>
        <div class="truy-cap-rectangle"></div>
      </div>

      <div class="truy-cap-box-2">
        <img src="assets/img/HocTapUeh/smartphone.png" />
        <p>
          Người học có thể cài đặt ứng dụng trên hệ điều hành Android và iOS: tìm từ khóa "LMS-UEH" trên kho ứng dụng
          Play Store của Google hoặc App Store của Apple
        </p>
        <div class="truy-cap-rectangle"></div>
      </div>
    </div>

    <div class="chuc-nang-lms">
      <div class="chuc-nang-title">Một số tính năng chính của hệ thống</div>
      <img align="middle" class="main-img" src="assets/img/HocTapUeh/lmsPhone.png" />
      <div class="chuc-nang-left">
        <div class="chuc-nang-box">
          <div class="chuc-nang-row">
            <img src="assets/img/HocTapUeh/lmsTinhNang1.png" />
            <p class="chuc-nang-title-in-box">Quản lý đào tạo từ xa</p>
          </div>
          <p class="content-lms-chuc-nang">Sử dụng những công nghệ tiên tiến giả lập phòng học như video, voice...</p>
        </div>
        <div class="chuc-nang-box">
          <div class="chuc-nang-row">
            <img src="assets/img/HocTapUeh/lmsTinhNang2.png" />
            <p class="chuc-nang-title-in-box">Quản lý nội dung đào tạo</p>
          </div>
          <p class="content-lms-chuc-nang">
            Với các chức năng chính như tích hợp với các phần mềm soạn thảo và có khả năng nhúng các bài giảng power
            point, video, audio…
          </p>
        </div>
        <div class="chuc-nang-box">
          <div class="chuc-nang-row">
            <img src="assets/img/HocTapUeh/lmsTinhNang3.png" />
            <p class="chuc-nang-title-in-box">Quản lý tài liệu tham khảo</p>
          </div>
          <p class="content-lms-chuc-nang">
            Tương tự như một hệ thống thư viện điện tử thu nhỏ nhằm hỗ trợ cho người học dễ dàng tìm được các tài liệu
            liên quan.
          </p>
        </div>
      </div>
      <div class="chuc-nang-right">
        <div class="chuc-nang-box">
          <div class="chuc-nang-row">
            <img src="assets/img/HocTapUeh/lmsTinhNang4.png" />
            <p class="chuc-nang-title-in-box">Quản lý thi/kiểm tra online</p>
          </div>
          <p class="content-lms-chuc-nang">Thông qua nhiều hình thức như: tự luận, trắc nghiệm...</p>
        </div>

        <div class="chuc-nang-box">
          <div class="chuc-nang-row">
            <img src="assets/img/HocTapUeh/lmsTinhNang5.png" />
            <p class="chuc-nang-title-in-box">Quản lý tiến trình dạy và học</p>
          </div>
          <p class="content-lms-chuc-nang">Của các thành viên trong hệ thống dễ dàng</p>
        </div>

        <div class="chuc-nang-box">
          <div class="chuc-nang-row">
            <img src="assets/img/HocTapUeh/lmsTinhNang6.png" />
            <p class="chuc-nang-title-in-box">Tích hợp thanh toán online</p>
          </div>
          <p class="content-lms-chuc-nang">
            (Áp dụng cho các trung tâm đào tạo), SMS hỗ trợ việc tương tác dễ dàng với học viên và giáo viên
          </p>
        </div>
        <div class="chuc-nang-box">
          <div class="chuc-nang-row">
            <img src="assets/img/HocTapUeh/lmsTinhNang7.png" />
            <p class="chuc-nang-title-in-box">Quản lý việc trao đổi</p>
          </div>
          <p class="content-lms-chuc-nang">
            Giữa giảng viên & sinh viên, cũng như giữa các sinh viên với nhau. Các chức năng như diễn đàn, blog, wiki,
            social network.
          </p>
        </div>
      </div>
    </div>

    <div class="huong-dan-su-dung-lms">
      <div class="box-row-hdsd">
        <div class="box-hdsd">
          <img src="assets/img/HocTapUeh/information.png" />
          <div class="hdsd-box-content">
            Thông tin truy cập trang <a href="https://lms.ueh.edu.vn" target="_blank">http://lms.ueh.edu.vn</a> <br />
            tương tự thông tin truy cập trên trang
            <a href="http://www.online.ueh.edu.vn/" target="_blank">http://www.online.ueh.edu.vn</a>
          </div>
        </div>
        <div class="box-hdsd">
          <img src="assets/img/HocTapUeh/lmsContact.png" />
          <div class="hdsd-box-content">
            Trong trường hợp không thể truy cập hoặc cần điều chỉnh thông tin, sinh viên liên hệ Phòng Đào tạo sinh viên
            để được hỗ trợ.
          </div>
        </div>
      </div>
      <a href="https://lms.ueh.edu.vn/login/index.php">
        <div class="final-box">Hướng dẫn sử dụng LMS-UEH dành cho sinh viên</div>
      </a>
    </div>
  </div>
</section>
