<section class="cover__xebuyt">
    <div class="cover__content">

        <span>
            XE BUÝT TẠI TP. HCM <br>
            – MỘT SỐ TUYẾN ĐI TỚI <br>
            CÁC CƠ SỞ CỦA UEH <br>
        </span> Trường Đại học Kinh tế TP. Hồ Chí Minh có 11 cơ sở, 2 KTX tại TP.<br> Hồ Chí Minh. Để giúp bạn thuận tiện khi đi lại giữa các cơ sở,<br> Trường giới thiệu bạn một số tuyến xe buýt
    </div>
</section>

<section class="background__xebuyt">
    <div class="xebuyt__content">
        <div class="row__img">
            <img src="../../../../assets/img/TienIchBoSung/XeBuyt/xebuyt1.png" alt="">
        </div>

        <div class="row__content">
            <div class="row">
                <div class="col-lg-2 col-md-6 row__left">
                    Cơ sở A
                    <br>
                    <span>
                        (59C Nguyễn Ðình Chiểu, phường 6, quận 3, TP. Hồ Chí Minh)
                    </span>
                </div>
                <div class="col-md-1 row__direct">
                    <img src="../../../../assets/img/TienIchBoSung/XeBuyt/2-layers.png" alt="">
                </div>
                <div class="col-lg-5 col-md-6 row__right">
                    <ul>
                        <li>Từ Bình Thạnh đón tuyến số 31 (Đường Nơ Trang Long).</li>

                        <li>Từ Đại học Nông Lâm đón tuyến số 93 hoặc số 6</li>

                        <li>Từ Bến xe Chợ lớn/Xa lộ Hà Nội/Cơ sở B/KTX 43-45 đón tuyến số 150.</li>

                        <li>Từ bên kia cầu Nguyễn Văn Cừ qua A là xe số 152, xe này ít chuyến, lượt về phải đi bộ đến ngã tư Nam Kì Khởi Nghĩa và Nguyễn Đình Chiểu mới có trạm xe.</li>

                        <li>Từ KTX 135 Trần Hưng Đạo qua A đón xe số 152, về đón xe số 31.</li>

                        <li>Từ Khu dân cư Trung Sơn đón tuyến số 152.</li>

                        <li>Từ An Sương, Trường Chinh, Cộng Hòa, Nguyễn Văn Trỗi đón tuyến số 4.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row__content">
            <div class="row">
                <div class="col-lg-2 col-md-6 row__left">
                    Cơ sở B
                    <br>
                    <span>
                        (279 Nguyễn Tri Phương, phường 5, quận 10, TP. Hồ Chí Minh)
                    </span>
                </div>
                <div class="col-md-1 row__direct">
                    <img src="../../../../assets/img/TienIchBoSung/XeBuyt/2-layers.png" alt="">
                </div>
                <div class="col-lg-5 col-md-6 row__right">
                    <ul>
                        <li>Từ cơ sở A đón tuyến số 150.</li>

                        <li>Từ KTX 135 Trần Hưng Đạo đón tuyến 45, đến trạm xe trên đường Nguyễn Chí Thanh gần B.</li>

                        <li>Khu vực như Lê Văn Sỹ, Trần Huy Liệu, và khu vực quận Gò Vấp có thể đi xe số 7.</li>

                        <li>Khu vực Thành Thái, Lý Thường Kiệt, bên kia cầu Nguyễn Tri Phương có thể đi xe số 59.</li>

                        <li>Từ Thủ Đức ta có thể qua B bằng xe số 10 hoặc 150.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row__img">
            <img src="../../../../assets/img/TienIchBoSung/XeBuyt/xebuyt2.png" alt="">
        </div>


        <div class="row__content">
            <div class="row">
                <div class="col-lg-2 col-md-6 row__left">
                    Cơ sở E
                    <br>
                    <span>
                        (54 Nguyễn Văn Thủ, phường Đa Kao, quận 1, TP. Hồ Chí Minh)
                    </span>
                </div>
                <div class="col-md-1 row__direct">
                    <img src="../../../../assets/img/TienIchBoSung/XeBuyt/2-layers.png" alt="">
                </div>
                <div class="col-lg-5 col-md-6 row__right">
                    <ul>
                        <li>Từ cơ sở B, bạn có nhiều cách để đi: một chuyến 150, hoặc đi hai chuyến 10 và 54 dừng ở trạm Đinh Tiên Hoàng rồi đi bộ một đoạn đến cơ sở E.</li>

                        <li>Từ KTX 135 Trần Hưng Đạo, sinh viên đón xe 45 ngay trước KTX hoặc đón xe số 93 ở Hàm Nghi.
                        </li>

                        <li>Cơ sở A và E khá gần nhau nên bạn có thể đi bằng xe số 93 hoặc 150.</li>

                        <li>Khu vực Cách Mạng Tháng Tám muốn qua E nên đi hai chuyến, lúc đầu đón xe 30 để đi tới trạm Phạm Ngọc Thạch rồi tiếp tục đón xe 93 đi đến trạm Đinh Tiên Hoàng.</li>

                        <li>Những bạn nhà xa ngoài Thủ Đức có thể đi xe số 93, dừng ngay trạm Nguyễn Văn Thủ.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row__content">
            <div class="row">
                <div class="col-lg-2 col-md-6 row__left">
                    Cơ sở 144
                    <br>
                    <span>
                        (144 Phạm Đức Sơn, Phường 16, Quận 8, TP. Hồ Chí Minh)
                    </span>
                </div>
                <div class="col-md-1 row__direct">
                    <img src="../../../../assets/img/TienIchBoSung/XeBuyt/2-layers.png" alt="">
                </div>
                <div class="col-lg-5 col-md-6 row__right">
                    <ul>
                        <li>Từ cơ sở B, bạn phải đi hai chuyến xe. Đầu tiên, đón xe số 7 tại trước cổng Nguyễn Tri Phương, dừng tại trạm Bến xe Chợ Lớn, rồi tiếp tục đón xe số 101 để đi đến trạm Chung cư Lê Thành.
                        </li>

                        <li>Từ KTX 135 Trần Hưng Đạo, bạn đón xe số 39 tại Chợ Dân Sinh và dừng ở trạm Đường số 18, lúc về cũng có thể đón 39 tại trạm An Dương Vương.
                        </li>


                    </ul>
                </div>
            </div>
        </div>

        <div class="section__title">
            Tìm xe bus với BusMap
        </div>
        <div class="container section__content">
            BusMap - Xe buýt Thành phố là một công cụ hỗ trợ tra cứu tuyến xe buýt. Ứng dụng BusMap cung cấp bản đồ các tuyến xe, theo dõi thời gian đến và rời bến của các xe buýt, thời gian chờ xe buýt theo thời gian thực.
        </div>

        <div class="container section__logo">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="item">
                        <div class="item__icon">
                            <img src="../../../../assets/img/TienIchBoSung/XeBuyt/Layer_6.png" alt="">
                        </div>
                        <div class="row item__content">
                            <div class="col-md-12 text-blue">
                                Busmap
                            </div>
                            <div class="col-md-12 d-flex">
                                <div class="box__icon">
                                    <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/android.png" alt="">
                                </div>
                                <div class="box__icon">
                                    <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/mac.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>