<section class="cd-header">
    <div class="cd-header-title">CHUYỂN ĐIỂM</div>
</section>
<section class="cd-body">
    <div class="container">
        <div class="cd-body-title">Sinh viên được xét chuyển điểm và miễn học <br />
            học phần A khi thỏa các điều kiện sau</div>
        <div class="cd-body-box">
            <div class="cd-row">
                <div class="cd-body-circle"></div>
                <p>Đã tích lũy học phần có nội dung theo đề cương chi tiết tương đương với nội dung của học phần A </p>
            </div>
            <div class="cd-row">
                <div class="cd-body-circle"></div>
                <p>Đã tích lũy học phần có số tín chỉ bằng hoặc lớn hơn số tín chỉ của học phần A.</p>
            </div>
        </div>
        <div class="cd-body-title">Quy trình xét chuyển điểm</div>
        <div class="cd-box-content">
            <img class="mainImg" src="assets/img/HocTapUeh/cd01.png">
            <div class="right-content">
                <div class="cd-box-title">Bước 01: Chuẩn bị hồ sơ</div>
                <div class="cd-rec"></div>
                <div class="cd-content">• Sinh viên tải mẫu Giấy đề nghị chuyển điểm trên website Phòng QLĐT-CTSV và
                    điền đầy đủ thông tin.
                    <br />
                    • Sinh viên nộp Giấy đề nghị kèm theo bảng điểm hoặc giấy chứng nhận kết quả học tập của môn học/học
                    phần tương đương với học phần sinh viên đề nghị xét chuyển điểm.</div>
            </div>
        </div>
        <div class="cd-box-content cd-mt-6">
            <img class="mainImg h-37" src="assets/img/HocTapUeh/cd02.png">
            <div class="right-content">
                <div class="cd-box-title cd-mt-5">Bước 02: Nộp hồ sơ</div>
                <div class="cd-rec"></div>
                <div class="cd-content">• Chuyên viên phụ trách nhận giấy đề nghị, kiểm tra thông tin và hẹn sinh viên
                    thời hạn nhận kết quả.
                    <br />
                    • Chuyên viên phụ trách trình lãnh đạo phòng QLĐT-CTSV xét duyệt hồ sơ.
                    Đồng ý: xét chuyển điểm cho sinh viên;
                    Không đồng ý: hướng dẫn SV bổ sung hồ sơ hoặc thông báo từ chối hồ sơ.</div>
            </div>
        </div>
        <div class="cd-box-content cd-mt-6">
            <img class="mainImg h-37" src="assets/img/HocTapUeh/cd03.png">
            <div class="right-content">
                <div class="cd-box-title cd-mt-5">Bước 03: Nhận kết quả</div>
                <div class="cd-rec"></div>
                <div class="cd-content">Sinh viên đến phòng QLĐT-CTSV nhận kết quả theo lịch hẹn và kiểm tra kết quả
                    chuyển điểm tại Portal sinh viên.</div>
            </div>
        </div>

    </div>
</section>