<section class="cover__covan">
    <div class="cover__content">
        <span>
            CỐ VẤN
            <br>HỌC TẬP
        </span>

        <div class="covan__custom">
            CÔNG VIỆC - NHIỆM VỤ
        </div>
    </div>
</section>

<section class="background__covan">
    <div class="covan__content">
        <div class="covan__img">
            <img src="../../../../assets/img/DongHanhUeh/CoVanHocTap/Layer_2.png" alt="">
        </div>

        <div class="row covan__row">
            <div class="col-md-5">
                <div class="covan__box">
                    <div class="box__content">
                        <div class="left">
                            <img src="../../../../assets/img/DongHanhUeh/CoVanHocTap/01.png" alt="">
                        </div>
                        <div class="right">
                            Thực hiện công tác chủ nhiệm lớp
                        </div>
                    </div>
                    <div class="border__covan"></div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="covan__box">
                    <div class="box__content">
                        <div class="left">
                            <img src="../../../../assets/img/DongHanhUeh/CoVanHocTap/02.png" alt="">
                        </div>
                        <div class="right">
                            Tư vấn về phương pháp học tập ở bậc đại học (dành cho sinh viên năm thứ nhất).
                        </div>
                    </div>
                    <div class="border__covan"></div>
                </div>
            </div>
        </div>


        <div class="row covan__row">
            <div class="col-md-5">
                <div class="covan__box">
                    <div class="box__content">
                        <div class="left">
                            <img src="../../../../assets/img/DongHanhUeh/CoVanHocTap/03.png" alt="">
                        </div>
                        <div class="right">
                            Tư vấn xây dựng và điều chỉnh kế hoạch học tập phù hợp với năng lực và hoàn cảnh của sinh viên.
                        </div>
                    </div>
                    <div class="border__covan"></div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="covan__box">
                    <div class="box__content">
                        <div class="left">
                            <img src="../../../../assets/img/DongHanhUeh/CoVanHocTap/04.png" alt="">
                        </div>
                        <div class="right">
                            Tư vấn về chuyên môn và hướng dẫn nghiên cứu khoa học thuộc ngành, chuyên ngành đào tạo (thực hiện đối với các lớp đã phân ngành, chuyên ngành).
                        </div>
                    </div>
                    <div class="border__covan"></div>
                </div>
            </div>
        </div>


        <div class="row covan__row">
            <div class="col-md-5">
                <div class="covan__box">
                    <div class="box__content">
                        <div class="left">
                            <img src="../../../../assets/img/DongHanhUeh/CoVanHocTap/05.png" alt="">
                        </div>
                        <div class="right">
                            Tổ chức các buổi sinh hoạt lớp theo thời khóa biểu từng học kỳ.
                        </div>
                    </div>
                    <div class="border__covan"></div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="covan__box">
                    <div class="box__content">
                        <div class="left">
                            <img src="../../../../assets/img/DongHanhUeh/CoVanHocTap/06.png" alt="">
                        </div>
                        <div class="right">
                            Hướng dẫn sinh viên liên hệ các đơn vị thuộc trường để được tư vấn phù hợp với nhu cầu.
                        </div>
                    </div>
                    <div class="border__covan"></div>
                </div>
            </div>
        </div>

        <div class="row covan__row">
            <div class="col-md-8">
                <div class="covan__box">
                    <div class="box__content">
                        <div class="left">
                            <img src="../../../../assets/img/DongHanhUeh/CoVanHocTap/07.png" alt="">
                        </div>
                        <div class="right">
                            Tiếp nhận tài khoản giảng viên thuộc website www.online.ueh.edu.vn để tra cứu danh sách lớp, ban cán sự lớp, ban chấp hành chi đoàn, chi hội, thông tin cá nhân, kết quả học tập, rèn luyện của sinh viên.
                        </div>
                    </div>
                    <div class="border__covan"></div>
                </div>
            </div>
        </div>

        <div class="row covan__row">
            <div class="col-md-8">
                <div class="covan__custom">
                    <div class="content">
                        Sinh viên liên hệ Cố vấn học tập: qua email, số điện thoại trên trang http://online.ueh.edu.vn/ và trang http://ctct.ueh.edu.vn/.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>