<section class="ktg-header">
    <div class="ktg-header-title">KHUNG THỜI GIAN ĐÀO TẠO HÀNG NĂM</div>
    <div class="ktg-header-content">Khung thời gian đào tạo năm học 2019 – 2020</div>
</section>
<section class="ktg-main">
    <img src="assets/img/HocTapUeh/hocKi.png" alt="Khung thời gian đào tạo">
    <div class="nam-hoc-title hk-01">Năm học 2019 – 2020 (Học kỳ cuối 2019)</div>
    <div class="nam-hoc-title hk-02">Năm học 2019 – 2020 (Học kỳ đầu 2020)</div>
    <div class="nam-hoc-title hk-03">15/6/2020 - 02/8/2020 (7 tuần)</div>
    <div class="nam-hoc-title time-range f-09-09-19">09/09/2019 - 08/12/2019</div>
    <div class="nam-hoc-title time-range f-09-12-19">09/12/2019 - 22/12/2019</div>
    <div class="nam-hoc-title time-range f-20-11-19">20/11/2019</div>
    <div class="nam-hoc-title time-range f-23-12-19">23/12/2019 - 31/12/2019</div>
    <div class="nam-hoc-title time-range f-02-01-20">02/01/2020 - 17/01/2020</div>
    <div class="nam-hoc-title time-range f-18-01-20">18/01/2020 - 02/02/2020</div>
    <div class="nam-hoc-title time-range f-03-02-20">03/02/2020 - 17/05/2020</div>
    <div class="nam-hoc-title time-range f-18-05-20">18/05/2020 - 31/05/2020</div>
    <div class="nam-hoc-title time-range f-01-06-20">01/06/2020 - 14/06/2020</div>
    <div class="nam-hoc-title time-range f-01-01-20">01/01/2020</div>
    <div class="nam-hoc-title time-range f-02-04-20">02/04/2020</div>
    <div class="nam-hoc-title time-range f-30-04-20">30/04/2020 - 01/05/2020</div>
    <div class="nam-hoc-title time-range f-02-09-20">02/09/2020</div>
    <div class="nam-hoc-title time-range f-15-06-20">15/06/2020 - 19/07/2020</div>
    <div class="nam-hoc-title time-range f-20-07-20">20/07/2020 - 26/07/2020</div>
    <div class="nam-hoc-title time-range f-27-07-20">27/07/2020 - 02/08/2020</div>

    <div class="nam-hoc-title time-range f-shcm">01/06/2020 - 07/06/2020</div>
    <div class="nam-hoc-title l-205 txt-shcm">Tuần sinh hoạt chuyên môn và giải quyết công việc nội bộ của đơn vị khối
        quản lý</div>
    <div class="nam-hoc-title l-205 txt-ngay-nghi">Các ngày nghỉ</div>

    <div class="nam-hoc-title l-205 txt-09-09-19">Học lý thuyết</div>
    <div class="nam-hoc-title l-205 txt-09-12-19">Thi kết thúc học phần</div>
    <div class="nam-hoc-title l-205 txt-20-11-19">Nghỉ ngày Nhà giáo Việt Nam</div>
    <div class="nam-hoc-title l-205 txt-23-12-19">Nghỉ cuối năm</div>
    <div class="nam-hoc-title l-205 txt-02-01-20">Học lý thuyết (trước Tết Âm lịch)</div>
    <div class="nam-hoc-title l-205 txt-18-01-20">Nghỉ Tết Âm lịch</div>
    <div class="nam-hoc-title l-205 txt-03-02-20">Học lý thuyết (sau Tết Âm lịch)</div>
    <div class="nam-hoc-title l-205 txt-18-05-20">Thi kết thúc học phần học kỳ đầu</div>
    <div class="nam-hoc-title l-205 txt-01-06-20">Nghỉ giữa kỳ</div>
    <div class="nam-hoc-title l-205 txt-01-01-20">Tết Dương lịch 2020</div>
    <div class="nam-hoc-title l-205 txt-02-04-20">Giỗ Tổ Hùng Vương</div>
    <div class="nam-hoc-title l-205 txt-30-04-20">Ngày Chiến thắng (30/4) và Ngày Quốc tế lao động (01/5)</div>
    <div class="nam-hoc-title l-205 txt-02-09-20">Lễ Quốc khánh 2/9</div>
    <div class="nam-hoc-title l-205 txt-15-06-20">Học lý thuyết</div>
    <div class="nam-hoc-title l-205 txt-20-07-20">Thi kết thúc học phần học kỳ giữa</div>
    <div class="nam-hoc-title l-205 txt-27-07-20">Nghỉ giữa kỳ</div>

    <div class="cap-nhat-thong-tin-rectangle">
        <p>Sinh viên cập nhật thông tin khung thời gian đào tạo hàng năm tại website Phòng Kế hoạch đào tạo – Khảo thí
            (<a href="http://khkt.ueh.edu.vn" target="_blank">http://khkt.ueh.edu.vn</a>), Mục Kế hoạch đào tạo.</p>
    </div>
</section>