<section class="nckh-header">
    <div class="nckh-header-content">Nghiên cứu khoa học sinh viên</div>
</section>
<section class="nckh-body">
    <div class="container">
        <div class="nckh-title">Các hình thức nghiên cứu khoa học của sinh viên</div>
        <div class="nckh-subtitle">Sinh viên có thể tham dự các cuộc thi, giải thưởng theo các cấp độ sau</div>
        <img class="nckh-top-img" src="../../../../assets/img/HocTapUeh/nckhHinhThuc.png">
        <div class="nckh-title nckh-l-90">Quyền lợi của sinh viên khi tham gia NCKH</div>
        <div class="nckh-inline-area">
            <div class="nckh-box-1">
                <img src="../../../../assets/img/HocTapUeh/student.png">
                <div class="nckh-round">Sinh viên chương trình tiên tiến quốc tế UEH</div>
                <p>• Được UEH hỗ trợ kinh phí, phương tiện, thiết bị theo quy định <br />
                    • Được ưu tiên xét cấp học bổng, xét các danh hiệu thi đua và hình thức khen thưởng nếu có thành
                    tích NCKH xuất sắc <br />
                    • Được tính cộng điểm Rèn luyện sinh viên <br />
                    • Sinh viên có đề tài đạt các giải thưởng NCKH sẽ được cấp giấy chứng nhận đạt giải, giấy khen và
                    được cộng điểm thưởng NCKH vào điểm của môn học có liên quan <br />

                </p>
            </div>
            <div class="nckh-box-1">
                <img class="nckh-20" src="../../../../assets/img/HocTapUeh/person.png">
                <div class="nckh-round">Sinh viên chương trình
                    Chất lượng cao</div>
                <p>Ngoài các quyền lợi được hưởng theo quy định về NCKH, sinh viên chương trình CLC tham gia NCKH là
                    điều kiện bắt buộc để được công nhận tốt nghiệp.
                </p>
            </div>
        </div>
        <div class="nckh-title nckh-l-140">
            Điểm thưởng Nghiên cứu khoa học
        </div>
        <div class="nckh-subtitle nckh-ml-30">Quy tắc cộng điểm thưởng nghiên cứu khoa học</div>
        <div class="nckh-bot-box">
            <img class="nckh-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="nckh-para">Môn học được cộng điểm thưởng NCKH có nội dung gần với nội dung nghiên cứu hoặc phương
                pháp nghiên cứu của đề tài (không kể chuyên đề thực tập tốt nghiệp, hoặc khóa luận tốt nghiệp).</p>
        </div>
        <div class="nckh-bot-box">
            <img class="nckh-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="nckh-para">Tổng số điểm của môn học, bao gồm cả điểm thưởng NCKH, tối đa là 10 (mười) điểm. Chỉ cộng
                điểm thưởng NCKH đối với môn thi đạt trong lần thi thứ nhất.</p>
        </div>
        <div class="nckh-bot-box">
            <img class="nckh-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="nckh-para">Sinh viên tham gia bao nhiêu đề tài đạt giải thì sẽ được cộng điểm thưởng NCKH tương ứng
                bấy nhiêu đề tài; mỗi sinh viên được chia điểm thưởng của mỗi đề tài để cộng điểm cho nhiều môn học; mỗi
                môn học có thể được cộng điểm thưởng từ nhiều đề tài NCKH</p>
        </div>
        <div class="nckh-bot-box">
            <img class="nckh-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="nckh-para">Đối với đề tài đạt đồng thời nhiều giải thưởng NCKH, sinh viên được cộng điểm thưởng NCKH
                một giải;</p>
        </div>
        <div class="nckh-bot-box">
            <img class="nckh-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="nckh-para">Môn học được cộng điểm thưởng NCKH do cá nhân sinh viên đề nghị và Trưởng Phòng QLKH-HTQT
                quyết định;</p>
        </div>
    </div>
</section>