./vs
.vs/sotaysinhvienclient/v16/Server/sqlite3/storage.ide-shm
.vs/sotaysinhvienclient/v16/Server/sqlite3/storage.ide-wal
.vs/sotaysinhvienclient/DesignTimeBuild/.dtbcache
.vs/sotaysinhvienclient/v16/.suo
.vs/sotaysinhvienclient/v16/Server/sqlite3/storage.ide
