<section class="cover__khoinghiep">
  <div class="cover__content">
    <span> KHỞI NGHIỆP </span> <br />
    Sinh viên khi có ý tưởng khởi <br />nghiệp sẽ nhận được sự hỗ trợ từ <br />các đơn vị sau của Trường
  </div>
</section>

<section class="background__khoinghiep">
  <div class="khoinghiep__content">
    <div class="khoinghiep__title">
      Trung tâm Phát triển khởi nghiệp <br />
      (Center for Entrepreneurship Development – viết tắt là CED)
    </div>

    <div class="row__title">
      Trung tâm Phát triển khởi nghiệp (Center for Entrepreneurship Development – viết tắt là CED) được thành lập ngày
      20/7/2016 theo Quyết định số 2479/QĐ-ĐHKT-TCHC của Hiệu trưởng trường Đại học Kinh tế TP. Hồ Chí Minh (UEH).
    </div>

    <div class="row khoinghiep__row">
      <div class="col-lg-7 col-md-12 khoinghiep__img">
        <img src="assets/img/DongHanhUeh/KhoiNghiep/2068180.png" alt="" />
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="khoinghiep__intro">CED là đơn vị độc lập có tư cách pháp nhân thuộc UEH. CED có các chức năng:</div>
        <div class="khoinghiep__box">
          <div class="box__icon">
            <img src="assets/img/DongHanhUeh/KhoiNghiep/01.png" alt="" />
          </div>
          <div class="box__content">
            Thực hiện các hoạt động nghiên cứu ứng dụng trong các lĩnh vực liên quan đến hoạt động khởi nghiệp kinh
            doanh và hệ sinh thái khởi nghiệp theo đơn đặt hàng của các địa phương
          </div>
        </div>

        <div class="khoinghiep__box">
          <div class="box__icon">
            <img src="assets/img/DongHanhUeh/KhoiNghiep/02.png" alt="" />
          </div>
          <div class="box__content">Hoạt động tư vấn khởi nghiệp</div>
        </div>

        <div class="khoinghiep__box">
          <div class="box__icon">
            <img src="assets/img/DongHanhUeh/KhoiNghiep/03.png" alt="" />
          </div>
          <div class="box__content">Đào tạo nâng cao năng lực quản trị cho các nghiệp chủ</div>
        </div>

        <div class="khoinghiep__box">
          <div class="box__icon">
            <img src="assets/img/DongHanhUeh/KhoiNghiep/04.png" alt="" />
          </div>
          <div class="box__content">
            Cung cấp các dịch vụ hỗ trợ doanh nghiệp, hỗ trợ sinh viên, thanh niên nông thôn khởi nghiệp
          </div>
        </div>

        <div class="khoinghiep__box">
          <div class="box__icon">
            <img src="assets/img/DongHanhUeh/KhoiNghiep/05.png" alt="" />
          </div>
          <div class="box__content">
            Hợp tác-liên kết với các đơn vị có chức năng hỗ trợ khởi nghiệp trong hệ sinh thái khởi nghiệp
          </div>
        </div>
      </div>
    </div>

    <div class="khoinghiep__title">
      Viện Đổi mới sáng tạo UEH <br />
      (UEH Institute of Innovation)
    </div>

    <div class="owl-carousel owl-theme sliding">
      <div class="item">
        <div>
          <img src="assets/img/DongHanhUeh/KhoiNghiep/1.png" />
        </div>
      </div>
      <div class="item">
        <div>
          <img src="assets/img/DongHanhUeh/KhoiNghiep/2.png" />
        </div>
      </div>
      <div class="item">
        <div>
          <img src="assets/img/DongHanhUeh/KhoiNghiep/3.png" />
        </div>
      </div>
    </div>

    <div class="container">
      <div class="khoinghiep__box">
        <div class="box__content">
          Viện Đổi mới sáng tạo UEH (UEH Institute of Innovation) chính thức khai trương ngày 17/04/2019 tại cơ sở 232/6
          Võ Thị Sáu, Phường 7, Quận 3 với các hoạt động chính: Nghiên cứu theo hướng ứng dụng, đào tạo và hợp tác quốc
          tế, hình thành hệ sinh thái khởi nghiệp và kết nối nhà đầu tư, đặc biệt là hoạt động Vườn Ươm Khởi nghiệp,
          nhằm thúc đẩy hoạt động khởi nghiệp tại UEH nói riêng và TP.HCM nói chung.
        </div>
      </div>
    </div>

    <div class="container">
      <div class="khoinghiep__box">
        <div class="box__content">
          Với diện tích sử dụng 1.300m<sup>2</sup> bao gồm không gian làm việc chung, phòng họp, phòng hội thảo với
          không gian xanh mát và yên tĩnh, Viện Đổi mới sáng tạo UEH là nơi lý tưởng cho việc phát triển ý tưởng sáng
          tạo cho sinh viên UEH, những doanh nhân trẻ tương lai. Tại Vườn Ươm của Viện Đổi mới sáng tạo UEH, thành viên
          của dự án tham gia các hoạt động đào tạo và huấn luyện, được các chuyên gia tư vấn, phân tích, hỗ trợ điều
          chỉnh mô hình kinh doanh để đủ sức cạnh tranh với thị trường để tạo ra sản phẩm, dịch vụ phù hợp với nhu cầu
          của thị trường.
        </div>
      </div>
    </div>

    <div class="container">
      <div class="khoinghiep__box">
        <div class="box__content">
          Các ý tưởng khởi nghiệp và đổi mới sáng tạo có thể đăng ký tham gia Vườn Ươm tại Viện Đổi mới sáng tạo -
          Trường Đại học Kinh tế TP. Hồ Chí Minh qua website của Viện tại địa chỉ www.uii.ueh.edu.vn.
        </div>
      </div>
    </div>

    <div class="khoinghiep__title khoi-nghiep-mt-200">Dynamic - Sinh viên nhà doanh nghiệp tương lai</div>

    <div class="container">
      <div class="khoinghiep__box">
        <div class="box__content">
          “Dynamic – Sinh viên nhà doanh nghiệp tương lai” là một cuộc thi học thuật của trường Đại học Kinh tế TP.HCM
          ra đời từ năm 1996, trải qua 22 năm hình thành và phát triển đến nay cuộc thi đã khẳng định với xã hội là một
          sân chơi học thuật thiết thực, hiệu quả, bổ ích và là một trong những cuộc thi uy tín, có tác động tích cực
          đến việc phát hiện nhiều tài năng trẻ trong sinh viên các trường đại học trên phạm vi cả nước.
        </div>
      </div>
    </div>

    <div class="container">
      <div class="khoinghiep__box">
        <div class="box__content">
          Câu lạc bộ DYNAMIC được thành lập với mục đích tạo môi trường cho sinh viên làm quen với mô hình doanh nghiệp
          ngay từ khi đang học tại trường, đồng thời áp dụng những kiến thức đã học vào thực tế thông qua việc triển
          khai các dự án kinh doanh và dự án vì cộng đồng. Tạo sân chơi lành mạnh cho sinh viên bổ sung, củng cố kiến
          thức và những kỹ năng cần thiết liên quan đến lĩnh vực kinh doanh. Định hướng và tạo môi trường cho sinh viên
          triển khai những dự án mang lại hiệu quả về mặt kinh tế - xã hội, đồng thời có tính bền vững và kế thừa cho
          thế hệ sau.
        </div>
      </div>
    </div>

    <div class="container">
      <a href="https://www.facebook.com/dynamicueh" target="_blank" style="text-decoration: none">
        <div class="box__clb">
          <div class="box__icon">
            <img src="assets/img/SanChoiTaiUeh/ClbDoiNhom/18011040_1315317655188984_7099163455333037527_n.png" alt="" />
          </div>
          <div class="box__content">CLB Dynamic UEH</div>
        </div>
      </a>
    </div>
  </div>
</section>
