.cover__tindung {
  position: relative;
  background-image: url(../img/DongHanhUeh/TinDungHocTap/cover_clb.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 1060px;
  .cover__content {
    position: absolute;
    top: 200px;
    left: 80px;
    span {
      @include text($color-black, $fs-4 - 10, $fw-bold, $fm-3);
      background: linear-gradient(to right, #01215a 0%, #ff4a7d 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }
    @include text(#276da4, 25px, $fw-1 + 100, $fm-3);
  }
}

@include respond-to("large") {
  .cover__tindung {
    height: 600px;
    background-size: contain;
    background-position: 0 0;
    .cover__content {
      top: 40px;
      left: 60px;
      font-size: 22px !important;
      span {
        font-size: 41px !important;
      }
    }
  }
}

@include respond-to("medium") {
  .cover__tindung {
    height: 460px;
    .cover__content {
      font-size: 0px !important;
      span {
        font-size: 61px !important;
      }
    }
  }
}

@include respond-to("small") {
  .cover__tindung {
    .cover__content {
      span {
        font-size: 41px !important;
      }
    }
  }
}

.background__tindung {
  background-image: url(../img/DongHanhUeh/TinDungHocTap/background_tindung.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 2500px;
  padding: 60px 0;
  .tindung__content {
    .tindung__title {
      @include text($color-8, $fs-3 - 10, $fw-3, $fm-3);
      text-align: center;
      width: 60%;
      margin: 0 auto;
      margin-bottom: 60px;
    }
    .row {
      margin: 0px;
      justify-content: center;
      margin-bottom: 60px;
      .col-lg-12 {
        padding-left: 0;
        padding-right: 0;
      }
      .tindung__box {
        border-radius: 35px;
        background-image: linear-gradient(
          to right,
          #242659 0%,
          #2887bf 99%,
          #2887bf 100%
        );
        @include text(#fff, 37px, $fw-3, $fm-4);
        text-align: center;
        z-index: 2;
        padding: 30px 20px;
      }
      .col-lg-1 {
        padding: 0px;
        .arrow {
          background-image: url(../img/DongHanhUeh/TinDungHocTap/arrow.png);
          height: 60px;
          background-repeat: no-repeat;
          background-size: contain;
          transform: scale(1.2);
          z-index: 1;
          position: relative;
          margin-top: 24px;
        }
      }
      .col-lg-6 {
        padding-left: 0px;
        .tindung__mota {
          box-shadow: 0 13px 29px rgba(0, 0, 0, 0.35);
          border-radius: 20px;
          padding: 30px;
          background-color: $color-white;
          padding: 40px 60px;
          @include text(#276ca3, 25px, $fw-1, $fm-2);
        }
      }
      .col__box {
        display: flex;
        justify-items: center;
        margin-bottom: 60px;
        .col__icon {
          margin-right: 30px;
          img {
            display: block;
          }
        }
        .col__content {
          @include text(#26578d, 26px, $fw-1 + 200, $fm-2);
        }
      }
      .border__tindung {
        width: 100%;
        height: 10px;
        background-image: linear-gradient($color-white, $color-white),
          linear-gradient(to top, #01215a 0%, #ff4a7d 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        border: 2px solid transparent;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

@include respond-to("large") {
  .background__tindung {
    height: 3000px;
    .tindung__content {
      .tindung__title {
        width: 100%;
      }
      .row {
        margin-bottom: 60px;
        .tindung__box {
          font-size: 25px;
          margin-bottom: 40px;
        }
        .col-lg-1 {
          .arrow {
            display: none;
            visibility: hidden;
          }
        }
        .col-lg-6 {
          padding-left: 0px;
          .tindung__mota {
            font-size: 20px;
          }
        }
        .col__box {
          margin-bottom: 40px;
          height: 150px;
          .col__icon {
            margin-right: 30px;
          }
          .col__content {
            @include text(#26578d, 26px, $fw-1 + 200, $fm-2);
          }
        }
      }
    }
  }
}

@include respond-to("medium") {
  .background__tindung {
    .tindung__content {
      .row {
        .col__box {
          .col__icon {
            img {
              width: 100px;
              height: 60px;
            }
          }
        }
        .border__tindung {
          display: none;
          visibility: hidden;
        }
      }
    }
  }
}
