<section class="drl-header">
    <div class="drl-header-content">ĐÁNH GIÁ RÈN LUYỆN SINH VIÊN</div>
</section>

<section class="drl-body">
    <div class="container">
        <div class="drl-body-title">Việc đánh giá kết quả rèn luyện của sinh viên
            được tiến hành định kỳ theo học kỳ, năm học và toàn khóa học</div>
        <div class="drl-body-subtitle">Phòng Công tác chính trị thông báo kế hoạch đánh giá điểm rèn luyện sinh viên
            theo từng học kỳ. Sinh viên vào
            tài khoản cá nhân để thực hiện đánh giá điểm rèn luyện sinh viên theo khung điểm đánh giá sau</div>

        <div class="drl-row">
            <div class="drl-round-box">Từ 0 đến 20 điểm</div>
            <img class="drl-sticky-rec" src="../../../../assets/img/HocTapUeh/Rectangle 5.png">
            <div class="drl-row-content">Đánh giá về ý thức tham gia học tập</div>
        </div>

        <div class="drl-row">
            <div class="drl-round-box">Từ 0 đến 25 điểm</div>
            <img class="drl-sticky-rec" src="../../../../assets/img/HocTapUeh/Rectangle 5.png">
            <div class="drl-row-content">Đánh giá về ý thức chấp hành nội quy, quy chế, quy định trong nhà trường</div>
        </div>

        <div class="drl-row">
            <div class="drl-round-box">Từ 0 đến 20 điểm</div>
            <img class="drl-sticky-rec" src="../../../../assets/img/HocTapUeh/Rectangle 5.png">
            <div class="drl-row-content">Đánh giá về ý thức tham gia các hoạt động chính trị, xã hội, văn hóa, văn nghệ,
                thể thao, phòng chống tội phạm và các tệ nạn xã hội</div>
        </div>

        <div class="drl-row">
            <div class="drl-round-box">Từ 0 đến 25 điểm</div>
            <img class="drl-sticky-rec" src="../../../../assets/img/HocTapUeh/Rectangle 5.png">
            <div class="drl-row-content">Đánh giá về ý thức công dân trong quan hệ cộng đồng</div>
        </div>

        <div class="drl-row">
            <div class="drl-round-box">Từ 0 đến 10 điểm</div>
            <img class="drl-sticky-rec" src="../../../../assets/img/HocTapUeh/Rectangle 5.png">
            <div class="drl-row-content">Đánh giá về ý thức và kết quả tham gia công tác cán bộ lớp, các đoàn thể, tổ
                chức khác trong nhà trường hoặc sinh viên đạt được thành tích đặc biệt trong học tập, rèn luyện</div>
        </div>

        <a style="text-decoration: none;" href="http://ctct.ueh.edu.vn/RLSV/UEH_QDRLSV_2015_QuyDinh.pdf" target="_blank">
            <div class="drl-shape">Tham khảo</div>
        </a>

        <div class="drl-body-title">Phân loại kết quả rèn luyện của sinh viên</div>
        <img class="drl-main-img" src="../../../../assets/img/HocTapUeh/212-Phan-loai.png">
        <div class="drl-body-title">Sử dụng kết quả rèn luyện</div>
        <div class="drl-rec">
            <div class="drl-rec-content">Kết quả rèn luyện được sử dụng để</div>
            <div class="drl-inline">
                <div class="drl-box">
                    <img class="drl-img-box" src="../../../../assets/img/HocTapUeh/folder.png">
                    <div class="drl-rec-blue"></div>
                    <p>Lưu trong hồ sơ sinh viên</p>
                </div>

                <div class="drl-box">
                    <img class="drl-img-box" src="../../../../assets/img/HocTapUeh/resume.png">
                    <div class="drl-rec-blue"></div>
                    <p>Ghi chung vào bảng điểm kết quả học tập khi tốt nghiệp ra trường</p>
                </div>

                <div class="drl-box">
                    <img class="drl-img-box" src="../../../../assets/img/HocTapUeh/diploma.png">
                    <div class="drl-rec-blue"></div>
                    <p>Xét khen thưởng sinh viên</p>
                </div>

                <div class="drl-box">
                    <img class="drl-img-box" src="../../../../assets/img/HocTapUeh/diploma (1).png">
                    <div class="drl-rec-blue"></div>
                    <p>Xét học bổng sinh viên</p>
                </div>

                <div class="drl-box">
                    <img class="drl-img-box" src="../../../../assets/img/HocTapUeh/212smartphone.png">
                    <div class="drl-rec-blue"></div>
                    <p>Xét kỷ luật sinh viên</p>
                </div>
            </div>
        </div>
    </div>
</section>