<section class="cover__clb">
    <div class="cover__content">BAN CHUYÊN MÔN/ <br> CÂU LẠC BỘ/ <br> ĐỘI/NHÓM</div>
</section>

<section class="background__clb">
    <div class="clb__content">

        <div class="row__title">
            Ban chuyên môn
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/ht.nckh.qhqt/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/17492401_1585665888114955_6239305093302270655_o.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        Ban Học tập - Nghiên cứu khoa học - Quan hệ quốc tế Đoàn trường UEH
                    </div>
                </div>

                <!-- <div class="box__clb" (click)="onNavigate('https://www.facebook.com/youthueh/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/Logo_Doan_1000x1000_copy.png" alt="">
                    </div>
                    <div class="box__content">
                        Ban Tổ chức - Xây dựng Đoàn
                    </div>
                </div> -->
            </div>
            <div class="col-md-4">
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/BPTUEH/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/12370873_885060034948006_7175305874980745223_o.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        Ban Phong trào - Tình nguyện UEH
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/tnhtsv.ueh')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/logo_ban_tinh_nguyen.png" alt="">
                    </div>
                    <div class="box__content">
                        Ban Tình Nguyện - Hỗ Trợ sinh viên UEH
                    </div>
                </div>

                <!-- <div class="box__clb" (click)="onNavigate('https://www.facebook.com/youthueh')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/Logo_HSV_1000x1000_copy.png" alt="">
                    </div>
                    <div class="box__content">
                        Ban Tổ chức - Xây dựng Hội UEH
                    </div>
                </div> -->
            </div>
        </div>
        <div class="row" style="justify-content: center;">
            <div class="col-md-4">
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/youthueh/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/Logo_Doan_1000x1000_copy.png" alt="">
                    </div>
                    <div class="box__content">
                        Ban Tổ chức - Xây dựng Đoàn
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/youthueh')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/Logo_HSV_1000x1000_copy.png" alt="">
                    </div>
                    <div class="box__content">
                        Ban Tổ chức - Xây dựng Hội UEH
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="space"></div> -->

        <div class="row__title">
            Cấp Trường
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="box__clb box__customize">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/Logo_Doan_1000x1000.png" alt="">
                    </div>
                    <div class="box__number">
                        02
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="box__clb space-top" (click)="onNavigate('https://www.facebook.com/dynamicueh')">
                    <div class="box__icon" style="margin: 0 auto">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/18011040_1315317655188984_7099163455333037527_n.png"
                            alt="">
                    </div>
                    <!-- <div class="box__content">
                        CLB Dynamic UEH
                    </div> -->
                </div>


            </div>
            <div class="col-md-4">
                <div class="box__clb space-top">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/311042_164546396969377_2055616342_n.png"
                            alt="">
                    </div>
                    <div class="box__content" (click)="onNavigate('https://www.facebook.com/chuyentonho')">
                        CLB Chuyện to nhỏ
                    </div>
                </div>
            </div>
        </div>

        <div class="space"></div>

        <div class="row">
            <div class="col-md-4">
                <div class="box__clb box__customize">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/Logo_HSV_1000x1000.png" alt="">
                    </div>
                    <div class="box__number">
                        11
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/bellueh')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/20992854_1567750243276312_2839531094716372955_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Anh Văn (BELL Club)
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/UEHVOLLEYBALL/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/26231714_1945733965455074_8694006454808152214_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Bóng chuyền
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/pg/clbdanca.ueh/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/29258273_751011191758874_1272886398825909491_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Dân ca
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/clbgiaidieutre/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/53439629_2314000361964961_550389197010108416_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Giai điệu trẻ
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/uehgclub/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/32854764_1751193324940589_4529262864417947648_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Guitar
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/clbtiengphapueh/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/21150436_1768620899819452_2045273707347900285_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Tiếng Pháp
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/VothuatDHKT/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/1236280_346063202195015_494249103_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Võ thuật
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/CTVUEH/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/13906871_1059502100752147_5095547047400560672_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        Đội Cộng tác viên
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/congtacxahoi/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/14199765_1373509702677615_7122387745949749566_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        Đội Công tác xã hội
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/vnxkueh/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/43211786_1895467487175001_7014858870673637376_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        Đội Văn nghệ xung kích
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/scoms.ueh/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/LogoScomsDo.png" alt="">
                    </div>
                    <div class="box__content">
                        Nhóm Truyền thông sinh viên (S Communications)
                    </div>
                </div>


            </div>
        </div>

        <div class="row__title">
            Cấp Khoa
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/margroup.ueh/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/05Margroup.png" alt="">
                    </div>
                    <div class="box__content">
                        Nhóm Sinh viên nghiên cứu Marketing (Margroup)
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/travelgroup.ueh/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/48404290_1220863468067539_9175933002083991552_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        Nhóm Sinh viên nghiên cứu du lịch (Travelgroup)
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/ic.ueh/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/logo-IC.png" alt="">
                    </div>
                    <div class="box__content">
                        CLB Thương mại
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/ueh.ibc')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/10350996_10152933311819935_5455442232768498883_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Kinh doanh quốc tế
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/taxgroup.ueh/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/16684092_1256123974467680_6320294630774221147_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        Nhóm Sinh viên nghiên cứu thuế (TaxGroup)
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/HuReAClub/')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/64459296_2805191672831276_3476468824281186304_o.jpg"
                            alt="" width="107" width="106">
                    </div>
                    <div class="box__content">
                        CLB Chuyên viên Nhân sự tập sự
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/NhomSFR.ueh')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/48099909_2210625158968529_5810532611897950208_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        Nhóm Sinh viên nghiên cứu tài chính (SFR)
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/ssg.ueh')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/42919052_1900162080063867_1321650265492815872_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        Nhóm Hỗ trợ sinh viên (SSG)
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/CLBA2C')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/16142903_1304807622940082_6482726386799106598_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Kế toán – Kiểm toán (A2C)
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/clbscue')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/14333580_1301907499819866_3642815500592367562_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Chứng khoán (SCUE)
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/clbyore/?nr')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/51520261_1568933416543183_3267533298284363776_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB nghiên cứu kinh tế trẻ (YoRE)
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/CLBBatDongSanRECUEH')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/27654934_1701740113220826_2335646858340981456_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Bất động sản (REC)
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/ClbNhanSuKhoiNghiep.ueh')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/14184412_552416618281202_5269943905560148782_n(không_nền).png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Nhân sự - Khởi nghiệp
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/vietnam.legal.club')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/35390769_1763304100419975_7454974967042539520_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Pháp lý
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/llt.ueh')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/60886153_2367859183278576_1953217926400049152_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Lý luận trẻ
                    </div>
                </div>
                <div class="box__clb" (click)="onNavigate('https://www.facebook.com/AppleUEH')">
                    <div class="box__icon">
                        <img src="../../../../assets/img/SanChoiTaiUeh/ClbDoiNhom/22308601_1150401438395258_7775369215708915335_n.png"
                            alt="">
                    </div>
                    <div class="box__content">
                        CLB Tiếng Anh (Apple Club)
                    </div>
                </div>
            </div>
        </div>

        <app-carousel [images]="images"></app-carousel>
    </div>
</section>