<section class="cover__clb">
  <div class="cover__content">CÁC CÂU LẠC BỘ/ <br>ĐỘI/NHÓM</div>
</section>


<section class="background__clb">
  <div class="clb__content">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
    </div>

    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
    </div>

    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</section>