<section class="thu-vien-header">
    <div class="thu-vien-header-content">Thư viện UEH</div>
</section>

<section class="thu-vien-body">
    <div class="container">
        <div class="gioi-thieu-thu-vien">
            <div class="gioi-thieu-title">Giới thiệu về thư viện</div>
            <img class="thu-vien-img" src="../../../../assets/img/HocTapUeh/thuVienGioiThieu.png" alt="">

            <div class="gioi-thieu-box">
                <div class="gioi-thieu-box-row">
                    <img class="row-image" src="../../../../assets/img/HocTapUeh/thuVienViTri.png">
                    <div class="box-title">Vị trí</div>
                </div>
                <div class="box-content">Cơ sở B, 279 Nguyễn Tri Phương, Phường 5, Quận 10, TP. Hồ Chí Minh</div>
            </div>

            <div class="gioi-thieu-box-dien-tich">
                <div class="gioi-thieu-box-row">
                    <img class="row-image" src="../../../../assets/img/HocTapUeh/thuVienDienTich.png">
                    <div class="box-title">Diện tích</div>
                </div>
                <div class="box-content">1,446 m<sup>2</sup></div>
            </div>

            <div class="gioi-thieu-box-cho-ngoi">
                <div class="gioi-thieu-box-row">
                    <img class="row-image" src="../../../../assets/img/HocTapUeh/thuVienChoNgoi.png">
                    <div class="box-title">Chỗ ngồi</div>
                </div>
                <div class="box-content">536 chỗ</div>
            </div>

            <div class="gioi-thieu-box-so-phong">
                <div class="gioi-thieu-box-row">
                    <img class="row-image" src="../../../../assets/img/HocTapUeh/thuVienSoPhong.png">
                    <div class="box-title">Số phòng</div>
                </div>
                <div class="box-content">
                    <li>4 phòng đọc</li>
                    <li>3 phòng học nhóm</li>
                    <li>2 phòng tự học</li>
                </div>
            </div>

            <div class="gioi-thieu-box-dich-vu">
                <div class="gioi-thieu-box-row">
                    <img class="row-image" src="../../../../assets/img/HocTapUeh/thuVienDichVu.png">
                    <div class="box-title">Dịch vụ thư viện</div>
                </div>
                <div class="box-content">
                    <li>Dịch vụ đặt phòng học nhóm</li>
                    <li>Dịch vụ mượn trả tài liệu</li>
                    <li>Dịch vụ đặt mượn tài liệu</li>
                    <li>Dịch vụ tổ chức hướng dẫn kỹ năng thư viện</li>
                    <li>Dịch vụ tài liệu môn học (theo yêu cầu giảng viên)</li>
                    <li>Dịch vụ tham khảo (dành cho sinh viên bậc đại học)</li>
                    <li>Dịch vụ hỗ trợ nghiên cứu (dành cho học viên sau đại học)</li>
                </div>
            </div>
            <!-- <div class="gioi-thieu-final-box">Giới thiệu</div> -->
            <a href="http://lib.ueh.edu.vn/en/about-us" target="_blank">
                <button class="btn btn-primary btn-gioi-thieu-custom">Giới thiệu</button>
            </a>
        </div>


        <div class="nguon-hoc-lieu">
            <div class="nguon-hoc-lieu-title">Nguồn học liệu <br />
                <p class="thoi-gian">(tính đến ngày 05/08/2019)</p>
            </div>
            <div class="nguon-hoc-lieu-rectangle">
                <li>Các bộ sưu tập bản in (Print collections) : 64.378 tài liệu bản in (bao gồm: sách, tạp chí, tài liệu
                    tra
                    cứu, luận văn, luận án, đề tài nghiên cứu khoa học, tài liệu môn học)</li>
                <br />
                <li>Các bộ sưu tập bản điện tử (E-Collections): 146 bộ sưu tập
                    <br /> <br />
                    <div class="nguon-hoc-lieu-in-box">
                        + 261.891 eBooks trong 06 cơ sở dữ liệu sách điện tử: eBook Academic Collection (EBSCO), eBook
                        Business
                        Collection (EBSCO), eBook Harvard Business Review Press Collection; eBook University Press
                        Collection;
                        iG
                        Library; ProQuest Ebook Central. <br /> <br />
                        + 56.680 eJournals trong 06 cơ sở dữ liệu báo, tạp chí điện tử: Business Source Complete
                        (EBSCO),
                        Academic
                        Search Complete (EBSCO), Legal Source (EBSCO), Hospitality & Tourism Complete (EBSCO);
                        ScienceDirect;
                        Emerald Insight <br /> <br />
                        + Và vài triệu tài liệu điện tử trong 133 cơ sở dữ liệu học liệu mở khác.
                    </div>
                </li>
                <br />
                <li>Bộ sưu tập tài liệu nội sinh điện tử (UEH Repository): 14.164 tài liệu, gồm các công bố quốc tế,
                    luận
                    văn,
                    luận án, đề tài nghiên cứu khoa học, tài liệu hội thảo, bài báo thuộc tạp chí JABES của UEH (Journal
                    of
                    Asian Business and Economic Studies)</li>
            </div>

        </div>
        <a href="http://lib.ueh.edu.vn/en/how-to/how-use-ueh-libray" target="_blank" style="text-decoration: none;">
            <div class="thu-vien-blue-box">
                Hướng dẫn sử dụng thư viện UEH
            </div>
        </a>
        <a href="http://lib.ueh.edu.vn/en/how-to/how-use-eds-0" target="_blank" style="text-decoration: none;">
            <div class="thu-vien-blue-box">
                Hướng dẫn tìm kiếm và
                truy cập cơ sở dữ liệu điện tử
            </div>
        </a>

    </div>
</section>