<section class="cover__tindung">
    <div class="cover__content">
        <span> Tín dụng <br>HỌC TẬP </span>
        <br> Mục đích: tạo điều kiện cho người học
        <br> hoàn thành nghĩa vụ đóng học phí đúng kỳ hạn theo thông báo.
    </div>
</section>

<section class="background__tindung">
    <div class=" tindung__content">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="tindung__box">
                    Đối tượng tham gia
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="tindung__mota">
                    <ul>
                        <li>
                            Sinh viên còn trong thời gian đào tạo chính thức của khóa học
                        </li>
                        <li>
                            Chưa tham gia vay vốn tại các tổ chức tín dụng khác.
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="tindung__box">
                    Phương thức
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="tindung__mota">
                    <ul>
                        <li>
                            Số tiền vay: là số tiền đóng học phí trong học kỳ.
                        </li>
                        <li>
                            Thời gian vay: tối đa 03 tháng (kể từ ngày được giải ngân).
                        </li>
                        <li>
                            Lãi suất vay: 9,5%/năm (áp dụng cho năm 2019).
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="tindung__box">
                    Quy định đối với người vay
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="tindung__mota">
                    <ul>
                        <li>
                            Thực hiện theo quy định của Ngân hàng cho vay (hồ sơ vay với Ngân hàng)
                        </li>
                        <li>
                            Thực hiện theo giấy đề nghị bảo lãnh vay vốn của người vay với Trường Đại học Kinh tế TP. Hồ Chí Minh (UEH) 
                            <br>(Chi tiết xem tại địa chỉ trang web Trung tâm Hỗ trợ sinh viên http://tthtsv.ueh.edu.vn).
                        </li>
                    </ul>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="tindung__box">
                    Quy định hồ sơ vay
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="tindung__mota">
                    <ul>
                        <li>
                            Có đầy đủ các hồ sơ cần nộp theo hướng dẫn thủ tục nhập học trong Giấy triệu tập trúng tuyển
                        </li>
                        <li>
                            Có đầy đủ hồ sơ vay của Ngân hàng TMCP Phương Đông (OCB) (theo mẫu, download tại địa chỉ trang web Trung tâm Hỗ trợ sinh viên: http://tthtsv.ueh.edu.vn, mục: Hỗ trợ sinh viên/ Học bổng - Tín dụng học tập)
                        </li>
                        <li>
                            Giấy đề nghị bảo lãnh vay vốn của người học với UEH (theo mẫu, download tại địa chỉ trang web Trung tâm Hỗ trợ sinh viên: http://tthtsv.ueh.edu.vn, mục: Hỗ trợ sinh viên/ Học bổng - Tín dụng học tập).
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

</section>