<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/img/TongQuanUeh/logo.jpg" width="100" height="100" alt="" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar" aria-controls="mynavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mynavbar">
    <ul class="navbar-nav">
      <li *ngFor="let item of ListNavbar" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLinkActive="router-link-active" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false" [routerLink]="item.path">{{item.title}}</a>


        <div *ngIf="item.childrenPath.length > 0" class="dropdown-menu">
          <a *ngFor="let subItem of item.childrenPath" [routerLink]="item.path+subItem.path"
            routerLinkActive="router-link-active" class="dropdown-item" (click)="collapseNavbar()">{{subItem.title}}</a>
        </div>
      </li>
    </ul>
    <form class="form-inline form-search">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
      <a class="form-button">
        <img src="../../../assets/img/TongQuanUeh/magnifying-glass.png" alt="" width="30" height="30" />
      </a>
    </form>
  </div>
</nav>