<section class="dkhp-header">
    <div class="dkhp-title">ĐĂNG KÝ HỌC PHẦN <br />
        HỦY HỌC PHẦN</div>
</section>
<section class="dkhp-body">
    <div class="container">
        <div class="dkhp-body-title chuan-bi">Chuẩn bị</div>
        <img class="note-book" src="assets/img/HocTapUeh/notebook.png">
        <div class="dkhp-box top-position">
            <div class="dkhp-box-content">Sinh viên xem thông báo đăng ký học phần tại website:
                <li><a href="http://daotao.ueh.edu.vn/" target="_blank">http://daotao.ueh.edu.vn/</a> mục “Đăng ký học
                    phần”</li>
                <li>hoặc <a href="http://online.ueh.edu.vn/" target="_blank">http://online.ueh.edu.vn/</a> “Thông báo
                    đăng ký và đóng học
                    phí”</li>
            </div>
        </div>
        <div class="dkhp-box mid-position">
            <div class="dkhp-box-content">Sinh viên xem thời khóa biểu dự kiến (các lớp học phần dự kiến được mở trong
                học
                kì) tại website của phòng Kế hoạch đào tạo - Khảo thí <a href="http://khdtkt.ueh.edu.vn/"
                    target="_blank">http://khdtkt.ueh.edu.vn/</a></div>
        </div>
        <div class="dkhp-box bot-position">
            <div class="dkhp-box-content">Thời gian dự kiến thông báo kế hoạch đăng ký học phần</div>
            <img class="box-img" src="assets/img/HocTapUeh/dkhp-chuan-bi.png">
        </div>
        <div class="dkhp-body-title dang-ky">Đăng ký học phần</div>

        <div class="dkhp-number t-320">
            <div class="dkhp-rectangle"></div>
            <div class="dkhp-one">01</div>
        </div>

        <div class="dkhp-one-content two">
            Sinh viên chọn mục “Đăng ký học phần”
        </div>

        <div class="dkhp-number t-342">
            <div class="dkhp-rectangle"></div>
            <div class="dkhp-one">02</div>
        </div>
        <div class="dkhp-one-content two">
            Sau khi chuyển đến trang đăng ký, sinh viên di chuyển đến cuối trang web và chọn mục “Đăng ký học phần”
            <br />
            Sinh viên đăng ký học lại, học cải thiện điểm thực hiện chọn mục tương ứng.
            <div class="dkhp-rec-inside">
                <img class="rec-img" src="assets/img/HocTapUeh/Dang-ky-hoc-phan-1.png">
            </div>
        </div>


        <div class="dkhp-number t-342">
            <div class="dkhp-rectangle"></div>
            <div class="dkhp-one">03</div>
        </div>
        <div class="dkhp-one-content two">
            Sinh viên đăng ký bằng cách chọn biểu tượng tại cột “Đăng ký lớp học phần” với từng môn tương ứng.
            <div class="dkhp-rec-inside">
                <img class="rec-img" src="assets/img/HocTapUeh/Dang ky hoc phan 2.png">
            </div>
            <br />
            1. Chọn lớp tại cột “Chọn”
            <br />
            2. Chọn “Đăng ký” để lưu dữ liệu
            <br />
            3. Chọn “Quay lại danh sách môn học” để tiếp tục đăng ký môn khác.

            <br /> <br />
            Trường hợp sinh viên muốn xóa học phần đă đăng ký: chọn “Xóa đăng ký” với từng môn tương ứng trong “Danh
            sách
            học phần đăng ký thành công”
            <div class="dkhp-rec-inside">
                <img class="rec-img" src="assets/img/HocTapUeh/Dang ky hoc phan 3.png">
            </div>
        </div>

        <div class="dkhp-number t-342">
            <div class="dkhp-rectangle"></div>
            <div class="dkhp-one">04</div>
        </div>
        <div class="dkhp-one-content two">
            Sinh viên chọn mục “In phiếu đóng tiền” để kiểm tra lại danh sách học phần đã đăng ký và tổng học phí cần
            đóng.
        </div>

        <div class="dkhp-body-title kiem-tra">Kiểm tra cập nhật học phí</div>
        <div class="out-content check">Sinh viên kiểm tra việc thanh toán học phí tại mục “Tài khoản sinh viên” bằng
            cách chọn “Năm học” và “Học kỳ” tương ứng. Số tiền phòng Tài chính - Kế toán nhận sẽ thể hiện tại cột “Số
            tiền
            trả” và “Tổng trả”.</div>
        <div class="bit-rec">
            <p>Màn hình chưa cập nhật học phí</p>
            <img class="bit-rec-img" src="assets/img/HocTapUeh/Dang ky hoc phan 4.png">
        </div>
        <div class="bit-rec">
            <p>Màn hình đã cập nhật học phí</p>
            <img class="bit-rec-img" src="assets/img/HocTapUeh/Dang ky hoc phan 5.png">
        </div>

        <div class="dkhp-body-title final-title">Hướng dẫn xử lý trường hợp lớp học phần bị hủy</div>
        <div class="out-content final">Kết thúc thời gian nộp học phí, phòng Kế hoạch đào tạo – Khảo thí thông báo thời
            khóa biểu chính thức. Những lớp học phần không đủ số lượng tối thiểu để mở lớp sẽ bị hủy. <br />
            Sinh viên có lớp học phần bị “Hủy” thực hiện chuyển lớp học phần theo thông báo của phòng QLĐT - CTSV trên
            website <a href="http://daotao.ueh.edu.vn/">http://daotao.ueh.edu.vn</a>. Trường hợp, sinh viên không tìm
            được lịch học phù hợp để chuyển lớp hoặc không còn nhu cầu học, phòng QLĐT - CTSV sẽ chuyển danh sách đến
            phòng Tài chính – Kế toán để hoàn trả học phí cho sinh viên.</div>
    </div>
</section>
