<section class="kltn-header">
    <div class="dktn-header-content">Điều kiện xét và công nhận tốt nghiệp</div>
</section>
<section class="dktn-body">
    <div class="container">
        <div class="dktn-body-title">Sinh viên được công nhận và cấp bằng tốt nghiệp
            hệ chính quy nếu hội đủ các điều kiện sau
        </div>
        <div class="dktn-box">
            <img class="dktn-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="dktn-para">Cho đến thời điểm xét tốt nghiệp không bị kỷ luật đình chỉ học tập và không bị truy cứu
                trách nhiệm hình sự</p>
        </div>
        <div class="dktn-box">
            <img class="dktn-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="dktn-para mt-15">Đạt điều kiện ngoại ngữ theo quy định</p>
        </div>
        <div class="dktn-box">
            <img class="dktn-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="dktn-para">Tích lũy đủ số học phần (đủ số tín chỉ) quy định cho chương trình đào tạo của chuyên ngành</p>
        </div>
        <div class="dktn-box">
            <img class="dktn-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="dktn-para mt-35">Điểm trung bình chung tích lũy của toàn khóa học đạt từ 5,00 trở lên</p>
        </div>
        <div class="dktn-rec">
                Mỗi học kỳ chính, Hội đồng xét tốt nghiệp Đại học chính quy tiến hành xem xét và thông qua danh sách những sinh viên đủ điều kiện tốt nghiệp. Dựa trên đề nghị của Hội đồng xét tốt nghiệp Đại học chính quy, Hiệu trưởng ban hành quyết định công nhận tốt nghiệp.
                <br/> <br/>
                Sinh viên tốt nghiệp được nhận bằng tốt nghiệp đại học chính quy và bảng điểm tốt nghiệp. Trong bảng điểm ghi chi tiết tất cả kết quả học tập của sinh viên theo từng học phần, các thông tin về ngành đào tạo, bằng cấp và kết quả rèn luyện toàn khóa học của sinh viên tốt nghiệp.
        </div>
    </div>
</section>