<section class="cover">
    <div class="cover__content">Văn hóa<br />UEH</div>
</section>

<section class="container giatri__cotloi">
    <div class="giatri__title">
        Những giá trị cốt lõi
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 box__giatri">
            <div class="wrap">
                <div class="box__number">
                    1
                </div>
                <div class="box__content">
                    Tự hào phát huy truyền thống UEH
                </div>
            </div>

        </div>
        <div class="col-md-3 col-sm-12 box__giatri">
            <div class="wrap">
                <div class="box__number">
                    2
                </div>
                <div class="box__content">
                    Tôn sư trọng đạo, sống có nghĩa tình
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 box__giatri">
            <div class="wrap">
                <div class="box__number">
                    3
                </div>
                <div class="box__content">
                    Đoàn kết, tương trợ lẫn nhau
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 box__giatri">
            <div class="wrap">
                <div class="box__number">
                    4
                </div>
                <div class="box__content">
                    Phát triển hài hòa cùng cộng đồng
                </div>
            </div>
        </div>
    </div>
</section>

<section class="nentang">
    <div class="nentang__title">
        Hệ thống giá trị nền tảng
    </div>
    <div class="nentang__img">
        <div class="box__giatri box--1">
            <div class="wrap">
                <div class="box__number">
                    2
                </div>
                <div class="box__content">
                    Giá trị tương lai
                </div>
            </div>
        </div>

        <div class="box__giatri box--2">
            <div class="wrap">
                <div class="box__number">
                    1
                </div>
                <div class="box__content">
                    Giá trị truyền thống
                </div>
            </div>
        </div>
        <div class="box__giatri box--3">
            <div class="wrap">
                <div class="box__number">
                    3
                </div>
                <div class="box__content">
                    Văn hóa nghiên cứu khoa học
                </div>
            </div>
        </div>
        <div class="box__giatri box--4">
            <div class="wrap">
                <div class="box__number">
                    4
                </div>
                <div class="box__content">
                    Văn hóa ứng &nbsp;xử
                </div>
            </div>
        </div>
    </div>
</section>

<section class="quytac">
    <div class="container quytac__section">
        <div class="quytac__title">
            Quy tắc ứng xử của người học
        </div>
        <div class="quytac__box">
            Quy tắc ứng xử chung
        </div>

        <div class="row quytac__content">
            <div class="col-md-6 quytac__left">
                <div class="col__icon">
                    <img src="../../../../assets/img/TongQuanUeh/VanHoaUeh/positive-vote.png" alt="">
                </div>
                <div class="col__content">
                    <ul>
                        <li>Thực hiện văn hóa UEH với những giá trị cốt lõi.</li>
                        <li>Trang phục lịch sự, đeo thẻ sinh viên.</li>
                        <li>Tác phong chỉnh tề; thái độ hòa nhã, khiêm tốn, tôn trọng.</li>
                        <li>Tự giác chấp hành và vận động người học khác chấp hành quy chế, quy định.</li>
                        <li>Tôn trọng và bảo vệ uy tín của UEH. </li>
                        <li>Không phân biệt đối xử.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 quytac__right">
                <div class="col__icon">
                    <img src="../../../../assets/img/TongQuanUeh/VanHoaUeh/positive-vote.png" alt="">
                </div>
                <div class="col__content">
                    <ul>
                        <li>Không xúc phạm người khác.</li>
                        <li>Không quấy rối người khác dưới mọi hình thức.</li>
                        <li>Không tham gia các hoạt động tệ nạn xã hội.</li>
                        <li>Không truyền bá tôn giáo.</li>
                        <li>Không tham gia hoạt động trái pháp luật.</li>
                        <li>Bảo vệ tài sản UEH.</li>
                        <li>Có ý thức tổ chức.</li>
                        <li>Bảo vệ môi trường.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>