<section class="cover">
  <div class="cover__content">Văn hóa<br />UEH</div>
</section>

<section class="container giatri__cotloi">
  <div class="giatri__title">
    Những giá trị cốt lõi
  </div>
  <div class="row">
    <div class="col-md-3 box__giatri">
      <div class="box__number">
        1
      </div>
      <div class="box__content">
        Tự hào phát huy truyền thống UEH
      </div>
    </div>
    <div class="col-md-3 box__giatri"></div>
    <div class="col-md-3 box__giatri"></div>
    <div class="col-md-3 box__giatri"></div>
  </div>
</section>
