<section class="bg-tsv">
  <div class="tsv-title">Thẻ sinh viên</div>
  <div class="tsv-content">Thẻ sinh viên được tích hợp thẻ ghi nợ nội địa <br /> đồng thương hiệu UEH - OCB</div>
</section>
<section class="tsv-main-body">
  <div class="container">
    <div class="tsv-main-title">
      Công dụng của thẻ sinh viên
    </div>
    <div class="row">
      <div class="tsv-dashed-box"></div>
      <div class="tsv-dashed-box-inbound"></div>
    </div>
    <div class="row tsv-main-content">
      <div class="col-md-3">
        <div class="circle"></div>
        <p class="tsv-content-para">
          Thẻ nhận diện sinh viên tại UEH khi tham gia các hoạt động học tập, nghiên cứu,
          phong trào
        </p>
      </div>
      <div class="col-md-3">
        <div class="circle circle-pink"></div>
        <p class="tsv-content-para pink">
          Thẻ nhận diện sinh viên để ra vào các cơ sở, KTX, phòng học trên hệ thống
        </p>
      </div>
      <div class="col-md-3">
        <div class="circle"></div>
        <p class="tsv-content-para">Thẻ thanh toán các dịch vụ tại UEH</p>
      </div>
      <div class="col-md-3">
        <div class="circle circle-pink"></div>
        <p class="tsv-content-para pink">Thẻ ưu đãi dành cho sinh viên khi sử dụng các dịch vụ công cộng…</p>
      </div>
    </div>

    <div class="tsv-mat-the">
      <div class="col-md-6">
        <img src="assets/img/HocTapUeh/FrontCardsBox.png" alt="">
      </div>
      <div class="col-md-6">
        <div class="col-md-12 mat-the-title">Trong trường hợp mất thẻ, <br /> sinh viên thực hiện</div>
        <div class="col-md-12 mat-the-box">
          <p>
            Bước 1: Gọi số hotline OCB (1800 6678) để báo mất và yêu cầu khóa thẻ.
            <br /><br />
            Bước 2: Liên hệ trực tiếp Phòng Công nghệ thông tin (A2.03) để được cấp lại thẻ mới.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
