<section class="ct2-header">
    <div class="ct2-header-title">CHƯƠNG TRÌNH
        ĐÀO TẠO THỨ 2</div>
</section>
<section class="ct2-body">
    <div class="container">
        <div class="ct2-body-title">Đối tượng</div>
        <div class="ct2-body-subtitle">Sinh viên Đại học chính quy có nhu cầu đăng ký học chương trình đào tạo thứ 2,
            theo một trong hai hình thức sau</div>
        <div class="ct2-dashed-box ct2-h-100 ct2-t-l-52"></div>
        <div class="ct2-inline-area ct-t-l-15">
            <div class="ct2-round-blue">Hình thức đào tạo song ngành</div>
            <div class="ct2-round-blue">Hình thức đào tạo song chuyên ngành</div>
        </div>
        <div class="ct2-inline-area ct2-t-l-78">
            <div class="ct2-dashed-box ct2-t-l-27 ct2-h-100"></div>
            <div class="ct2-dashed-box ct2-t-l-35 ct2-h-100"></div>
        </div>
        <div class="ct2-inline-area ct2-t-145">
            <div class="ct2-rec">Đào tạo song ngành là hình thức sinh viên đăng ký học thêm một ngành thứ hai, khác với
                ngành đang theo học (ngành thứ nhất).</div>
            <div class="ct2-rec">Sinh viên tốt nghiệp ngành thứ hai được nhận thêm bằng tốt nghiệp ĐHCQ và bảng điểm tốt
                nghiệp, ngoài ngành tốt nghiệp
                thứ nhất.</div>
            <div class="ct2-rec">Đào tạo song chuyên ngành là hình thức sinh viên đăng ký học thêm một chuyên ngành thứ
                hai khác với chuyên ngành thứ nhất đang theo học (2 chuyên ngành thuộc cùng 1 ngành đào tạo).</div>
            <div class="ct2-rec">Đối với học phần khóa luận tốt nghiệp của chuyên ngành thứ hai, sinh viên được chuyển
                điểm khóa luận tốt nghiệp từ chuyên ngành thứ nhất.</div>
            <div class="ct2-rec">Sau khi được xét công nhận hoàn thành chuyên ngành thứ hai, sinh viên được nhận thêm
                bảng điểm tốt nghiệp của chuyên ngành thứ hai.</div>
        </div>
        <div class="ct2-inline-area ct2-t-145 ct2-t-l-420">
            <img class="ct2-circle-img" src="../../../../assets/img/HocTapUeh/circle-blue.png" alt="">
            <img class="ct2-circle-img" src="../../../../assets/img/HocTapUeh/circle-purple.png" alt="">
            <img class="ct2-circle-img" src="../../../../assets/img/HocTapUeh/circle-blue.png" alt="">
            <img class="ct2-circle-img" src="../../../../assets/img/HocTapUeh/circle-purple.png" alt="">
            <img class="ct2-circle-img" src="../../../../assets/img/HocTapUeh/circle-pink.png" alt="">
        </div>

        <div class="ct2-body-title ct2-t-130">Điều kiện</div>
        <div class="ct2-body-subtitle ct2-blue ct2-t-130">Điểm trung bình tích lũy (tính đến thời điểm đăng ký) đạt từ
            5.0 trở lên</div>
        <div class="ct2-body-title ct2-t-130">Quy trình đăng ký</div>
        <div class="row ct2__row">
            <div class="col-md-5">
                <div class="ct2__box">
                    <div class="box__content">
                        <div class="left">
                            <img src="../../../../assets/img/DongHanhUeh/CoVanHocTap/01.png" alt="">
                        </div>
                        <div class="right">
                            Tải mẫu phiếu đăng ký học chương trình thứ 2 tại <a
                                href="http://daotao.ueh.edu.vn/bieu-mau/1"
                                target="_blank">http://daotao.ueh.edu.vn/bieu-mau/1</a> và
                            điền
                            đầy đủ thông tin
                        </div>
                    </div>
                    <div class="border__ct2"></div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="ct2__box">
                    <div class="box__content">
                        <div class="left">
                            <img src="../../../../assets/img/DongHanhUeh/CoVanHocTap/02.png" alt="">
                        </div>
                        <div class="right">
                            Nộp giấy đề nghị tại Phòng QLĐT - CTSV (A0.13)
                        </div>
                    </div>
                    <div class="border__ct2 ct2-t-68"></div>
                </div>
            </div>
        </div>


        <div class="row ct2__row">
            <div class="col-md-5">
                <div class="ct2__box">
                    <div class="box__content">
                        <div class="left">
                            <img src="../../../../assets/img/DongHanhUeh/CoVanHocTap/03.png" alt="">
                        </div>
                        <div class="right">
                            Phòng QLĐT - CTSV thông báo kết quả đăng ký học chương trình thứ 2 đến sinh viên.
                        </div>
                    </div>
                    <div class="border__ct2"></div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="ct2__box">
                    <div class="box__content">
                        <div class="left">
                            <img src="../../../../assets/img/DongHanhUeh/CoVanHocTap/04.png" alt="">
                        </div>
                        <div class="right">
                            Sinh viên đăng ký học phần sau khi được xét học chương trình thứ 2
                        </div>
                    </div>
                    <div class="border__ct2"></div>
                </div>
            </div>
        </div>
        <div class="ct2-body-title ct2-t-130">Giá trị mang lại khi sinh viên đăng ký
            học thêm chương trình thứ 2</div>
        <div class="dktn-box ct2-mt-100">
            <img class="dktn-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="dktn-para">Tích lũy thêm kiến thức chuyên môn, đáp ứng nhu cầu cá nhân</p>
        </div>
        <div class="dktn-box">
            <img class="dktn-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="dktn-para">Tốt nghiệp với 02 văn bằng, 02 bảng điểm</p>
        </div>
        <div class="dktn-box">
            <img class="dktn-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="dktn-para">Nâng cao kỹ năng quản lý thời gian, chủ động trong kế hoạch của bản thân</p>
        </div>
        <div class="dktn-box">
            <img class="dktn-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="dktn-para">Được tư vấn và hỗ trợ đăng ký học phần</p>
        </div>
        <div class="dktn-box">
            <img class="dktn-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="dktn-para">Sinh viên được chuyển điểm các học phần tương đương giữa 2 chương trình đào tạo.</p>
        </div>
        <div class="dktn-box">
            <img class="dktn-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="dktn-para">Được ưu tiên giới thiệu việc làm bán thời gian, giới thiệu đơn vị thực tập, được huấn
                luyện miễn phí 03 kỹ năng ngoài chương trình đào tạo chính khóa và được ưu tiên xét học bổng từ các
                nguồn tài trợ</p>
        </div>
        <div class="dktn-box">
            <img class="dktn-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="dktn-para">Được hỗ trợ về học phí, cụ thể, giảm 50% học phí chương trình thứ 2 đối với sinh viên
                diện chính sách; giảm 10% học phí chương trình thứ 2 đối với sinh viên không thuộc diện chính sách</p>
        </div>
        <div class="dktn-box">
            <img class="dktn-bot-img" src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
            <p class="dktn-para">Gia tăng cơ hội nghề nghiệp trong tương lai và đáp ứng tính cạnh tranh trong thị trường
                lao động.</p>
        </div>
    </div>
</section>