<section class="lhp-header">
    <div class="lhp-header-title">MỞ LỚP HỌC PHẦN THEO NHU CẦU</div>
    <div class="lhp-header-content">Giấy đề nghị mở lớp học phần tại trang <a href="online.ueh.edu.vn" target="_blank">online.ueh.edu.vn</a> , mục “Biểu mẫu – Giấy đề
        nghị”</div>
</section>
<section class="lhp-body">
    <table>
        <tr>
            <td class="info" rowspan="2">Thông tin</td>
            <td class="assign" colspan="3">Đăng ký mở lớp</td>
        </tr>
        <tr>
            <td>Học kì đầu</td>
            <td>Học kì giữa</td>
            <td>Học kì cuối</td>
        </tr>
        <tr>
            <td>Đối tượng đăng ký</td>
            <td>Sinh viên đang học HK5, HK7 và các khóa đã ra trường</td>
            <td>Tất cả sinh viên</td>
            <td>Sinh viên đang học HK6 và các khóa đã ra trường</td>
        </tr>
        <tr>
            <td>Quy mô tối thiểu</td>
            <td colspan="3">30 sinh viên đăng ký và đóng học phí</td>
        </tr>
        <tr>
            <td>Hình thức đăng ký mở lớp</td>
            <td>Gửi Giấy đề nghị mở lớp học phần theo mẫu về phòng QLĐT-CTSV</td>
            <td>
                <li>Thực hiện khảo sát bằng cách đăng ký học phần muốn mở lớp trong Portal sinh viên, mục “Ghi danh nhu cầu học”.</li>
                <li>Gửi Giấy đề nghị mở lớp học phần theo mẫu về phòng QLĐT-CTSV</li>
            </td>
            <td>Gửi Giấy đề nghị mở lớp học phần theo mẫu về phòng QLĐT-CTSV</td>
        </tr>
        <tr>
            <td>Thời gian thực hiện đăng ký mở lớp <br/> (thời gian cụ thể được thông báo trong lịch đăng ký học phần và nộp học phí mỗi học kỳ)</td>
            <td>Tháng 8, 9, 10, 11, 12</td>
            <td>Tháng 1, 2, 3</td>
            <td>Tháng 1, 2, 3</td>
        </tr>
    </table>
</section>