<section class="kltn-header">
    <div class="kltn-header-content">Học phần khóa luận tốt nghiệp</div>
</section>
<section class="kltn-body">
    <div class="container">
        <div class="kltn-round-box">
            <p>Đầu học kỳ cuối khoá, các sinh viên thỏa điều kiện được đăng ký học phần Khoá luận tốt nghiệp, có khối
                lượng là 10 tín chỉ, áp dụng đối với sinh viên hệ Đại học chính quy. Tùy theo đặc thù của từng
                ngành/chuyên ngành, Phòng QLĐT - CTSV phối hợp với Khoa/viện đào tạo sẽ phổ biến cho sinh viên</p>
            <div class="kl-inline-area">
                <div class="kl-box">
                    <img src="assets/img/HocTapUeh/checklist.png">
                    <div class="kl-rec"></div>
                    <div class="kl-box-content">Các điều kiện để sinh viên được đăng ký làm Khoá luận tốt nghiệp</div>
                </div>
                <div class="kl-box">
                    <img src="assets/img/HocTapUeh/stopwatch.png">
                    <div class="kl-rec"></div>
                    <div class="kl-box-content">Hình thức và thời gian làm Khoá luận
                        tốt nghiệp</div>
                </div>
                <div class="kl-box">
                    <img class="kl-w-30" src="assets/img/HocTapUeh/test.png">
                    <div class="kl-rec"></div>
                    <div class="kl-box-content">Hình thức chấm Khoá luận tốt nghiệp</div>
                </div>
                <div class="kl-box">
                    <img src="assets/img/HocTapUeh/teacher.png">
                    <div class="kl-rec"></div>
                    <div class="kl-box-content">Nhiệm vụ của giảng viên hướng dẫn; trách nhiệm của bộ môn và khoa đối
                        với sinh viên trong thời gian làm Khoá luận tốt nghiệp</div>
                </div>
            </div>
        </div>
        <div class="kltn-blue-box">
            <div class="kltn-content">
                Tùy theo đặc điểm của từng ngành/chuyên ngành, Khoa/Viện đào tạo có thể đề xuất các hình thức khác thay
                thế cho học phần Khóa luận tốt nghiệp, phù hợp tình hình thực tế và chủ trương của Ban giám hiệu với một
                trong các hình thức sau:
            </div>
            <div class="kl-inline-area">
                <div class="kltn-info-box">
                    <img src="assets/img/HocTapUeh/diplomaRound.png" alt="">
                    <p class="kl-para">Học phần thay thế</p>
                </div>
                <div class="kltn-info-box">
                    <img src="assets/img/HocTapUeh/diplomaRound.png" alt="">
                    <p class="kl-para">Học kỳ doanh nghiệp</p>
                </div>
                <div class="kltn-info-box">
                    <img src="assets/img/HocTapUeh/diplomaRound.png" alt="">
                    <p class="kl-para">Thực tập – Chuyên đề tốt nghiệp</p>
                </div>
            </div>
            <div class="kl-inline-area kl-mt-20">
                <div class="kltn-info-box kl-ml-20">
                    <img src="assets/img/HocTapUeh/diplomaRound.png" alt="">
                    <p class="kl-para">Thực tập – Học phần thay thế</p>
                </div>
                <div class="kltn-info-box">
                    <img src="assets/img/HocTapUeh/diplomaRound.png" alt="">
                    <p class="kl-para">Kiến tập và các các hình thức kết hợp</p>
                </div>
            </div>
        </div>

    </div>
</section>