<section class="cover__miengiam">
    <div class="cover__content">
        Miễn, giảm <br> học phí
    </div>
</section>

<section class="background__miengiam">
    <div class="miengiam__content">
        <div class="miengiam__title">
            Đối tượng MGHP
        </div>

        <div class="row mienGiam">
            <div class="col-lg-3 col-md-6">
                <div class="miengiam__box">
                    Được miễn 100% học phí
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="miengiam__mota">
                    <ol>
                        <li>
                            Sinh viên là con của người có công với cách mạng, cụ thể:
                            <ul style="margin-left: 50px">
                                <li>Sinh viên là con của người hoạt động cách mạng trước ngày 01 tháng 01 năm 1945 (nếu có); con của người hoạt động cách mạng từ ngày 01 tháng 01 năm 1945 đến ngày khởi nghĩa tháng Tám năm 1945 (nếu có)
                                </li>
                                <li>Sinh viên là con của Anh hùng Lực lượng vũ trang nhân dân; con của Anh hùng Lao động trong thời kỳ kháng chiến.</li>
                                <li>Sinh viên là con của liệt sỹ; con của thương binh, người hưởng chính sách như thương binh; con của bệnh binh</li>
                                <li>Sinh viên là con của người hoạt động kháng chiến bị nhiễm chất độc hóa học.</li>
                            </ul>

                        </li>
                        <li>
                            Sinh viên bị tàn tật, khuyến tật thuộc diện hộ cận nghèo theo quy định của Thủ tướng Chính phủ.
                        </li>
                        <li>
                            Sinh viên có độ tuổi từ 16 tuổi đến 22 tuổi, thuộc diện mồ côi theo Khoản 1 Điều 5 Nghị định 136/2013/NĐ-CP ngày 21/10/2013.
                        </li>
                        <li>
                            Sinh viên là người dân tộc thiểu số thuộc hộ nghèo và hộ cận nghèo.


                        </li>
                        <li>
                            Sinh viên là người dân tộc thiểu số rất ít người (La Hủ, La Ha, Pà Thẻn, Lự, Ngái, Chứt, Lô Lô, Mảng, Cống, Cờ Lao, Bố Y, Si La, Pu Péo, Rơ Măm, BRâu, Ơ Đu) có hộ khẩu thường trú tại vùng có điều kiện kinh tế - xã hội khó khăn và vùng có điều kiện kinh
                            tế - xã hội đặc biệt khó khăn.
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row mienGiam">
            <div class="col-lg-3 col-md-6">
                <div class="miengiam__box">
                    Được miễn 75% học phí
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="miengiam__mota">
                    <ul style="list-style: none">
                        <li>6. Sinh viên là người dân tộc thiểu số (không phải là dân tộc thiểu số rất ít người) ở vùng có điều kiện kinh tế - xã hội đặc biệt khó khăn theo quy định của cơ quan có thẩm quyền.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mienGiam">
            <div class="col-lg-3 col-md-6">
                <div class="miengiam__box">
                    Được miễn 50% học phí
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="miengiam__mota">
                    <ul style="list-style: none">
                        <li>7. Sinh viên là con cán bộ, công nhân, viên chức mà cha hoặc mẹ bị tai nạn lao động hoặc mắc bệnh nghề nghiệp được hưởng trợ cấp thường xuyên;</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="miengiam__title">
            Thời gian, địa điểm và phương thức nộp hồ sơ MGHP
        </div>

        <div class="row thoiGian">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="thoigian__content">
                    Sinh viên nộp Giấy đề nghị xét miễn, giảm học phí trực tiếp tại
                </div>
            </div>
        </div>

        <div class="row thoiGian">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="thoigian__box">
                    <div class="box__icon">
                        <img src="../../../../assets/img/DongHanhUeh/MienGiam/locate_miengiam.png" alt="">
                    </div>
                    <div class="box__content">
                        Phòng Quản lý đào tạo - Công tác sinh viên
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="thoigian__box">
                    <div class="box__icon">
                        <img src="../../../../assets/img/DongHanhUeh/MienGiam/time_miengiam.png" alt="">
                    </div>
                    <div class="box__content">
                        vào tháng 01 và tháng 8 hàng năm theo Thông báo về việc nộp hồ sơ MGHP của UEH
                    </div>
                </div>
            </div>
        </div>

        <div class="row thoiGian">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="thoigian__content">
                    Quy định và hồ sơ MGHP được hướng dẫn chi tiết trong Thông báo về việc nộp hồ sơ MGHP. Trường sẽ không nhận Giấy đề nghị xét miễn, giảm học phí nếu các giấy tờ kèm theo không hợp lệ và không nộp theo đúng thời gian quy định.
                </div>
            </div>
        </div>

        <div class="miengiam__title">
            Tham khảo văn bản pháp lý hiện hành
        </div>

        <div class="row thamKhao">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="miengiam__thamkhao">
                    <ul>
                        <li>Nghị định số 86/2015/NĐ-CP ngày 02 tháng 10 năm 2015 của Chính phủ quy định về cơ chế thu, quản lý học phí đối với cơ sở giáo dục thuộc hệ thống giáo dục quốc dân và chính sách miễn, giảm học phí, hỗ trợ chi phí học tập từ năm
                            học 2015-2016 đến năm học 2020-2021</li>
                        <li>Thông tư liên tịch 09/2016/TTLT-BGDĐT-BTC-BLĐTBXH ngày 30 tháng 3 năm 2016 của Bộ Giáo dục và Đào tạo, Bộ Tài chính, Bộ Lao động Thương binh và Xã hội về việc Hướng dẫn thực hiện một số điều của Nghị định số 86/2015/NĐ-CP ngày
                            02 tháng 10 năm 2015 của Chính phủ quy định về cơ chế thu, quản lý học phí đối với cơ sở giáo dục thuộc hệ thống giáo dục quốc dân và chính sách miễn, giảm học phí, hỗ trợ chi phí học tập từ năm học 2015-2016 đến năm học 2020-2021.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>