<section class="cover__vanthemy">
    <div class="cover__content">CÁC HOẠT ĐỘNG <br> VĂN THỂ MỸ <br> DÀNH CHO SINH VIÊN <br> ĐẠI HỌC CHÍNH QUY</div>

</section>


<section class="background__vanthemy">
    <div class="vanthemy__content">

        <!-- ########################### -->

        <div class="vanthemy__title">
            Hội thi truyền thống Olympic các môn khoa học Mác - Lênin, <br> tư tưởng Hồ Chí Minh
        </div>

        <div class="row__title">
            Hội thi truyền thống Olympic các môn khoa học Mác - Lênin, tư tưởng Hồ Chí Minh được tổ chức hàng năm với mục đích
        </div>

        <div class="container">
            <div class="vanthemy__box">
                <div class="box__icon">
                    <img src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png" alt="">
                </div>
                <div class="box__content">
                    Nâng cao hiệu quả công tác giáo dục chủ nghĩa Mác - Lênin, tư tưởng Hồ Chí Minh trong sinh viên, góp phần nâng cao chất lượng dạy và học các môn Lý luận chính trị.
                </div>
            </div>

            <div class="vanthemy__box">
                <div class="box__icon">
                    <img src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png" alt="">
                </div>
                <div class="box__content">
                    Khích lệ tinh thần yêu thích, ham học các môn Lý luận chính trị trong sinh viên, tạo phong trào học tập, nghiên cứu lý luận chính trị trong sinh viên một cách sâu rộng, dưới nhiều hình thức phong phú.
                </div>
            </div>

            <div class="vanthemy__box">
                <div class="box__icon">
                    <img src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png" alt="">
                </div>
                <div class="box__content">
                    Thiết thực góp phần tiếp tục đẩy mạnh việc học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh theo tinh thần Chỉ thị 05 của Bộ Chính trị.
                </div>
            </div>

            <div class="vanthemy__box">
                <div class="box__icon">
                    <img src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png" alt="">
                </div>
                <div class="box__content">
                    Thông qua Hội thi nhằm tuyên dương những sinh viên đạt kết quả cao trong việc học tập các môn Lý luận chính trị, tuyển chọn vào đội tuyển của trường tham gia Olympic các môn khoa học Mác - Lênin, tư tưởng Hồ Chí Minh do Thành Đoàn và Đảng ủy Khối Đại
                    học, Cao đẳng TP. Hồ Chí Minh tổ chức.
                </div>
            </div>

            <div class="vanthemy__box">
                <div class="box__icon">
                    <img src="../../../../assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png" alt="">
                </div>
                <div class="box__content">
                    Tạo động lực và cơ sở kiến thức nhằm khuyến khích sinh viên tham gia các hội thi, cuộc thi trực tuyến các cấp về chủ đề học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh.
                </div>
            </div>
        </div>

        <div class="row__title">
            Sinh viên theo dõi Kế hoạch tổ chức Hội thi này vào tháng 01 hàng năm tại website <a href="www.ctct.ueh.edu.vn" target="_blank">www.ctct.ueh.edu.vn</a>
        </div>

        <!-- ########################### -->
        <div class="space" style="padding: 60px 0"></div>


        <div class="vanthemy__title">
            Hoạt động Thể thao - Văn hóa - Văn nghệ
        </div>

        <div class="row__title">
            Tổ chức Hội thao truyền thống sinh viên UEH hàng năm với các môn thi đấu gồm
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="vanthemy__box">
                    <div class="box__content">
                        Môn Bóng đá futsal
                    </div>
                </div>

                <div class="vanthemy__box box__left">
                    <div class="box__content">
                        Môn Bóng bàn
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="vanthemy__box">
                    <div class="box__content">
                        Môn Bóng chuyền
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="vanthemy__box">
                    <div class="box__content">
                        Môn Bơi lội
                    </div>
                </div>

                <div class="vanthemy__box box__right">
                    <div class="box__content">
                        Môn Taekwondo
                    </div>
                </div>

            </div>
        </div>



        <div class="row__title">
            Để duy trì phong trào văn hóa văn nghệ lành mạnh, bổ ích cho sinh viên, góp phần thực hiện mục tiêu giáo dục toàn diện, UEH tổ chức các hội diễn văn nghệ cho sinh viên, gồm
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="vanthemy__box">
                    <div class="box__content">
                        Hội diễn văn nghệ truyền thống sinh viên UEH
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="vanthemy__box">
                    <div class="box__content">
                        Hội thi tiếng hát sinh viên Kinh tế
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="vanthemy__box">
                    <div class="box__content">
                        Hội thi các nhóm nhạc sinh viên
                    </div>
                </div>
            </div>
        </div>

        <div class="row__title">
            Thông tin về Hội thao, Hội diễn văn nghệ cho sinh viên được cập nhật trên website: <a href="www.ctct.ueh.edu.vn" target="_blank">www.ctct.ueh.edu.vn</a> và <a href="www.youth.ueh.edu.vn" target="_blank">www.youth.ueh.edu.vn
      </a>
        </div>

        <!-- ########################### -->

        <app-carousel [images]="images"></app-carousel>
    </div>
</section>