<section class="ktx-header">
  <div class="ktx-header-content">Ký túc xá <br />ueh</div>
</section>
<section class="ktx-body">
  <div class="container">
    <div class="ktx-title">Ký túc xá</div>
    <div class="ktx-inline">
      <div class="left-para">
        <div class="ktx-name">
          Ký túc xá 135 <br />
          Trần Hưng Đạo
        </div>
        <div class="para-inline">
          <img src="assets/img/DongHanhUeh/KyTucXa/location.png" alt="" />
          <p>
            <strong>Địa chỉ:</strong> <br />
            135A Trần Hưng Đạo, phường Cầu Ông Lãnh, Quận 1, TP. Hồ Chí Minh
          </p>
          <div class="ktx-dashed-line"></div>
        </div>
        <div class="para-inline mt-55">
          <img src="assets/img/DongHanhUeh/KyTucXa/user.png" alt="" />
          <p>
            <strong>Tổng sức chứa:</strong> <br />
            90 phòng, 765 chỗ ở.
          </p>
          <div class="ktx-dashed-line"></div>
        </div>
      </div>
      <img src="assets/img/DongHanhUeh/KyTucXa/topImg.png" alt="" />
      <div class="right-para">
        <div class="para-inline">
          <div class="ktx-dashed-line"></div>
          <img src="assets/img/DongHanhUeh/KyTucXa/money.png" alt="" />
          <p>
            <strong>Nội trú phí</strong> <br />
            <b>• Phòng máy lạnh (6 sinh viên/phòng):</b> <br />
            1.100.000 VND/sinh viên/tháng
            <br />
            <b>• Phòng máy lạnh (9 sinh viên/phòng):</b> <br />
            820.000 VND/sinh viên/tháng <br />
            <b>• Phòng thường (9 sinh viên/phòng):</b> <br />
            700.000 VND/sinh viên/tháng <br /><br />

            <b>• Phí Internet:</b> <br />
            50.000 VND/sinh viên/tháng <br />
            <br />

            <b>• Nước:</b> <br />
            Miễn phí 2m3/sinh viên/tháng (nếu sử dụng vượt qua định mức sẽ tính tiền theo đơn giá nước hiện hành) <br />
            <br />

            <b>• Điện:</b> <br />
            Miễn phí 10 kWh/sinh viên/tháng (nếu sử dụng vượt qua định mức sẽ tính tiền theo đơn giá điện hiện hành)
          </p>
        </div>
      </div>
    </div>
    <div class="ktx-inline">
      <div class="left-para">
        <div class="ktx-name">
          Ký túc xá 43-45
          <br />
          Nguyễn Chí Thanh
        </div>
        <div class="para-inline">
          <img src="assets/img/DongHanhUeh/KyTucXa/location.png" alt="" />
          <p>
            <strong>Địa chỉ:</strong> <br />
            43-45 Nguyễn Chí Thanh, phường 9, Q.5, TP. Hồ Chí Minh.
          </p>
          <div class="ktx-dashed-line"></div>
        </div>
        <div class="para-inline mt-55">
          <img src="assets/img/DongHanhUeh/KyTucXa/user.png" alt="" />
          <p>
            <strong>Tổng sức chứa:</strong> <br />
            72 phòng, 802 chỗ ở
          </p>
          <div class="ktx-dashed-line"></div>
        </div>
      </div>
      <img src="assets/img/DongHanhUeh/KyTucXa/midImg.png" alt="" />
      <div class="right-para">
        <div class="para-inline">
          <div class="ktx-dashed-line"></div>
          <img src="assets/img/DongHanhUeh/KyTucXa/money.png" alt="" />
          <p>
            <strong>Nội trú phí</strong> <br />
            250.000 VND/sinh viên/tháng <br />
            <br />

            <b>• Nước:</b> <br />
            Miễn phí 2 m3/sinh viên/tháng (nếu sử dụng vượt qua định mức sẽ tính tiền theo đơn giá nước hiện hành)
            <br />
            <br />
            <b>• Điện:</b> <br />
            Miễn phí 10 kWh/sinh viên/tháng (nếu sử dụng vượt qua định mức sẽ tính tiền theo đơn giá điện hiện hành)
          </p>
        </div>
      </div>
    </div>
    <div class="ktx-title mid-position">
      Hướng dẫn đăng ký
    </div>

    <div class="kl-inline-area t-p-150">
      <div class="kltn-info-box ktx-w-25">
        <img class="w-l-20" src="assets/img/DongHanhUeh/KyTucXa/01.png" alt="" />
        <p class="kl-para">
          Truy cập website <a href="http://ktx.ueh.edu.vn" target="_blank">http://ktx.ueh.edu.vn</a>
        </p>
      </div>
      <div class="kltn-info-box ktx-w-25">
        <img class="w-l-20" src="assets/img/DongHanhUeh/KyTucXa/02.png" alt="" />
        <p class="kl-para">
          Sử dụng thông tin để đăng nhập: <br />
          Người dùng: dangky <br />
          Mật khẩu: dangky
        </p>
      </div>
      <div class="kltn-info-box ktx-w-25">
        <img class="w-l-20" src="assets/img/DongHanhUeh/KyTucXa/03.png" alt="" />
        <p class="kl-para">Điền đầy đủ thông tin theo Phiếu đăng ký KTX</p>
      </div>
      <div class="kltn-info-box ktx-w-25">
        <img class="w-l-20" src="assets/img/DongHanhUeh/KyTucXa/04.png" alt="" />
        <p class="kl-para">Xem thông tin xét duyệt</p>
      </div>
    </div>
    <div class="kl-inline-area t-p-150">
      <div class="kltn-info-box ktx-w-75">
        <img class="ktx-w-l-12" src="assets/img/DongHanhUeh/KyTucXa/05.png" alt="" />
        <p class="kl-para">
          Khi được xét duyệt, sinh viên đến tại văn phòng Ban Quản lý tại Ký túc xá để làm thủ tục vào nội trú tại Ký
          túc xá.
        </p>
      </div>
    </div>
    <div class="ktx-title bottom-position">
      Thông tin về các đối tượng được <br />
      ưu tiên xét duyệt vào Nội trú KTX
    </div>
    <div class="ktx-subtitle">
      Do số lượng chỗ ở nội trú hạn chế so với nhu cầu của sinh viên, Trung tâm Hỗ trợ Sinh viên tiến hành xét duyệt
      theo thứ tự ưu tiên (từ trên xuống) cho các đối tượng cụ thể như sau
    </div>
    <div class="kltn-round-box t-p-150">
      <div class="para-inline">
        <div class="ktx-rec"></div>
        <div class="ktx-number">01</div>
        <div class="ktx-txt">
          Ưu tiên 1: Các đối tượng chính sách: <br />
          • Đối tượng 01 (1.1): Người dân tộc thiểu số Việt Nam; <br />
          • Đối tượng 02 (1.2): Công nhân ưu tú trực tiếp sản xuất đã làm việc liên tục 5 năm trong đó có 2 năm là chiến
          sĩ thi đua được cấp tỉnh, thành phố, Bộ trở lên công nhận và cấp bằng khen; <br />
          • Đối tượng 03 (1.3): Thương binh, bệnh binh, người hưởng chính sách như thương binh; quân nhân, công an nhân
          dân tại ngũ được cử đi học; quân nhân, công an hoàn thành nghĩa vụ đã xuất ngũ, có thời hạn phục vụ từ 12
          tháng trở lên tại khu vực 1; <br />
          • Đối tượng 04 (1.4): Con liệt sĩ; con thương binh, bệnh binh, con của người được hưởng chính sách như thương
          binh mất sức lao động 81% trở lên; con của Bà mẹ Việt Nam anh hùng; con của Anh hùng lực lượng vũ trang, con
          của Anh hùng lao động; <br />
          • Đối tượng 05 (1.5): Quân nhân, Công an nhân dân, Thanh niên xung phong tập trung được cử đi học; quân nhân,
          công an nhân dân hoàn thành nghĩa vụ đã xuất ngũ, có thời gian phục vụ từ 24 tháng trở lên; <br />
          • Đối tượng 06 (1.6): Con thương binh, con bệnh binh, con của người hưởng chính sách như thương binh mất sức
          lao động dưới 81%.
        </div>
      </div>
      <div class="para-inline">
        <div class="ktx-rec"></div>
        <div class="ktx-number">02</div>
        <div class="ktx-txt">Ưu tiên 2: Cử tuyển, sinh viên dự bị và dự bị dân tộc.</div>
      </div>
      <div class="para-inline">
        <div class="ktx-rec"></div>
        <div class="ktx-number">03</div>
        <div class="ktx-txt">Ưu tiên 3: Sinh viên khuyết tật.</div>
      </div>
      <div class="para-inline">
        <div class="ktx-rec"></div>
        <div class="ktx-number">04</div>
        <div class="ktx-txt">Ưu tiên 4: Sinh viên mồ côi.</div>
      </div>
      <div class="para-inline">
        <div class="ktx-rec"></div>
        <div class="ktx-number">05</div>
        <div class="ktx-txt">
          Ưu tiên 5: Sinh viên thuộc các gia đình khó khăn (Có sổ hộ nghèo, hộ cận nghèo)
          <br />
          • Sinh viên thuộc gia đình hộ nghèo (5.1); <br />
          • Sinh viên thuộc gia đình hộ cận nghèo (5.2).
        </div>
      </div>
      <div class="para-inline">
        <div class="ktx-rec"></div>
        <div class="ktx-number">06</div>
        <div class="ktx-txt">
          Ưu tiên 6: Sinh viên các chương trình đào tạo chất lượng cao: <br />
          • Cử nhân tài năng (6.1); <br />
          • Chất lượng cao (6.2).
        </div>
      </div>
      <div class="para-inline">
        <div class="ktx-rec"></div>
        <div class="ktx-number">07</div>
        <div class="ktx-txt">
          Ưu tiên 7: Sinh viên thuộc các địa bàn kinh tế - xã hội khó khăn (Thuộc danh sách các địa bàn kinh tế - xã hội
          khó khăn theo quyết định của Chính phủ) <br />
          • Sinh viên thuộc các địa bàn kinh tế - xã hội đặc biệt khó khăn (7.1); <br />
          • Sinh viên thuộc các địa bàn kinh tế - xã hội khó khăn (7.2).
        </div>
      </div>
      <div class="para-inline">
        <div class="ktx-rec"></div>
        <div class="ktx-number">08</div>
        <div class="ktx-txt">Ưu tiên 8: Các trường hợp khác</div>
      </div>
    </div>
    <div class="ktx-title bottom-position">
      Thông tin liên hệ
    </div>
    <div class="ktx-outbound-box">
      <div class="ktx-ttlh-box">
        <img src="assets/img/DongHanhUeh/KyTucXa/global.png" alt="" />
        <a href="http://tthtsv.ueh.edu.vn/" target="_blank">
          <p>www.tthtsv.ueh.edu.vn</p>
        </a>
      </div>
      <div class="ktx-ttlh-box">
        <img src="assets/img/DongHanhUeh/KyTucXa/close-envelope.png" alt="" />
        <p>trungtamhotrosinhvien@ueh.edu.vn</p>
      </div>
      <div class="ktx-ttlh-box">
        <img src="assets/img/DongHanhUeh/KyTucXa/location.png" alt="" />
        <p>
          Phòng B.014 – 279 Nguyễn Tri Phương, <br />
          phường 5, quận 10, TP. Hồ Chí Minh.
        </p>
      </div>
      <div class="ktx-ttlh-box">
        <img src="assets/img/DongHanhUeh/KyTucXa/call-answer.png" alt="" />
        <p>028. 3855 1777 (số nội bộ: 11)</p>
      </div>
      <div class="ktx-ttlh-box">
        <img class="w-3" src="assets/img/DongHanhUeh/KyTucXa/facebook-logo.png" alt="" />
        <a href="https://www.facebook.com/TTHTSV.UEH/" target="_blank">
          <p>https://www.facebook.com/TTHTSV.UEH/</p>
        </a>
      </div>
    </div>
  </div>
</section>
