<section class="vang-thi-header">
  <div class="hoc-phi-header-content ml-15">
    Vắng thi <br />
    - đăng ký thi ghép
  </div>
</section>

<section class="vang-thi-body">
  <div class="container">
    <div class="row">
      <div class="col-md-2 vang-thi-box-left">Chuẩn bị hồ sơ</div>
      <div class="col-md-9 p-5">
        <div class="row">
          <div class="right-rec"></div>
          <div class="right-title">Đề nghị vắng thi</div>
        </div>
        <div class="row">
          <div class="right-content">
            • Giấy đề nghị vắng thi của UEH (Tải mẫu tại website Phòng QLĐT -
            CTSV)
            <br />
            • Minh chứng vắng thi đi kèm: <br />
            <br />

            Vắng thi vì lý do sức khỏe: Giấy xác nhận nằm viện/Giấy xác nhận
            khám chữa bệnh/Giấy xác nhận nghỉ bệnh hưởng BHYT của cơ quan khám
            chữa bệnh/bệnh viện
            <br />
            <br />
            Vắng thi vì lý do gia đình: <br />
            • Lễ kết hôn/đám cưới của anh chị em ruột: Thiệp mời kết hôn/đám
            cưới và bản sao sổ hộ khẩu. <br />
            • Đám giỗ: Giấy chứng tử (bản photo) và xác nhận của chính quyền địa
            phương (phường/xã) có mặt tại địa phương vào thời gian trên. <br />
            • Tang gia: Giấy chứng tử (bản photo) <br />
            • Cha/mẹ bệnh, nằm viện: Giấy xác nhận nằm viện/Giấy xác nhận khám
            chữa bệnh của cơ quan khám chữa bệnh/bệnh viện. <br />
          </div>
        </div>
        <div class="row">
          <div class="right-rec"></div>
          <div class="right-title">Đề nghị thi ghép</div>
        </div>
        <div class="row">
          <div class="right-content">
            Giấy đề nghị thi ghép của UEH (Tải mẫu tại website Phòng QLĐT -
            CTSV)
          </div>
        </div>
      </div>
    </div>
    <!--Thời gian nộp-->
    <div class="row">
      <div class="col-md-2 vang-thi-box-left pink-box">Thời gian nộp</div>
      <div class="col-md-9 p-5">
        <div class="right-content">
          • Giấy đề nghị vắng thi: không quá 05 (năm) ngày làm việc tính từ ngày
          thi. <br />
          • Giấy đăng ký thi ghép: trước ngày thi ghép ít nhất 05 (năm) ngày làm
          việc.
        </div>
      </div>
    </div>
    <!--Hình thức nộp-->
    <div class="row">
      <div class="col-md-2 vang-thi-box-left">Hình thức nộp</div>
      <div class="col-md-9 p-5">
        <div class="right-content">
          • Nộp trực tiếp tại Phòng QLĐT-CTSV; <br />
          • Gửi bản scan (màu) hồ sơ qua email của Phòng QLĐT-CTSV (Địa chỉ
          email: vangthi-thighep@ueh.edu.vn)
        </div>
      </div>
    </div>
    <!--Thời gian trả kết quả-->
    <div class="row">
      <div class="col-md-2 vang-thi-box-left pink-box">
        Thời gian trả kết quả
      </div>
      <div class="col-md-9 p-5">
        <div class="right-content">
          • Vắng thi có phép: sau 03 (ba) ngày làm việc. <br />
          • Thi ghép: sau 02 (hai) ngày làm việc. <br />
          Sinh viên nhận kết quả trên Portal sinh viên.
        </div>
      </div>
    </div>
    <!--Lưu ý-->
    <div class="row">
      <div class="col-md-2 vang-thi-box-left">Lưu ý</div>
      <div class="col-md-9 p-5">
        <div class="right-content">
          • Sinh viên có trách nhiệm kiểm tra ĐIỂM QUÁ TRÌNH của học phần vắng
          thi. Nếu có sai sót/thắc mắc, sinh viên liên hệ giảng viên giảng dạy.
          Sau 15 ngày làm việc kể từ khi thông báo kết quả trên danh sách thi
          chính thức, Trường không giải quyết khiếu nại điểm quá trình.
          <br />
          <br />
          • Sinh viên đăng ký thi ghép trong thời hạn 01 (một) năm kể từ ngày
          thi chính thức (ngày thi sinh viên vắng thi có phép). Quá hạn trên,
          kết quả vắng thi hết hiệu lực và sinh viên phải đăng ký học lại học
          phần đó. Sinh viên đăng ký thi ghép theo lịch thi của Trường (nếu có).
          Trường không tổ chức kỳ thi riêng cho sinh viên đã vắng thi có phép.
          <br />
          <br />
          • Mỗi học phần chỉ được vắng thi có phép 01 (một) lần.
          <br />
          <br />
          • Sinh viên theo dõi kết quả điểm thi ghép xem tại trang
          <a href="http://online.ueh.edu.vn" target="_blank">http://online.ueh.edu.vn</a>, mục “Kết quả thi kết thúc học
          phần (scan)”.
        </div>
      </div>
    </div>
  </div>
</section>