<section class="kltn-header">
  <div class="cdr-header-content">Chuẩn đầu ra các ngành chuyên ngành</div>
</section>
<section class="cdr-body">
  <div class="container">
    <div class="row cdr-rectangle-box">
      <p>
        Ngoài các yêu cầu về kiến thức chung, kiến thức ngành/chuyên ngành, kiến thức bổ trợ cho từng chương
        trình đào tạo tiên tiến quốc tế UEH. Đối với tin học và ngoại ngữ, sinh viên cần lưu ý
      </p>
    </div>

    <div class="cdr-inline-area">
        <div class="cdr-round-box cdr-ml-15"><p>Chuẩn đầu ra về tin học</p></div>
        <div class="cdr-round-box cdr-w-150"><p>Chuẩn đầu ra tiếng Anh</p></div>
    </div>
    <div class="cdr-inline-area">
      <div class="cdr-inbound-box">
        <div class="cdr-round-rec">Chuẩn đầu ra tin học cơ bản (IC3)</div>
        <div class="cdr-content">
          • Sinh viên phải nộp chứng chỉ tin học quốc tế IC3 trước khi đăng ký xét tốt
          nghiệp.
          <br />
          • Không áp dụng đối với sinh viên thuộc các ngành/chuyên ngành: Hệ thống thông tin kinh doanh, Hệ
          thống hoạch định nguồn nhân lực, Thương mại điện tử và Công nghệ phần mềm.
        </div>
      </div>
      <div class="cdr-inbound-box">
        <div class="cdr-round-rec">Chuẩn đầu ra tin học chuyên ngành</div>
        <div class="cdr-content">
          Chuẩn đầu ra tin học chuyên ngành được giảng dạy trong chương trình đào tạo
          nhằm trang bị kỹ năng và kiến thức về công nghệ thông tin bổ trợ chuyên môn chuyên ngành đào tạo cho
          sinh viên. Thể hiện tại Phụ lục 1 và Phụ lục 2 của Quyết định số 2784/QĐ-ĐHKT-QLĐT ngày 25/9/2018.
        </div>
      </div>
      <div class="cdr-inbound-box cdr-w-l-40">
        <div class="cdr-content">
          Sinh viên có thể tham khảo Quyết định số 2785/QĐ-ĐHKT-QLĐT ngày 25/9/2018 về
          quy định chuẩn đầu ra tiếng Anh chương trình tiên tiến quốc tế UEH bậc đại học Trường Đại học Kinh
          tế TP. Hồ Chí Minh.
        </div>
      </div>
    </div>
    <a href="http://daotao.ueh.edu.vn/tin-tuc/tin-trong-nam/thong-tin-tot-nghiep/2018-10-2-quy-dinh-chuan-dau-ra-tieng-anh-ky-nang-va-kien-thuc-tin-hoc-chuong-trinh-tien-tien-quoc-te-ueh-bac-dai-hoc-ap-dung-tu-khoa-43"
       target="_blank">
      <div class="btn btn-primary cdr-custom-btn">Quy định</div>
    </a>
  </div>
</section>
