<section class="cover__bieumau">
  <div class="cover__content">Các biểu mẫu, <br />logo</div>
</section>

<section class="background__bieumau">
  <div class="bieumau__content">
    <div class="row__title">
      Mỗi phòng ban, Khoa Viện đào tạo sẽ có những biểu mẫu, giấy đề nghị theo chức năng của đơn vị. Các biểu mẫu được
      cập nhật tại website từng đơn vị. Một số đơn vị phổ biến với sinh viên:
    </div>
    <div class="row">
      <div class="col-md-3 col">
        <a href="http://daotao.ueh.edu.vn/bieu-mau/1" target="_blank">
          <div class="box__bieumau">Phòng Quản lý đào tạo - Công tác sinh viên</div>
        </a>
      </div>
      <div class="col-md-3 col">
        <a href="http://khdtkt.ueh.edu.vn/danh-muc/bieu-mau-12" target="_blank">
          <div class="box__bieumau">Phòng Kế hoạch đào tạo – Khảo thí</div>
        </a>
      </div>
      <div class="col-md-3 col">
        <a href="http://ctct.ueh.edu.vn/modules.php?name=News&op=viewst&sid=1749" target="_blank">
          <div class="box__bieumau">Phòng Công tác chính trị</div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col">
        <div class="logo__bieumau">
          <img src="assets/img/TienIchBoSung/CacBieuMau/logo.png" alt="" />
        </div>
      </div>
      <div class="col-md-3 col">
        <div class="logo__bieumau">
          <img src="assets/img/TienIchBoSung/CacBieuMau/hoi_sinh_vien.png" alt="" />
        </div>
      </div>
      <div class="col-md-3 col">
        <div class="logo__bieumau">
          <img src="assets/img/TienIchBoSung/CacBieuMau/Logo_Doan_1000x1000.png" alt="" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col">
        <a href="https://drive.google.com/drive/folders/17uPRGBLROFyj6FBlgyzenGhrhLy6RbGu" target="_blank">
          <div class="box__bieumau custom__box">Download</div>
        </a>
      </div>
      <div class="col-md-6 col">
        <a href="https://drive.google.com/drive/folders/1WVNuS-7X42iUqfNVFeJAQvN-eu2HdMkK" target="_blank">
          <div class="box__bieumau custom__box">Download</div>
        </a>
      </div>
    </div>

    <div class="height"></div>

    <div class="row">
      <div class="col-md-7 row--left">
        <div class="left">
          <img src="assets/img/TienIchBoSung/CacBieuMau/Your_Design_Here.png" alt="" />
        </div>
      </div>
      <div class="col-md-3 row--right">
        <div class="right">
          <div class="row">
            <a href="https://drive.google.com/drive/folders/1riVq8dUqCirSLqVTYPy7yeekIrYT7job" target="_blank">
              <div class="box__bieumau">Một số <br />Fonts chữ đẹp</div>
            </a>
          </div>
          <div class="row">
            <a href="https://drive.google.com/drive/u/0/folders/1h7D_zBuKySVJbd93A2ROaodSN2Ngu_47" target="_blank">
              <div class="box__bieumau">Một số <br />mẫu PowerPoint</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
