<section class="cover__doanhoi">
  <div class="cover__content">CÁC HOẠT ĐỘNG <br />ĐOÀN - HỘI NỔI <br />BẬT TRONG NĂM</div>
</section>

<section class="background__doanhoi">
  <div class="doanhoi__content">
    <div class="row__icon">
      <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/nghiencuu.png" alt="" />
    </div>

    <div class="row__title">
      Hoạt động Học thuật, Nghiên cứu Khoa học
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="box__clb">
          <div class="box__content">
            Giải thưởng nghiên cứu khoa học sinh viên “Nhà Kinh tế trẻ”
          </div>
        </div>

        <div class="box__clb ">
          <div class="box__content">
            Cuộc thi “Tìm kiếm CEO <br />
            Tương lai”
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box__clb">
          <div class="box__content">
            Giải thưởng “Đề tài môn học xuất sắc UEH500”
          </div>
        </div>

        <div class="box__clb">
          <div class="box__content">
            Cuộc thi “CPA tiềm năng”
          </div>
        </div>

        <div class="box__clb">
          <div class="box__content">
            Cuộc thi “Trở thành người bán hàng tài ba”
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box__clb ">
          <div class="box__content">
            Chuỗi Bình luận Sự kiện Kinh tế
          </div>
        </div>

        <div class="box__clb ">
          <div class="box__content">
            Cuộc thi “Kiến thức Thuế vận dụng trong kinh doanh”
          </div>
        </div>

        <div class="box__clb ">
          <div class="box__content">
            Cuộc thi “Khám phá thế giới bất động sản”
          </div>
        </div>
      </div>
    </div>

    <div class="owl-carousel owl-theme sliding">
      <div class="item">
        <div>
          <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/50829580_2430407420307460_2441977967664955392_o.jpg" />
        </div>
      </div>
      <div class="item">
        <div>
          <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/57485027_2172572822822786_5818018679765336064_o.jpg" />
        </div>
      </div>
      <div class="item">
        <div>
          <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/69149715_2400778803309525_9030165729067925504_o.jpg" />
        </div>
      </div>
    </div>

    <div class="row__icon">
      <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/hoatdong.png" alt="" />
    </div>

    <div class="row__title">
      Hoạt động Văn hóa
    </div>

    <div class="row khoi-nghiep-justify">
      <div class="col-md-4">
        <div class="box__clb">
          <div class="box__content">
            Lễ hội văn hóa “Nối vòng tay lớn” – Chào đón Tân sinh viên
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box__clb">
          <div class="box__content">
            Hội trại Sức trẻ Kinh tế
          </div>
        </div>
      </div>
    </div>

    <div class="owl-carousel owl-theme sliding">
      <div class="item">
        <div>
          <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/55826869_2149887235131940_1929805604403019776_o.jpg" />
        </div>
      </div>
      <div class="item">
        <div>
          <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/59519055_2209039595883370_3899693535829426176_o.jpg" />
        </div>
      </div>
      <div class="item">
        <div>
          <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/69590770_2385498188237509_8481554901921431552_o.jpg" />
        </div>
      </div>
    </div>

    <div class="row__icon">
      <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/tinhnguyen.png" alt="" />
    </div>

    <div class="row__title">
      Hoạt động Tình nguyện
    </div>

    <div class="row custom_row">
      <div class="col-md-6">
        <div class="box__clb">
          <div class="box__content">
            Hiến máu Tình nguyện
          </div>
        </div>

        <div class="box__clb">
          <div class="box__content">
            Chiến dịch Xuân Tình nguyện
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box__clb">
          <div class="box__content">
            Chiến dịch Tình nguyện Sinh viên Kinh tế
          </div>
        </div>

        <div class="box__clb">
          <div class="box__content">
            Chương trình Tiếp sức mùa thi
          </div>
        </div>
      </div>
    </div>

    <div class="owl-carousel owl-theme sliding">
      <div class="item">
        <div>
          <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/66266769_2455763181143125_2632610035263340544_o.jpg" />
        </div>
      </div>
      <div class="item">
        <div>
          <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/67317913_2469922673060509_7993863504354344960_o.jpg" />
        </div>
      </div>
      <div class="item">
        <div>
          <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/67614300_2501439613242148_4804098019257483264_o.jpg" />
        </div>
      </div>
    </div>

    <div class="row__icon">
      <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/nghiencuu.png" alt="" />
    </div>

    <div class="row__title">
      Tự hào sinh viên UEH
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="box__clb">
          <div class="box__content">
            Tuyên dương “Sinh viên 5 tốt”
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box__clb">
          <div class="box__content">
            Giải thưởng “Cán bộ Đoàn – Hội xuất sắc”
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box__clb ">
          <div class="box__content">
            Lễ Kết nạp Đảng viên
          </div>
        </div>
      </div>
    </div>

    <div class="owl-carousel owl-theme sliding">
      <div class="item">
        <div>
          <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/50009502_2093562690701083_4079306293599272960_o.jpg" />
        </div>
      </div>
      <div class="item">
        <div>
          <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/54799627_2360745363970735_3347159724209471488_o-2.jpg" />
        </div>
      </div>
      <div class="item">
        <div>
          <img src="assets/img/SanChoiTaiUeh/HoatDongDoanHoi/KNDV2.png" />
        </div>
      </div>
    </div>
  </div>
</section>
