.thu-vien-header {
  width: 100%;
  height: 215px;
  background-image: url(../img/HocTapUeh/thuvienHeaderBG.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .thu-vien-header-content {
    background: linear-gradient(to right, #01215a 0%, #ff4a7d 100%);
    background-clip: text;
    color: #ffffff;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 900;
    position: relative;
    width: 150px;
    top: 20px;
    left: 15px;
    text-transform: uppercase;
  }
}

.thu-vien-body {
  width: 100%;
  height: fit-content;
  background-image: url(../img/HocTapUeh/thuVienMainBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .gioi-thieu-thu-vien {
    width: 100%;
    overflow-wrap: break-word;
    margin-left: -10px;
  }

  .gioi-thieu-title {
    color: #005596;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 10px;
    left: 25px;
    text-align: center;
  }

  .thu-vien-img {
    width: 60%;
    margin-top: 100px;
    margin-left: 22%;
  }

  .gioi-thieu-box {
    width: 100px;
    position: relative;
    display: block;
    top: -17em;
    left: 6em;
    height: fit-content;
    line-height: 14px;
  }

  .gioi-thieu-box-row {
    display: inline-flex;
  }

  .row-image {
    max-width: 10px;
    margin-right: 5px;
  }

  .box-title {
    font-size: 11px;
    font-weight: 700;
    color: #8d487c;
  }

  .box-content {
    font-size: 10px;
    text-align: inherit;
    color: #38266e;
  }

  .gioi-thieu-box-dien-tich {
    position: relative;
    top: -20em;
    left: 14em;
    width: 62px;
  }

  .gioi-thieu-box-cho-ngoi {
    position: relative;
    top: -9em;
    left: 3em;
    width: 75px;
  }

  .gioi-thieu-box-so-phong {
    width: 95px;
    position: relative;
    top: -11em;
    left: 17em;
    line-height: 14px;
  }

  .gioi-thieu-box-dich-vu {
    width: 150px;
    position: relative;
    top: -13em;
    left: 7em;
    display: inline-block;
    line-height: 13px;
  }

  .btn-gioi-thieu-custom {
    top: -14.5em;
    width: 70%;
    left: 20%;
    height: fit-content;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    background-image: linear-gradient(to right, #242659 0%, #2887bf 99%, #2887bf 100%);
  }

  .nguon-hoc-lieu-title {
    font-size: 16px;
    font-weight: 700;
    position: relative;
    display: block;
    text-align: center;
    top: -14em;
    left: 2%;
    color: #005596;

    p {
      font-weight: 500;
    }

    .thoi-gian {
      position: relative;
      top: 5px;
    }
  }

  .nguon-hoc-lieu-rectangle {
    width: 85%;
    height: fit-content;
    font-size: 12px;
    position: relative;
    top: -17em;
    left: 8%;
    color: #005596;
    padding: 10px;
    border-top: 4px solid rgba(40, 135, 191, 0.99);
    border-bottom: 4px solid rgba(36, 38, 89, 0.99);
    background-image: linear-gradient( rgba(40, 135, 191, 0.99), rgba(36, 38, 89, 0.99) ), linear-gradient(rgba(40, 135, 191, 0.99), rgba(36, 38, 89, 0.99));
    background-size: 4px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    text-align: justify;

    .nguon-hoc-lieu-in-box {
      margin-left: 15px;
    }
  }

  .thu-vien-blue-box {
    width: 75%;
    height: fit-content;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
    top: -13em;
    left: 13%;
    text-align: center;
    background-image: linear-gradient(to right, #242659 0%, #2887bf 99%, #2887bf 100%);
  }
}

@media only screen and (min-width: 1000px) {
  .thu-vien-header {
    height: 800px;
    .thu-vien-header-content {
      font-size: 85px !important;
      width: 600px;
      top: 100px;
      left: 70px;
    }
  }
  .thu-vien-body {
    .gioi-thieu-thu-vien {
      width: fit-content;
      overflow-wrap: break-word;
      margin-left: -30px;
    }

    .gioi-thieu-title {
      font-size: 65px;
      left: 5%;
    }

    .thu-vien-img {
      margin-top: 90px;
      margin-left: 24%;
    }

    .gioi-thieu-box {
      width: 250px;
      top: -665px;
      left: 17%;
      line-height: 30px;
    }

    .gioi-thieu-box-row {
      display: inline-flex;
      width:220px;
    }

    .row-image {
      max-width: 30px;
      margin-right: 15px;
    }

    .box-title {
      font-size: 30px;
    }

    .box-content {
      font-size: 25px;
      text-align: justify;
      width: 265px;
    }

    .gioi-thieu-box-dien-tich {
      top: -830px;
      left: 70%;
    }

    .gioi-thieu-box-cho-ngoi {
      top: -381px;
      left: 20%;
    }

    .gioi-thieu-box-so-phong {
      width: 300px;
      top: -29em;
      left: 53em;
      line-height: 30px;
    }

    .gioi-thieu-box-dich-vu {
      width: 700px;
      top: -475px;
      left: 550px;
      line-height: 30px;
    }

    .btn-gioi-thieu-custom {
      width: 60%;
      height: 75px;
      top: -405px;
      left: 22%;
      font-size: 40px;
      padding: 5px;
    }

    .nguon-hoc-lieu-title {
      font-size: 35px;
      top: -400px;
      left: 1%;

      p {
        font-weight: 500;
      }

      .thoi-gian {
        top: 10px;
      }
    }

    .nguon-hoc-lieu-rectangle {
      font-size: 23px;
      padding: 40px;
      top: -350px;
      text-align: justify;

      .nguon-hoc-lieu-in-box {
        margin-left: 70px;
      }
    }

    .thu-vien-blue-box {
      font-size: 40px;
      top: -8em;
      left: 3.5em;
    }
  }
  
}
@media only screen and (min-width:1920px){
  .thu-vien-header {
    height: 1100px;

    .thu-vien-header-content {
      font-size: 120px;
      width: 600px;
      top: 1em;
      left: 1em;
    }
  }
}
