<section class="clc-header">
    <div class="clc-header-title">Chương trình chất lượng cao</div>
</section>
<section class="clc-body">
    <div class="container">
        <div class="clc-body-title">Đặc điểm nổi bật của chương trình CLC</div>
        <div class="clc-body-subtitle">Sinh viên đăng ký học chương trình CLC, có các đặc điểm nổi bật sau</div>
        <img class="clc-top-img" src="../../../../assets/img/HocTapUeh/clc.png">
        <div class="clc-round-box clc-purple">
            <div class="clc-subbox">
                <img src="../../../../assets/img/HocTapUeh/book-white.png" alt="">
                <div class="clc-rec"></div>
                <p>Sinh viên được định hướng và chọn chuyên ngành ngay từ đầu khóa học</p>
            </div>
            <div class="clc-subbox">
                <img class="clc-w-50" src="../../../../assets/img/HocTapUeh/40.png" alt="">
                <div class="clc-rec"></div>
                <p>Cơ sở vật chất được trang bị hiện đại. Sĩ số khoảng 40 sinh viên/lớp.</p>
            </div>
            <div class="clc-subbox">
                <img class="clc-w-28" src="../../../../assets/img/HocTapUeh/teacher-white.png" alt="">
                <div class="clc-rec"></div>
                <p>Giảng viên tham gia giảng dạy được tuyển chọn, có phương pháp giảng dạy tích cực, lấy người học làm
                    trung tâm.</p>
            </div>
        </div>
        <div class="clc-round-box clc-pink">
            <div class="clc-subbox">
                <img class="clc-w-40" src="../../../../assets/img/HocTapUeh/hand-shake.png" alt="">
                <div class="clc-rec"></div>
                <p>Được hỗ trợ nghiên cứu khoa học, kỹ năng mềm, tham quan thực hành tại các doanh nghiệp.</p>
            </div>
            <div class="clc-subbox">
                <img src="../../../../assets/img/HocTapUeh/education.png" alt="">
                <div class="clc-rec"></div>
                <p>Được tăng cường một số học phần chuyên ngành giảng dạy bằng tiếng Anh.</p>
            </div>
            <div class="clc-subbox">
                <img class="clc-w-35" src="../../../../assets/img/HocTapUeh/diploma-white.png" alt="">
                <div class="clc-rec"></div>
                <p>Chuẩn đầu ra cao hơn. Văn bằng được cấp sau tốt nghiệp: Cử nhân CLC.</p>
            </div>
        </div>

        <div class="clc-body-title clc-t-70">Nghiên cứu khoa học đối với
            sinh viên chương trình CLC</div>
        <div class="clc-inline-area">
            <div class="inline-content">
                <div class="clc-top-text">Trong cả khoá học, mỗi sinh viên chương trình CLC phải được tham gia NCKH theo
                    nhóm nghiên cứu do các giảng viên hướng dẫn hoặc tham gia đề tài NCKH với giảng viên.</div>
                <div class="clc-bot-text">Đây là điều kiện để xét tốt nghiệp đối với sinh viên chương trình CLC.</div>
            </div>
            <img class="clc-inline-img" src="../../../../assets/img/HocTapUeh/clcmid.png">
        </div>
        <div class="clc-body-title clc-t-200">Chuyển đổi sinh viên giữa chương trình
            Chất lượng cao và chương trình Đại trà</div>
        <div class="clc-final-rec">
            <p>Sau khi kết thúc năm 2 của chương trình đào tạo Chất lượng cao (CTĐT CLC), sinh viên thuộc một trong các
                trường hợp sau đây không được tiếp tục theo học CTĐT CLC và được chuyển sang học ngành đào tạo tương ứng
                của hệ đào tạo chính quy
            </p>
            <div class="clc-inline-bot">
                <img src="../../../../assets/img/HocTapUeh/clcbot.png">
                <div class="clc-right-area">
                    <div class="clc-subbox">
                        <img class="clc-bot-img" src="../../../../assets/img/HocTapUeh/clc-red.png">
                        <div class="clc-rec clc-rec-blue"></div>
                        <p class="clc-para">Không có nguyện vọng tiếp tục học CTĐT CLC vì lý do cá nhân (phải có xác
                            nhận lý do không theo CTĐT CLC)</p>
                    </div>
                    <div class="clc-subbox">
                        <img class="clc-bot-img" src="../../../../assets/img/HocTapUeh/5.0.png" alt="">
                        <div class="clc-rec clc-rec-blue"></div>
                        <p class="clc-para">Có điểm trung bình tích lũy dưới 5.0</p>
                    </div>
                    <div class="clc-subbox">
                        <img class="clc-bot-img" src="../../../../assets/img/HocTapUeh/danger.png" alt="">
                        <div class="clc-rec clc-rec-blue"></div>
                        <p class="clc-para">Đã bị kỷ luật trong thời gian học từ mức khiển trách trở lên</p>
                    </div>
                </div>
            </div>
            <div class="clc-rec-pink"></div>
            <p>Căn cứ vào tổng chỉ tiêu đào tạo CTĐT CLC được xác định đầu khóa học, Hiệu trưởng quy định phương thức
                xét tuyển bổ sung sinh viên vào năm thứ hai (không xét tuyển bổ sung sinh viên vào năm thứ ba, thứ tư)
                của CTĐT CLC trong số những sinh viên hệ đào tạo chính quy đáp ứng các điều kiện sau</p>
            <div class="clc-bottom-rec">
                <img class="clc-bottom-img" src="../../../../assets/img/HocTapUeh/megaphone.png">
                <p class="clc-bottom-para">• Có tư cách đạo đức, ý thức tổ chức kỷ luật tốt; <br/>
                    • Điểm trung bình tích lũy của năm thứ nhất đạt từ 7.0 trở lên.</p>
            </div>
        </div>
    </div>
</section>