<section class="kltn-header">
    <div class="xhtn-header-title">Xếp hạng tốt nghiệp</div>
    <div class="xhtn-header-content">Xếp hạng tốt nghiệp cho sinh viên được xem xét dựa trên thang điểm đánh giá và điểm
        trung bình chung tích lũy của sinh viên khi tốt nghiệp.</div>
</section>
<section class="xhtn-body">
    <div class="container">
        <div class="xhtn-body-title">Hạng tốt nghiệp của sinh viên có kết quả học tập toàn khóa loại xuất sắc và giỏi sẽ
            bị giảm đi một mức, nếu rơi vào một trong các trường hợp sau</div>
        <div class="xhtn-dashed-box"></div>
        <div class="xhtn-inline">
            <div class="xhtn-round-box">
                <img src="../../../../assets/img/HocTapUeh/blue-circle.png">
                <p>Có thời gian học chính thức tại trường vượt quá thời gian quy định theo kế hoạch.</p>
            </div>
            <div class="xhtn-round-box">
                <img src="../../../../assets/img/HocTapUeh/pink-circle.png">
                <p>Số tín chỉ của các học phần phải học lại vượt quá 5% so với tổng số tín chỉ quy định cho toàn chương
                    trình đào tạo.</p>
            </div>
            <div class="xhtn-round-box">
                <img src="../../../../assets/img/HocTapUeh/blue-circle.png">
                <p>Đã bị kỷ luật từ mức cảnh cáo trở lên trong thời gian học.</p>
            </div>
        </div>
        <img class="table-img" src="../../../../assets/img/HocTapUeh/xepLoaiTN.png">
    </div>
</section>