<section class="hoc-phi-header">
    <div class="hoc-phi-header-content">HỌC PHÍ <br /> - CÁCH THỨC NỘP HỌC PHÍ</div>
</section>
<section class="hoc-phi-body">
    <div class="hoc-phi-body-title top-left-15">Quy trình nộp học phí</div>
    <div class="hoc-phi-row">
        <div class="hoc-phi-box">
            <img src="../../../../assets/img/HocTapUeh/hocPhi1.png">
            <div class="hoc-phi-box-content">Sinh viên đăng ký học phần</div>
        </div>

        <div class="hoc-phi-box">
            <img src="../../../../assets/img/HocTapUeh/hocPhi2.png">
            <div class="hoc-phi-box-content">Nộp học phí</div>
        </div>


        <div class="hoc-phi-box">
            <img src="../../../../assets/img/HocTapUeh/hocPhi3.png">
            <div class="hoc-phi-box-content">Kiểm tra thông tin</div>
        </div>

        <div class="hoc-phi-box">
            <img src="../../../../assets/img/HocTapUeh/hocPhi4.png">
            <div class="hoc-phi-box-content">Phản hồi(nếu có)</div>
        </div>
    </div>

    <div class="hoc-phi-row mg-150">
        <div class="hoc-phi-body-content">Sinh viên kiểm tra thông tin học phí đã đóng tại mục <strong>Tài khoản sinh
                viên</strong> trên trang <a href="http://online.ueh.edu.vn/">http://online.ueh.edu.vn</a>, đối chiếu hai
            thông tin sau</div>
        <img class="hoc-phi-img" src="../../../../assets/img/HocTapUeh/dashed-box.png">
        <div class="hoc-phi-txt t-45">Thông tin học phí đã nộp</div>
        <div class="hoc-phi-txt t-48">Thời khóa biểu được cập nhật</div>
    </div>

    <div class="hoc-phi-body-title top-left-13">
        Các hình thức đóng học phí
    </div>

    <div class="hoc-phi-bottom-box">
        <div class="hp-box-left">
            <div class="hp-text">Cách 1</div>
            <div class="hp-box-rec"></div>
        </div>
        <div class="hp-box-right">
            Cổng thanh toán trực tuyến <a href="https://payment.ueh.edu.vn/">https://payment.ueh.edu.vn</a>, Cổng 1 –
            chọn đợt thu phù hợp với hệ đào tạo
        </div>
    </div>

    <div class="hoc-phi-bottom-box">
        <div class="hp-box-left">
            <div class="hp-text">Cách 2</div>
            <div class="hp-box-rec"></div>
        </div>
        <div class="hp-box-right">
            Chuyển khoản theo thông tin như sau:
            Tên tài khoản: Trường Đại học Kinh tế TP. Hồ Chí Minh
            Số tài khoản: 0036 1000 0011 9009
            Tên ngân hàng: Ngân hàng TMCP Phương Đông – Chi nhánh Gia Định
            Nội dung: [Họ tên],[Mã số sinh viên],[nộp học phí học kỳ…]
        </div>
    </div>

    <div class="hoc-phi-bottom-box">
        <div class="hp-box-left">
            <div class="hp-text">Cách 3</div>
            <div class="hp-box-rec"></div>
        </div>
        <div class="hp-box-right">
            Nộp học phí bằng các loại thẻ ngân hàng (ATM, Visa, Master,…) tại ngân hàng TMCP Phương Đông – Phòng giao
            dịch Phạm Ngọc Thạch (17 Phạm Ngọc Thạch, P. 6, Q.3)
        </div>
    </div>

    <div class="hoc-phi-bottom-box">
        <div class="hp-box-left">
            <div class="hp-text">Cách 4</div>
            <div class="hp-box-rec"></div>
        </div>
        <div class="hp-box-right">
            Nộp tiền mặt trực tiếp tại tất cả các chi nhánh, phòng giao dịch của ngân hàng TMCP Phương Đông trên toàn
            quốc
        </div>
    </div>
</section>