.cover__bieumau {
  position: relative;
  background-image: url(../img/TienIchBoSung/CacBieuMau/cover_bieumau.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 1060px;
  .cover__content {
    position: absolute;
    top: 200px;
    left: 80px;
    @include text($color-black, $fs-4 - 10, $fw-bold, $fm-3);
    background: linear-gradient(to right, #01215a 0%, #ff4a7d 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }
}

@include respond-to('large') {
  .cover__bieumau {
    height: 560px;
    .cover__content {
      top: 10px;
      left: 15px;
      font-size: 41px !important;
    }
  }
}

@include respond-to('medium') {
  .cover__bieumau {
    height: 360px;
    .cover__content {
      font-size: 31px !important;
    }
  }
}

@include respond-to('small') {
  .cover__bieumau {
    .cover__content {
      font-size: 21px !important;
    }
  }
}

.background__bieumau {
  background-image: url(../img/TienIchBoSung/CacBieuMau/background_bieumau.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 2500px;
  .bieumau__content {
    .row__title {
      @include text(#26578d, $fs-3 - 10, $fw-1 + 100, $fm-4);
      text-align: center;
      border: 6px solid #264c82;
      margin: 50px 200px;
    }
    .row {
      margin: 0px;
      justify-content: center;
      a {
        text-decoration: none;
        margin-bottom: 30px;
      }
      .col {
        margin-bottom: 30px;
      }
      .box__bieumau {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 35px;
        background-color: #26578d;
        @include text($color-white, 29px, $fw-1, $fm-1);
        text-align: center;
        padding: 20px;
      }
      .logo__bieumau {
        display: flex;
        justify-content: center;
        img {
          display: block;
          width: 60%;
          height: 100%;
        }
      }
      .custom__box {
        border: 8px solid #26578d;
        background-color: rgba(0, 0, 0, 0);
        color: #26578d;
        text-transform: uppercase;
      }
      .left {
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .row--right {
        display: flex;
        align-items: center;
        .right {
          .box__bieumau {
            margin-bottom: 30px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .height {
    margin-top: 120px;
  }
}

@include respond-to('medium') {
  .background__bieumau {
    height: 2000px;
    .bieumau__content {
      .row__title {
        font-size: $fs-3 - 20;
        margin: 50px 0px;
      }
      .row {
        .box__bieumau {
          font-size: 20px !important;
          padding: 20px;
        }
        .logo__bieumau {
          img {
            width: 100%;
          }
        }
        .row--right {
          .right {
            width: 100%;
          }
        }
      }
    }
    .height {
      margin-top: 40px;
    }
  }
}
