<section class="bg-portal">
    <div class="bg-portal-content">Portal <br />Sinh viên</div>
    <div>
        <div class="content-1">Cổng thông tin dành cho sinh viên hay còn gọi là Portal sinh viên</div>
    </div>
    <div>
        <div class="content-2">Trong trường hợp không thể truy cập hoặc cần điều chỉnh thông tin, sinh viên liên hệ
            Phòng Quản lý đào tạo – Công tác sinh viên để được hỗ trợ.</div>
    </div>
    <a href="http://online.ueh.edu.vn/" target="_blank">
        <button class="btn btn-primary btn-custom">TRUY CẬP</button>
    </a>

</section>
<section class="main-body">
    <div class="congcu-title">
        Các thanh công cụ sinh viên cần lưu ý
    </div>
    <div class="row congcu-content">
        <div class="col-md-3">
            <div class="icon">
                <img src="../../../../assets/img/HocTapUeh/website.png" alt="">
                <span class="congcu-text">Trang của bạn</span>
               
            </div>
            <div class="rectangle"></div>
            <div class="congcu-text-body">
                Những tin nhắn, thông báo của Trường gửi cho sinh viên.
            </div>
        </div>

        <div class="col-md-3 h-375">
            <div class="icon">
                <img src="../../../../assets/img/HocTapUeh/website.png" alt="">
                <span class="congcu-text">Thông tin cá nhân</span>
                
            </div>
            <div class="rectangle"></div>
            <div class="congcu-text-body">
                Sinh viên phải cập nhật thông tin liên lạc của mình và người thân khi:
                <li>Đăng nhập lần đầu;</li>
                <li>Khi thông tin thay đổi;</li>
                <li>Trước thời điểm đăng ký học phần.</li>
                Việc cập nhật thông tin liên hệ là nghĩa vụ của sinh viên.
                Mục đích:
                <li>Đảm bảo quyền lợi của sinh viên,</li>
                <li>Hỗ trợ nhà trường trong những tình huống khẩn cấp.</li>


            </div>
        </div>

        <div class="col-md-3 h-275">
            <div class="icon">
                <img src="../../../../assets/img/HocTapUeh/website.png" alt="">
                <span class="congcu-text">Ghi danh nhu cầu học</span>
                
            </div>
            <div class="rectangle"></div>
            <div class="congcu-text-body">
                Từ tháng 01 đến tháng 03 hàng năm, Trường mở hệ thống để sinh viên đăng ký nhu cầu học trong Học kỳ
                giữa. Khảo sát có ý nghĩa thống kê để Trường có căn cứ mở lớp học phần.
            </div>
        </div>


        <div class="col-md-3 mt-195 h-385">
            <div class="icon">
                <img src="../../../../assets/img/HocTapUeh/website.png" alt="">
                <span class="congcu-text">Chương trình đào tạo</span>
                
            </div>
            <div class="rectangle"></div>
            <div class="congcu-text-body">
                Cung cấp các thông tin về chương trình đào tạo bao gồm: mã học phần, tên học phần, loại học phần, số tín
                chỉ, thông tin các nhóm học phần tự chọn…
                <br /> Sinh viên có thể tham khảo chương trình đào tạo tại trang chủ website <a href="http://online.ueh.edu.vn" target="_blank">http://online.ueh.edu.vn</a>,
                chọn
                mục “Ngành”, chọn chuyên ngành tại thanh bên trái màn hình, chọn “Khóa học”.
            </div>
        </div>

        <div class="col-md-3 h-xem-diem">
            <div class="icon">
                <img src="../../../../assets/img/HocTapUeh/website.png" alt="">
                <span class="congcu-text">Xem điểm</span>
                
            </div>
            <div class="rectangle"></div>
            <div class="congcu-text-body">
                Kết quả học tập của sinh viên được cập nhật tại mục này.
                <br /><br />
                Sinh viên có nhu cầu đề nghị cấp Giấy chứng nhận kết quả học tập (bảng điểm) liên hệ trực tiếp phòng
                QLĐT - CTSV để đăng ký thủ tục.
                <br /><br />
                Sinh viên có thể xem và kiểm tra file điểm thi scan từ bảng điểm gốc tại website Phòng QLĐT - CTSV
                ( <a href="http://daotao.ueh.edu.vn/" target="_blank">http://daotao.ueh.edu.vn</a> ),
                mục “Bảng điểm gốc”, tin “Kết quả thi kết thúc học phần - Các khóa hệ”
            </div>
        </div>

        <div class="col-md-3 mt-45">
            <div class="icon">
                <img src="../../../../assets/img/HocTapUeh/website.png" alt="">
                <span class="congcu-text">Đăng ký học phần</span>
                
            </div>
            <div class="rectangle"></div>
            <div class="congcu-text-body">
                Thanh công cụ này chỉ được hoạt động trong thời gian đăng ký học phần.
            </div>
        </div>


        <div class="col-md-3 mt-vang-thi">
            <div class="icon">
                <img src="../../../../assets/img/HocTapUeh/website.png" alt="">
                <span class="congcu-text">Vắng thi có phép</span>
                
            </div>
            <div class="rectangle"></div>
            <div class="congcu-text-body">
                Thông tin giải quyết giấy đề nghị vắng thi có phép của sinh viên và lịch thi tham khảo đăng ký thi ghép.
            </div>
        </div>

        <div class="col-md-3 h-dkcn">
            <div class="icon">
                <img src="../../../../assets/img/HocTapUeh/website.png" alt="">
                <span class="congcu-text">Đăng ký chuyên ngành</span>
                
            </div>
            <div class="rectangle"></div>
            <div class="congcu-text-body">
                Thanh công cụ này chỉ được hoạt động vào thời điểm sinh viên đăng ký nguyện vọng xét chuyên ngành.
            </div>
        </div>

        <div class="col-md-3 mt-tkb">
            <div class="icon">
                <img src="../../../../assets/img/HocTapUeh/website.png" alt="">
                <span class="congcu-text">Thời khóa biểu – Lịch thi</span>
                
            </div>
            <div class="rectangle"></div>
            <div class="congcu-text-body">
                Sinh viên chọn năm học, học kỳ để theo dõi thời khóa biểu và lịch thi của cá nhân sinh viên.
                Ngoài ra, sinh viên có thể truy cập website <a href="http://khkt.ueh.edu.vn" target="_blank">http://khkt.ueh.edu.vn</a>
                <br /> <br />
                Xem Thời khóa biểu:
                <li>Chọn mục “Thời khóa biểu” để xem thời khóa biểu theo khóa học;</li>
                <li>Hoặc mục “Tra cứu lịch học” để xem lịch học theo lớp học phần.</li>
                <br /><br />
                Xem Lịch thi:
                <li>Chọn mục “Lịch thi” để xem lịch thi theo khóa – ngành – lớp học phần; </li>
                <li>Hoặc mục “Tra cứu lịch thi” để xem lịch thi theo lớp học phần.</li>
            </div>
        </div>

        <div class="col-md-3 mt-chungchi">
            <div class="icon">
                <img src="../../../../assets/img/HocTapUeh/website.png" alt="">
                <span class="congcu-text">Nộp chứng chỉ ngoại ngữ</span>
                
            </div>
            <div class="rectangle"></div>
            <div class="congcu-text-body">
                Sinh viên cập nhật thông tin chứng chỉ ngoại ngữ thỏa điều kiện xét tốt nghiệp tại mục này, đồng thời
                nộp bản sao chứng chỉ ngoại ngữ theo thông báo trong thời gian quy định.
            </div>
        </div>


        <div class="col-md-3 mt-tksv">
            <div class="icon">
                <img src="../../../../assets/img/HocTapUeh/website.png" alt="">
                <span class="congcu-text">Tài khoản sinh viên</span>
                
            </div>
            <div class="rectangle"></div>
            <div class="congcu-text-body">
                Thông tin học phí theo từng học kỳ của sinh viên.
            </div>
        </div>


        <div class="col-md-3 mt-dktn">
            <div class="icon">
                <img src="../../../../assets/img/HocTapUeh/website.png" alt="">
                <span class="congcu-text">Đăng ký xét tốt nghiệp</span>
                
            </div>
            <div class="rectangle"></div>
            <div class="congcu-text-body">
                Thanh công cụ này chỉ được hoạt động vào thời điểm sinh viên đăng ký xét tốt nghiệp cuối khóa.
            </div>
        </div>

        <div class="col-md-3 mt-yktl">
            <div class="icon">
                <img src="../../../../assets/img/HocTapUeh/website.png" alt="">
                <span class="congcu-text">Ý kiến – Thảo luận</span>
                
            </div>
            <div class="rectangle"></div>
            <div class="congcu-text-body">
                Sinh viên có thể tham gia nhận xét và thảo luận ý kiến cho từng lớp học phần.
            </div>
        </div>

        <div class="col-md-3 mt-dkmtc">
            <div class="icon">
                <img src="../../../../assets/img/HocTapUeh/website.png" alt="">
                <span class="congcu-text">Ghi danh môn tự chọn</span>
                
            </div>
            <div class="rectangle"></div>
            <div class="congcu-text-body">
                Khảo sát có ý nghĩa thống kê để Trường có căn cứ mở lớp học phần tự chọn.
            </div>
        </div>
    </div>


    <div class="huong-dan-dang-nhap">
        <div class="huong-dan-title">
            Hướng dẫn đăng nhập lần đầu
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="../../../../assets/img/HocTapUeh/HDDangnhap 1.png" alt="Hướng dẫn đăng nhập lần đầu - Bước 1">
            </div>

            <div class="col-md-6">
                <img src="../../../../assets/img/HocTapUeh/HDDangnhap 2.png" alt="Hướng dẫn đăng nhập lần đầu - Bước 2">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="../../../../assets/img/HocTapUeh/HDDangnhap 3.png" alt="Hướng dẫn đăng nhập lần đâu - Bước 3">
            </div>

            <div class="col-md-6">
                <img src="../../../../assets/img/HocTapUeh/HDDangnhap 4.png" alt="Hướng dẫn đăng nhập lần đâu - Bước 4">
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 last-item">
                <img src="../../../../assets/img/HocTapUeh/HDDangnhap 5.png" alt="Hướng dẫn đăng nhập lần đâu - Bước 5">
            </div>
        </div>
    </div>
</section>
