<section class="cover__home">
    <div class="cover__content">Sổ tay sinh viên</div>
</section>

<section class="home__content">
    <div class="home__box">
        <div class="box__title">
            <span>TỔNG QUAN VỀ UEH</span>

        </div>
        <div class="row box__content">
            <div class="col-md-3">
                <div class="box--item box--color1" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Văn hóa UEH
                </div>
            </div>

            <div class=" col-md-3">
                <div class=" box--item box--color2" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Các cơ sở trực thuộc
                </div>
            </div>

            <div class="col-md-3" style="opacity:0">

            </div>
        </div>
    </div>


    <div class="home__box">
        <div class="box__title">
            <span>HỌC TẬP TẠI UEH</span>

        </div>
        <div class="row box__content">
            <div class="col-md-3">
                <div class="box--item box--color1" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Tài khoản của sinh viên
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Portal sinh viên
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Email sinh viên
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Thẻ sinh viên
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Hệ thống học trực tuyến LMS
                </div>

                <div class="box--item box--color1" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Học phần - Học phí
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Đăng ký học phần, hủy học phần
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Mở lớp học phần theo nhu cầu
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Học phí - Cách thức nộp học phí
                </div>

                <div class="box--item box--color1" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Kết quả học tập - Rèn luyện
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Đánh giá rèn luyện sinh viên
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Chuyển điểm
                </div>


            </div>

            <div class=" col-md-3">
                <div class=" box--item box--color2" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Lịch học
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Khung thời gian đào tạo hàng năm
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Thời gian học trong ngày
                </div>


                <div class=" box--item box--color2" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Thi kết thúc học phần
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Vắng thi - Đăng ký thi ghép
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Quy định liên quan về thi - Phúc khảo
                </div>

                <div class=" box--item box--color2" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Tốt nghiệp
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Học phần Khóa luận tốt nghiệp
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Chuẩn đầu ra các ngành/chuyên ngành
                </div>


                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Điều kiện xét và công nhận tốt nghiệp
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Xếp hạng tốt nghiệp
                </div>

            </div>

            <div class=" col-md-3">
                <div class="box--item box--color3" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Chương trình Chất lượng cao
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Chương trình Cử nhân tài năng
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Chương trình đào tạo thứ 2
                </div>

                <div class="box--item box--subitem" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Xếp hạng tốt nghiệp
                </div>
                <div class="box--item box--color3" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Thư viện UEH
                </div>
                <div class="box--item box--color3" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Nghỉ học tạm thời - Nhập học lại
                    - Thôi học
                </div>
                <div class="box--item box--color3" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Nghiên cứu khoa học
                </div>
            </div>
        </div>
    </div>


    <div class="hinhAnh">
        <img src="../../../assets/img/TrangChu/2634643.png" alt="">
    </div>

    <div class="home__box">
        <div class="box__title">
            <span>ĐỒNG HÀNH CÙNG SINH VIÊN UEH</span>

        </div>
        <div class="row box__content">
            <div class="col-md-3">
                <div class="box--item box--color1" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Cố vấn học tập
                </div>
                <div class="box--item box--color1" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Học bổng
                </div>
            </div>

            <div class=" col-md-3">
                <div class=" box--item box--color2" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Ký túc xá UEH
                </div>
                <div class=" box--item box--color2" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Tín dụng học tập
                </div>
                <div class=" box--item box--color2" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Khởi nghiệp
                </div>
            </div>

            <div class=" col-md-3">
                <div class=" box--item box--color3" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Miễn, giảm học phí
                </div>
                <div class=" box--item box--color3" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Việc làm
                </div>
            </div>
        </div>
    </div>

    <div class="home__box">
        <div class="box__title">
            <span>THÔNG TIN LIÊN HỆ CÁC ĐƠN VỊ</span>

        </div>
    </div>

    <div class="home__box">
        <div class="box__title">
            <span>GÓC TIỆN ÍCH BỔ SUNG</span>

        </div>
        <div class="row box__content">
            <div class="col-md-3">
                <div class="box--item box--color1" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Các mẫu biểu, logo
                </div>
            </div>

            <div class=" col-md-3">
                <div class=" box--item box--color2" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Các phần mềm hỗ trợ
                </div>
            </div>

            <div class=" col-md-3">
                <div class=" box--item box--color3" [routerLink]="['/tong-quan-ueh/van-hoa']">
                    Xe buýt
                </div>
            </div>
        </div>
    </div>

</section>