<section class="cover__home">
    <div class="cover__content">Sổ tay sinh viên</div>
</section>

<section class="home__content">
    <div class="home__box">
        <div class="box__title">
            <span>TỔNG QUAN VỀ UEH</span>

        </div>
        <div class="row box__content">
            <div class="col-md-4 box--item">
                Văn hóa UEH
            </div>

            <div class="col-md-4 box--item">
                Các cơ sở trực thuộc
            </div>

            <div class="col-md-4 box--item">

            </div>
        </div>
    </div>
</section>