.lhp-header{
    width: 100%;
    background-image: url(../img/HocTapUeh/moLopHocPhanHeader.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 205px;
    .lhp-header-title{
        background: linear-gradient(to right, #01215a 0%, #ff4a7d 100%);
        background-clip: text;
        color: #ffffff;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
        font-weight: 900;
        position: relative;
        width: 300px;
        left: 15px;
        text-transform: uppercase;
    }
    .lhp-header-content{
        color: #22598a;
        font-size: 13px;
        font-weight: 600;
        width: 200px;
        margin-left: 15px;
        text-align: left;
    }
}
.lhp-body{
    width: 100%;
    background-image: url(../img/HocTapUeh/emailBody.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
}
table{
    border-collapse: collapse;
    text-align: center;
    color: #22598a;
    font-size: 13px;
    position: relative;
    top: 50px;
    left: 15%;
    border: 3px solid;
    width: 70%;
}
th, td{
    border: 2px solid #80346d ;
    padding: 5px;
}
.info{
    font-weight: 700;
}
.assign{
    font-weight: 700;
}

@media only screen and (min-width:1000px){
    .lhp-header{
        height: 650px;
        .lhp-header-title{
            font-size: 70px;
            width: 700px;
            left: 70px;

        }
        .lhp-header-content{
            font-size: 35px;
            width: 650px;
            margin-left: 70px;
            margin-top: 50px;
        }
    }
    .lhp-body{
        width: 100%;
        height: 1400px;
    }
    table{
        left: 15%;
        top: 70px;
        border: 7px solid;
        color: #22598a;
        font-size: 26px;
        font-weight: 600;
    }
    th, td{
        border: 2px solid #80346d ;
        padding: 5px;
    }
    .info{
        font-weight: 700;
        font-size: 35px;
    }
    .assign{
        font-weight: 700;
        font-size: 35px;
    }
}
@media only screen and (min-width:1920px){
    .lhp-header {
        height: 970px;
    }
}