.bg-tsv {
    position: relative;
    background-image: url(../img/HocTapUeh/bg23tsv.png);
    background-size: cover;
    height: 235px;
    background-position: center center;
    background-repeat: no-repeat;
    .tsv-title {
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        background: linear-gradient(to right, #01215a 0%, #ff4a7d 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
    .tsv-content {
        color: #38266e;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        text-align: center;
    }
}

.tsv-main-body {
  background-image: url(../img/HocTapUeh/tsvMainBg.png);
  background-repeat: no-repeat;
  height: 1065px;
  background-size: cover;
  background-position: center center;

  .tsv-main-title {
    color: #1f558e;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    padding: 10px;
    text-align: center;
  }

  .tsv-dashed-box {
    width: 49%;
    height: 380px;
    border: 3px dashed #636363;
    margin-top: 10px;
    margin-left: 55px
  }

  .tsv-dashed-box-inbound {
    width: 49%;
    height: 380px;
    border: 3px dashed #636363;
    margin-top: 10px;
    margin-left: -25%;
  }

  .tsv-main-content {
    padding-top: 120px;

    .col-md-3 {
      max-width: 20% !important;
      box-shadow: 0 13px 29px rgba(0, 0, 0, 0.35);
      border-radius: 20px;
      background-color: #ffffff;
      height: 315px;
      position: relative;
      top: -29em;
      margin-left: 17px;
      overflow-wrap: break-word;

      .circle {
        width: 25px;
        height: 25px;
        background-color: #26236e;
        border-radius: 90px;
        display: inline-block;
        left: 27px;
        position: absolute;
        margin-top: -15px;
      }

      .circle-pink {
        background-color: #e84473;
      }

      .tsv-content-para {
        color: #38266e;
        font-size: 10px;
        font-weight: 500;
        line-height: 25px;
        text-align: center;
        margin-top: 10px;
      }

      .pink {
        color: #e6414d;
      }
    }
  }

  .tsv-mat-the {
    position: relative;
    top: -25em;

    img {
      width: 80%;
      margin: 0px auto 5px 10%;
    }

    .mat-the-title {
      color: #116a8e;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }

    .mat-the-box {
      position: relative;
      height: fit-content;
      box-shadow: 0 13px 29px rgba(0, 0, 0, 0.35);
      border-radius: 20px;
      background-image: -webkit-gradient(linear, left top, right top, from(#242659), color-stop(99%, #2887bf), to(#2887bf));
      background-image: linear-gradient(to right, #242659 0%, #2887bf 99%, #2887bf 100%);
      margin-top: 15px;

      p {
        color: #ffffff;
        font-size: 12px;
        font-weight: 600;
        padding: 15px;
      }
    }
  }
}

@media only screen and (min-width:1000px){
    .bg-tsv{
        height: 700px;
        .tsv-title{
            text-align: center;
            margin-top: 100px;
            font-size: 100px;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
        }
        .tsv-content{
            color: #38266e;
            font-size: 33px;
            font-weight: 500;
            line-height: 37.5px;
            text-align: center;
        }
    }
  .tsv-main-body {
    height: 1600px;

    .tsv-main-title {
      color: #1f558e;
      font-size: 50px;
      font-weight: 700;
      line-height: 39.28px;
      padding: 20px;
      text-align: center;
      margin-top: 30px;
    }

    .tsv-dashed-box {
      width: 40.75%;
      height: 530px;
      border: 4px dashed #636363;
      margin-top: 50px;
      position: absolute;
      left: 14.5em;
    }

    .tsv-dashed-box-inbound {
      width: 40.75%;
      height: 530px;
      border: 4px dashed #636363;
      margin-top: 50px;
      position: absolute;
      left:56.25em;
    }

    .tsv-main-content {
      padding-top: 50px;

      .col-md-3 {
        max-width: 17% !important;
        box-shadow: 0 13px 29px rgba(0, 0, 0, 0.35);
        border-radius: 20px;
        background-color: #ffffff;
        height: 420px;
        left: 4%;
        margin: 40px;
        top: 1em;
        overflow-wrap: break-word;

        .circle {
          width: 30px;
          height: 30px;
          background-color: #26236e;
          border-radius: 90px;
          display: inline-block;
          left: 43%;
          position: absolute;
          margin-top: -15px;
        }

        .circle-pink {
          background-color: #e84473;
        }

        .tsv-content-para {
          color: #38266e;
          font-size: 24px;
          font-weight: 500;
          line-height: 37.5px;
          text-align: center;
          padding: 5px;
          margin: 15px;
        }

        .pink {
          color: #e6414d;
        }
      }
    }

    .tsv-mat-the {
      top: 3em;

      img {
        width: 80%;
      }

      .mat-the-title {
        color: #116a8e;
        font-size: 40px;
        font-weight: 700;
        left: 12em;
        top: -9em;
        position:absolute;
        width: 100%;
      }

      .mat-the-box {
        left: 30em;
        top: -10em;

        p {
          font-size: 33px;
        }
      }
    }
  }
}

@media only screen and (min-width:1920px){
    .bg-tsv{
        height: 1100px;
        .tsv-title{
            font-size: 125px;
        }
        .tsv-content{
            font-size: 57px;
            line-height: 75px;
        }
    }
  .tsv-main-body {
    height: 1600px;

    .tsv-main-title {
      color: #1f558e;
      font-size: 50px;
      font-weight: 700;
      line-height: 39.28px;
      padding: 20px;
      text-align: center;
      margin-top: 30px;
    }

    .tsv-dashed-box {
      width: 30%;
      left: 29.25em;
    }

    .tsv-dashed-box-inbound {
      width: 30%;
      left: 67.5%;
    }

    .tsv-main-content {
      padding-top: 120px;

      .col-md-3 {
        max-width: 20% !important;
        left: 0%;
        margin: 28px;
        top: -2em;

        .circle {
          left: 45%;
        }

        .circle-pink {
          background-color: #e84473;
        }

        .tsv-content-para {
          color: #38266e;
          font-size: 24px;
          font-weight: 500;
          line-height: 37.5px;
          text-align: center;
          padding: 5px;
          margin: 15px;
        }

        .pink {
          color: #e6414d;
        }
      }
    }

    .tsv-mat-the {
      top: 5em;

      img {
        width: 100%;
      }

      .mat-the-title {
        left: 15em;
        top: -11em;
      }

      .mat-the-box {
        left: 35em;
        top: -18em;

        p {
          color: #ffffff;
          font-size: 33px;
          font-weight: 600;
          padding: 15px;
        }
      }
    }
  }
}
