<section class="cover__thongtinlienhe">
  <div class="cover__content">Thông tin liên hệ <br />các đơn vị</div>
</section>

<section class="background__thongtinlienhe">
  <div class="thongtinlienhe__content">
    <div class="thongtinlienhe__title">
      <div class="row">
        <div class="col-md-3 title__box title-box-custom">Đơn vị</div>
        <div class="col-md-5 title__box title-box-custom-2">Sinh viên liên hệ công việc</div>
      </div>
    </div>
    <div class="container">
      <div class="thongtinlienhe__box">
        <div class="box__title">Văn phòng trường</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://www.vanphong.ueh.edu.vn/" target="_blank">http://www.vanphong.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_2.png" alt="" />
                  </div>
                  <div class="item__content">vanphong@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng A0.11, cơ sở A</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3829 5299</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Cấp giấy xác nhận sinh viên để tạm hoãn nghĩa vụ quân sự, bổ sung hồ sơ cá nhân.</li>
                <li>Sao y bảng điểm, văn bằng, chứng chỉ do UEH cấp.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="thongtinlienhe__box box-semi">
        <div class="box__title">Phòng Quản lý khoa học - Hợp tác quốc tế</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://rmic.ueh.edu.vn/" target="_blank">http://rmic.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_2.png" alt="" />
                  </div>
                  <div class="item__content">rmic@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng A1.12, cơ sở A</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3829 5603 - (028) 3827 4991</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>
                  Là đơn vị chức năng trực tiếp giúp Hiệu trưởng quản lý hoạt động NCKH của sinh viên; chịu trách nhiệm
                  chính về việc tổ chức, hướng dẫn, kiểm tra, đánh giá và báo cáo về hoạt động NCKH của sinh viên
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box">
        <div class="box__title">Phòng Đào tạo</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://daotao.ueh.edu.vn/" target="_blank">http://daotao.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_2.png" alt="" />
                  </div>
                  <div class="item__content">qldt_ctsv@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng A0.13 - A0.14, cơ sở A</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3823 0082</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Công tác tuyển sinh hệ chính quy.</li>
                <li>Tổ chức nhập học, quản lý hồ sơ sinh viên.</li>
                <li>Tổ chức đăng ký học phần.</li>
                <li>Các vấn đề liên quan đến xử lý học vụ, kết quả học tập, xét tốt nghiệp.</li>
                <li>Các công việc liên quan đến miễn giảm học phí, xác nhận ưu đãi giáo dục…</li>
                <li>Công tác khen thưởng, kỷ luật sinh viên.</li>
                <li>Phối hợp quản lý công tác giáo dục quốc phòng.</li>
                <li>Cấp bảng điểm, văn bằng, bản sao văn bằng.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box box-semi">
        <div class="box__title">Viện đào tạo quốc tế</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="https://isb.edu.vn/" target="_blank">https://isb.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_2.png" alt="" />
                  </div>
                  <div class="item__content">info@isb.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_3.png" alt="" />
                  </div>
                  <div class="item__content">17 Phạm Ngọc Thạch, Quận 3</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 5446 5555</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>
                  Phát triển các chương trình, dự án hợp tác và đào tạo với các trường đại học và các tổ chức giáo dục
                  nước ngoài.
                </li>
                <li>Tổ chức các dịch vụ hỗ trợ sinh viên du học nước ngoài và trao đổi sinh viên quốc tế.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box">
        <div class="box__title">Phòng Marketing - Truyền thông</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://comm.ueh.edu.vn/" target="_blank">http://comm.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_2.png" alt="" />
                  </div>
                  <div class="item__content">comm@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng A2.09, cơ sở A</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3823 5778</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>
                  Quản lý nội dung và hình ảnh các kênh truyền thông UEH (phát triển website, mạng xã hội, kênh mạng
                  video, Led, LCD...).
                </li>

                <li>Hỗ trợ hoạt động của Mạng lưới cựu sinh viên.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box box-semi">
        <div class="box__title">Phòng Kế hoạch đào tạo - Khảo thí</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://khdtkt.ueh.edu.vn/" target="_blank"> http://khdtkt.ueh.edu.vn/ </a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_2.png" alt="" />
                  </div>
                  <div class="item__content">ktkd@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng B1-12A01, tòa nhà B1, cơ sở B</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3853 2247</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Liên hệ các vấn đề liên quan đến thủ tục trước khi dự thi kết thúc học phần.</li>
                <li>Khiếu nại, phúc khảo điểm thi kết thúc học phần.</li>

                <li>Điều phối sử dụng hiệu quả giảng đường, phòng máy tính.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box">
        <div class="box__title">Phòng Đảm bảo chất lượng - Phát triển chương trình</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://qacd.ueh.edu.vn/" target="_blank">http://qacd.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_2.png" alt="" />
                  </div>
                  <div class="item__content">qacd@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng A2.14, cơ sở A</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3825 7582</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Liên hệ để xác nhận các vấn đề liên quan đến chương trình đào tạo.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box box-semi">
        <div class="box__title">Phòng Chăm sóc và hỗ trợ người học</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href=" https://www.dsa.ueh.edu.vn/" target="_blank"> https://www.dsa.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_2.png" alt="" />
                  </div>
                  <div class="item__content">dsa@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng A0.16, Cơ sở A</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Sảnh B1, Cơ sở B</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 7306 1976</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Hỗ trợ thông tin về UEH và các hoạt động, dịch vụ tại UEH cho các đối tượng có nhu cầu.</li>
                <li>Tư vấn tâm lý cho người học.</li>
                <li>
                  Công tác học bổng bao gồm học bổng khuyến khích học tập, học bổng hỗ trợ học tập, học bổng cho người
                  học có hoàn cảnh đặc biệt, và tín dụng học tập cho người học.
                </li>

                <li>Nắm bắt thông tin và hỗ trợ người học trong các trường hợp quấy rối tình dục.</li>

                <li>Hỗ trợ người học khuyết tật.</li>

                <li>Định hướng cho sinh viên đầu khóa (tuần sinh hoạt công dân trước đây).</li>

                <li>
                  Cổng giao dịch điện tử các dịch vụ gia tăng của UEH, giấy giới thiệu sinh viên thực tập, dịch vụ hỗ
                  trợ sinh viên quốc tế.
                </li>

                <li>Phụ trách hoạt động rèn luyện sinh viên.</li>

                <li>
                  Tiếp nhận và phối hợp với các đơn vị chức năng có liên quan để giải quyết các vấn đề về thắc mắc,
                  khiếu nại, tố cáo của người học.
                </li>

                <li>Công tác giáo dục chính trị tư tưởng, đạo đức lối sống và kỹ năng sống của người học.</li>

                <li>Chịu trách nhiệm thực hiện các dịch vụ liên quan đến Lễ Tốt nghiệp.</li>

                <li>
                  Thực hiện các dịch vụ nghề nghiệp phục vụ người học (giới thiệu việc làm, ngày hội nghề nghiệp, học kỳ
                  doanh nghiệp, tham quan thực tế doanh nghiệp, phát triển kỹ năng nghề nghiệp…)
                </li>

                <li>
                  Nắm bắt nhu cầu và thực hiện công tác thông tin hỗ trợ nơi ở cho người học (ký túc xá, nhà trọ…).
                </li>
                <li>Thực hiện công tác thông tin các hoạt động liên quan đến cựu sinh viên.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box">
        <div class="box__title">Phòng Tài chính - Kế toán</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://tckt.ueh.edu.vn/" target="_blank">http://tckt.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_2.png" alt="" />
                  </div>
                  <div class="item__content">tckt-contact@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng A0.09, cơ sở A</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3822 2357</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Các vấn đề liên quan đến số tiền về học phí, học bổng, trợ cấp.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box box-semi">
        <div class="box__title">Phòng Cơ sở vật chất</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://csvc.ueh.edu.vn/" target="_blank">http://csvc.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_2.png" alt="" />
                  </div>
                  <div class="item__content">csvc@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng A2.16, cơ sở A</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3823 1597</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Các vấn đề liên quan đến cơ sở vật chất như phòng học, điện, âm thanh, ….</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box">
        <div class="box__title">Phòng Công nghệ thông tin</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://cntt.ueh.edu.vn/" target="_blank">http://cntt.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_2.png" alt="" />
                  </div>
                  <div class="item__content">cntt@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng A2.03, cơ sở A</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3825 7263</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Cấp tài khoản email sinh viên.</li>
                <li>Cấp thẻ sinh viên.</li>
                <li>Hệ thống học trực tuyến LMS</li>
                <li>Wifi của trường, của phòng học.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box box-semi">
        <div class="box__title">Phòng Thanh tra</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href=" http://thanhtra.ueh.edu.vn/" target="_blank">http://thanhtra.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_2.png" alt="" />
                  </div>
                  <div class="item__content">ttdt@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng A0.03, cơ sở A</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3823 1606</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Tiếp và giải quyết các thắc mắc, khiếu nại của sinh viên.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box">
        <div class="box__title">Thư viện</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://lib.ueh.edu.vn/" target="_blank">http://lib.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_2.png" alt="" />
                  </div>
                  <div class="item__content">lib@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Cơ sở B</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Cơ sở Nguyễn Văn Linh</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3856 1249</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Cung cấp dịch vụ đặt phòng học nhóm, mượn trả/đặt mượn tài liệu</li>
                <li>Dịch vụ tổ chức hướng dẫn kỹ năng thư viện</li>
                <li>Dịch vụ tài liệu môn học, tham khảo, hỗ trợ nghiên cứu</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="thongtinlienhe__box">
        <div class="box__title">Trung tâm Phát triển khởi nghiệp</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://ced.ueh.edu.vn/" target="_blank">http://ced.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_2.png" alt="" />
                  </div>
                  <div class="item__content">ced@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng A3.05, cơ sở A</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3827 4990</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Hỗ trợ sinh viên các hoạt động tư vấn khởi nghiệp.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box box-semi">
        <div class="box__title">Trạm Y tế</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://yte.ueh.edu.vn/" target="_blank">http://yte.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_2.png" alt="" />
                  </div>
                  <div class="item__content">yte@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng A0.04, cơ sở A</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3829 6571</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Các công việc liên quan đến Bảo hiểm y tế, Bảo hiểm tai nạn của sinh viên.</li>
                <li>Khám bệnh, cấp thuốc điều trị các bệnh thông thường và tư vấn sức khỏe cho sinh viên.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box">
        <div class="box__title">Đoàn Thanh niên – Hội Sinh viên</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://youth.ueh.edu.vn/" target="_blank">http://youth.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_2.png" alt="" />
                  </div>
                  <div class="item__content">youth@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng B2-6.03, tòa nhà B2, cơ sở B</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3606 3090</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Quản lý công tác đoàn viên, hội viên.</li>
                <li>Cập nhật dữ liệu hoạt động, đánh giá kết quả rèn luyện đoàn viên.</li>
                <li>Tổ chức các hoạt động giáo dục, NCKH, phong trào tình nguyện, văn hóa, văn nghệ, TDTT.</li>
                <li>Quản lý các CLB/Đội/Nhóm sinh viên.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box box-semi">
        <div class="box__title">Tạp chí Nghiên cứu kinh tế và Kinh doanh Châu Á</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://jabes.ueh.edu.vn/" target="_blank">http://jabes.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_2.png" alt="" />
                  </div>
                  <div class="item__content">vi.jabes@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng A2.06, cơ sở A</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3829 5635</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Hỗ trợ, hướng dẫn sinh viên đăng bài báo khoa học.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box">
        <div class="box__title">Viện Đổi mới sáng tạo</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://uii.ueh.edu.vn/" target="_blank">http://uii.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_2.png" alt="" />
                  </div>
                  <div class="item__content">uii@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_3.png" alt="" />
                  </div>
                  <div class="item__content">232/6 Võ Thị Sáu, P.7, Q.3</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_4.png" alt="" />
                  </div>
                  <div class="item__content">0902973063</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>
                  Thu hút sinh viên có ý tưởng khởi nghiệp tham gia làm việc và học tập tại không gian làm việc chung,
                  nơi các bạn được trao đổi và chia sẻ ý tưởng với các thế hệ doanh nhân thành đạt đi trước là cựu sinh
                  viên UEH
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box box-semi">
        <div class="box__title">Viện Ngôn ngữ - Quốc tế học</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://ilacs.ueh.edu.vn/" target="_blank">http://ilacs.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_2.png" alt="" />
                  </div>
                  <div class="item__content">ilacs@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng B1-1104, cơ sở B</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/icon_4.png" alt="" />
                  </div>
                  <div class="item__content">(028) 3911 0288</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>Đào tạo các khóa học tiếng Anh tổng quát, chứng chỉ TOEIC, IELTS.</li>
                <li>Tổ chức thi chứng chỉ TOEIC đối với sinh viên.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="thongtinlienhe__box">
        <div class="box__title">Trung tâm Dữ liệu - Phân tích kinh tế</div>
        <div class="box__content">
          <div class="box__left">
            <div class="list__lienhe">
              <ul>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_1.png" alt="" />
                  </div>
                  <div class="item__content">
                    <a href="http://cdea.ueh.edu.vn/" target="_blank">http://cdea.ueh.edu.vn/</a>
                  </div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_2.png" alt="" />
                  </div>
                  <div class="item__content">cdea@ueh.edu.vn</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_3.png" alt="" />
                  </div>
                  <div class="item__content">Phòng A3.10, cơ sở A</div>
                </li>
                <li>
                  <div class="item__icon">
                    <img src="assets/img/ThongTinLienHe/r_icon_4.png" alt="" />
                  </div>
                  <div class="item__content"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="box__right">
            <div class="lienhe__detail">
              <ul>
                <li>
                  Hướng dẫn sinh viên truy cập, khai thác và cung cấp dữ liệu phục vụ trong quá trình học tập, nghiên
                  cứu của sinh viên.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
