<section class="cover__doanhoi">
  <div class="cover__content">Thông tin <br>về đoàn hội</div>
</section>

<section class="background__doanhoi">
  <div class="doanhoi__content">
    <div class="row">
      <div class="col-md-12">
        <div class="doanhoi__box">
          <div class="box__icon">
            <img src="../../../../assets/img/SanChoiTaiUeh/ThongTinDoanHoi/2-layers.png" alt="">
          </div>
          Đoàn trường Đại học Kinh tế TP. Hồ Chí Minh được hình thành từ những ngày đầu thành lập trường Đại học Kinh tế
          TP. Hồ Chí Minh (27/10/1976). Qua hơn 40 năm hình thành và phát triển, với quy mô mỗi năm hơn 20.000 Đoàn
          viên, tổ chức Đoàn của trường Đại học Kinh tế TP. Hồ Chí Minh không ngừng lớn mạnh, xứng đáng là một trong các
          cơ sở Đoàn xuất sắc, là đơn vị lá cờ đầu trong khối các trường Đại học, Cao đẳng của TP. Hồ Chí Minh và cả
          nước
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="doanhoi__box">
          <div class="box__icon">
            <img src="../../../../assets/img/SanChoiTaiUeh/ThongTinDoanHoi/2-layers.png" alt="">
          </div>
          Hội Sinh viên trường Đại học Kinh tế TP.HCM được thành lập chính thức vào ngày 18/05/1995, là một trong những
          tổ chức Hội Sinh viên đầu tiên được thành lập tại các trường Đại học, Cao đẳng trong cả nước. Hội Sinh viên
          trường có quy mô gần 20.000 hội viên với nhiều hoạt động, phong trào sáng tạo, thiết thực và bổ ích, nhiều năm
          liền là đơn vị xuất sắc và đơn vị lá cờ đầu trong phong trào sinh viên của thành phố Hồ Chí Minh.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 doanhoi__contact">
        <div class="contact__title">
          Thông tin liên hệ
        </div>
        <div class="contact__subtitle">
          VĂN PHÒNG ĐOÀN THANH NIÊN - HỘI SINH VIÊN UEH

        </div>
        <div class="contact__list">
          <ul>
            <li>
              <div class="item__icon">
                <img src="../../../../assets/img/SanChoiTaiUeh/ThongTinDoanHoi/global.png" alt="">
              </div>
              <div class="item__content">
                http://youth.ueh.edu.vn/
              </div>
            </li>
            <li>
              <div class="item__icon">
                <img src="../../../../assets/img/SanChoiTaiUeh/ThongTinDoanHoi/close-envelope.png" alt="">
              </div>
              <div class="item__content">
                youth@ueh.edu.vn
              </div>
            </li>
            <li>
              <div class="item__icon">
                <img
                  src="../../../../assets/img/SanChoiTaiUeh/ThongTinDoanHoi/facebook-placeholder-for-locate-places-on-maps.png"
                  alt="">
              </div>
              <div class="item__content">
                A.217, 59C Nguyễn Đình Chiểu,
                Phường 6, Quận 3, TP. Hồ Chí Minh
              </div>
            </li>
            <li>
              <div class="item__icon">
                <img src="../../../../assets/img/SanChoiTaiUeh/ThongTinDoanHoi/call-answer.png" alt="">
              </div>
              <div class="item__content">
                028.36063090
              </div>
            </li>
            <li>
              <div class="item__icon">
                <img src="../../../../assets/img/SanChoiTaiUeh/ThongTinDoanHoi/facebook-logo.png" alt="">
              </div>
              <div class="item__content">
                https://www.facebook.com/youthueh/
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>