<section class="cover__coso">
  <div class="cover__content">Các cơ sở <br />trực thuộc</div>
</section>

<section class="background__coso">
  <div class="coso__content">
    <div class="row">
      <div class="col-md-4">
        <div class="box__coso">
          <div class="box__number box__main">
            <div class="box__circle">A</div>
          </div>
          <div class="box__title">Cơ sở A</div>
          <div class="box__content">
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/CacCoSo/placeholder-tool.png" alt="" />
            </div>
            59C Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box__coso">
          <div class="box__number">
            <div class="box__circle">B</div>
          </div>
          <div class="box__title">CƠ SỞ B</div>
          <div class="box__content">
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/CacCoSo/placeholder-tool.png" alt="" />
            </div>
            279 Nguyễn Tri Phương, Phường 5, Quận 10, TP. Hồ Chí Minh
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box__coso">
          <div class="box__number">
            <div class="box__circle">C</div>
          </div>
          <div class="box__title">CƠ SỞ C</div>
          <div class="box__content">
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/CacCoSo/placeholder-tool.png" alt="" />
            </div>
            91 Đường 3 tháng 2, Phường 11, Quận 10, TP. Hồ Chí Minh
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box__coso">
          <div class="box__number">
            <div class="box__circle">D</div>
          </div>
          <div class="box__title">CƠ SỞ D</div>
          <div class="box__content">
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/CacCoSo/placeholder-tool.png" alt="" />
            </div>
            196 Trần Quang Khải, phường Tân Định, Quận 1, TP. Hồ Chí Minh
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box__coso">
          <div class="box__number">
            <div class="box__circle">E</div>
          </div>
          <div class="box__title">Cơ sở E</div>
          <div class="box__content">
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/CacCoSo/placeholder-tool.png" alt="" />
            </div>
            54 Nguyễn Văn Thủ, phường Đa Kao, Quận 1, TP. Hồ Chí Minh
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box__coso">
          <div class="box__number">
            <div class="box__circle">H</div>
          </div>
          <div class="box__title">Cơ sở H</div>
          <div class="box__content">
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/CacCoSo/placeholder-tool.png" alt="" />
            </div>
            1A Hoàng Diệu, Phường 10, quận Phú Nhuận, TP. Hồ Chí Minh
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box__coso">
          <div class="box__number">
            <div class="box__circle">I</div>
          </div>
          <div class="box__title">Cơ sở I</div>
          <div class="box__content">
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/CacCoSo/placeholder-tool.png" alt="" />
            </div>
            17 Phạm Ngọc Thạch, Phường 6, Quận 3, TP. Hồ Chí Minh
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box__coso box__coso__customize">
          <div class="box__number">
            <div class="box__circle"></div>
          </div>
          <div class="box__title">Cơ sở</div>
          <div class="box__content">
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/CacCoSo/placeholder-tool.png" alt="" />
            </div>
            232/6 Võ Thị Sáu, Phường 7, Quận 3, TP. Hồ Chí Minh
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box__coso box__coso__customize">
          <div class="box__number">
            <div class="box__circle"></div>
          </div>
          <div class="box__title">Cơ sở</div>
          <div class="box__content">
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/CacCoSo/placeholder-tool.png" alt="" />
            </div>
            144 Phạm Đức Sơn, Phường 16, Quận 8, TP. Hồ Chí Minh
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box__coso box__coso__customize">
          <div class="box__number">
            <div class="box__circle"></div>
          </div>
          <div class="box__title">Cơ sở</div>
          <div class="box__content">
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/CacCoSo/placeholder-tool.png" alt="" style="margin-bottom: 70px" />
            </div>
            Nam Thành phố - Khu chức năng số 15, Đô thị mới Nam thành phố, xã Phong Phú, huyện Bình Chánh, TP. Hồ Chí
            Minh
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box__coso box__coso__colorcustomize">
          <div class="box__number">
            <div class="box__circle">
              <img src="assets/img/TongQuanUeh/CacCoSo/bunk.png" alt="" />
            </div>
          </div>
          <div class="box__title box__content__customize">KÝ TÚC XÁ</div>
          <div class="box__content box__content__customize">
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/CacCoSo/placeholder-tool.png" alt="" />
            </div>
            135 Trần Hưng Đạo, phường Cầu Ông Lãnh, Quận 1, TP. Hồ Chí Minh
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box__coso box__coso__colorcustomize">
          <div class="box__number">
            <div class="box__circle">
              <img src="assets/img/TongQuanUeh/CacCoSo/bunk.png" alt="" />
            </div>
          </div>
          <div class="box__title box__content__customize">KÝ TÚC XÁ</div>
          <div class="box__content box__content__customize">
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/CacCoSo/placeholder-tool.png" alt="" />
            </div>
            43 - 45 Nguyễn Chí Thanh, Phường 9, Quận 5, TP. Hồ Chí Minh
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="coso__owl owl-carousel owl-theme sliding">
    <div class="item">
      <div>
        <iframe
          _ngcontent-c2=""
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
          frameborder="0"
          [src]="url"
          width="100%"
        >
        </iframe>
      </div>
    </div>
    <div class="item">
      <div>
        <img src="assets/img/TongQuanUeh/CacCoSo/DHKT-Panorama.png" />
      </div>
    </div>
    <div class="item">
      <div>
        <img src="assets/img/TongQuanUeh/CacCoSo/DSCF2762.png" />
      </div>
    </div>
    <div class="item">
      <div>
        <img src="assets/img/TongQuanUeh/CacCoSo/PC-1.jpg" />
      </div>
    </div>
    <div class="item">
      <div>
        <img src="assets/img/TongQuanUeh/CacCoSo/UEH---CSA.jpg" />
      </div>
    </div>
  </div>
</section>
