<section class="tgh-header">
    <div class="tgh-header-title">Thời gian học trong ngày</div>
    <div class="tgh-header-quote">Bảng phân bổ thời gian học trong ngày theo kế hoạch</div>
</section>
<section class="tgh-body">
    <div class="container">
        <table class="tgh-table">
            <thead>
                <th>Buổi</th>
                <th class="tgh-order">Thứ tự tiết học trong buổi</th>
                <th class="gio-hoc">Giờ học</th>
                <th class="tgh-offTime">Thời gian nghỉ</th>
            </thead>
            <tbody>
                <tr>
                    <td class="tgh-sang" rowspan="5">Sáng</td>
                    <td>1</td>
                    <td>07g10 - 08g00</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>08g00 - 08g50</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>08g50 - 09g40</td>
                    <td>Nghỉ 10 phút</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>09g50 - 10g40</td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>10g40 - 11g30</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tgh-chieu" rowspan="5">Chiều</td>
                    <td>1</td>
                    <td>12g45 - 13g35</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>13g35 - 14g25</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>14g25 - 15g15</td>
                    <td>Nghỉ 10 phút</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>15g25 - 16g15</td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>16g15 - 17g05</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>