<section class="cover__vieclam">
    <div class="cover__content">
        <span> VIỆC LÀM </span> <br>Sinh viên có thể truy cập vào website: <br><a href="https://vieclam.ueh.edu.vn/"
            target="_blank">https://vieclam.ueh.edu.vn/</a> và tạo CV
        <br>trên cổng thông tin việc làm UEH
    </div>
</section>

<section class="background__vieclam">
    <div class="vieclam__content">
        <div class="row vieclam__row">
            <div class="col-md-6 vieclam__img">
                <img src="assets/img/DongHanhUeh/ViecLam/buoc1_vieclam.png" alt="">
            </div>
            <div class="col-md-4">
                <div class="box__vieclam">
                    <div class="box__title">
                        BƯỚC 1
                    </div>
                    <div class="box__border"></div>
                    <div class="box__content">
                        <ul>
                            <li>
                                Các bạn sinh viên chọn tab Sinh viên/Ứng viên
                            </li>
                            <li>
                                Đăng nhập tài khoản Google+ bằng Gmail st.ueh.edu.vn
                            </li>
                            <li>
                                Sau khi đăng nhập thành công bằng google+, bạn có thể vào cài đặt mật khẩu đăng nhập
                                Cổng Thông tin việc làm để lần đăng nhập sau sử dụng bằng User và Password
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row vieclam__row">
            <div class="col-md-6 vieclam__img">
                <img src="assets/img/DongHanhUeh/ViecLam/buoc2_vieclam.png" alt="">
            </div>
            <div class="col-md-4">
                <div class="box__vieclam">
                    <div class="box__title">
                        BƯỚC 2
                    </div>
                    <div class="box__border"></div>
                    <div class="box__content">
                        Sinh viên cập nhật tất cả các thông tin tạo CV trực tuyến để giúp nhà tuyển dụng dễ dàng lựa
                        chọn ứng viên.
                        <br> Hồ sơ cá nhân gồm các thông tin:
                        <ul>
                            <li>Thông tin cá nhân: kích cỡ hình ảnh nhỏ nhất 600x600 pixels; chú ý những trường bắt buộc
                                và email dự phòng phải chính xác để lần sau có thể sử dụng mail dự phòng này đăng nhập
                                vào cổng việc làm thay cho mail st.ueh.edu.vn</li>
                            <li>Thông tin cơ bản</li>
                            <li>Học vấn, bằng cấp</li>
                            <li>Kỹ năng: hãy điền những kỹ năng của bản thân mà bạn nghĩ có thể thu hút được nhà tuyển
                                dụng như: kỹ năng làm việc nhóm hay quản lý thời gian, tạo kế hoạch…; cũng đừng quên
                                những kỹ năng như tin học hay ngoại ngữ.</li>
                            <li>Công việc mong muốn: hãy dành một chút thời gian cho “Mục tiêu nghề nghiệp” để gây ấn
                                tượng cho nhà tuyển dụng.</li>
                            <li>Khen thưởng: nếu bạn tham gia các hoạt động ngoại khóa như mùa hè xanh hay xuân tình
                                nguyện thì đừng ngần ngại điền vào mục “Khen thưởng” để tạo một điểm cộng cho CV của
                                mình.
                            </li>
                            <li>Kinh nghiệm làm việc: đã từng tham gia CLB hoặc part-time job ở ngoài cũng là điểm cộng,
                                điều này thể hiện sự năng động hay chịu khó của sinh viên.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row vieclam__row">
            <div class="col-md-6 vieclam__img">
                <img src="assets/img/DongHanhUeh/ViecLam/buoc3_vieclam.png" alt="">
            </div>
            <div class="col-md-4">
                <div class="box__vieclam">
                    <div class="box__title">
                        BƯỚC 3
                    </div>
                    <div class="box__border"></div>
                    <div class="box__content">
                        Sau khi hoàn thành cập nhật hồ sơ cá nhân. Sinh viên có thể ứng tuyển vào các vị trí đang tuyển
                        dụng trên cổng việc làm.
                    </div>
                </div>
            </div>
        </div>


        <div class="row vieclam__row">
            <div class="col-md-6 vieclam__img">
                <img src="assets/img/DongHanhUeh/ViecLam/buoc4_vieclam.png" alt="">
            </div>
            <div class="col-md-4">
                <div class="box__vieclam">
                    <div class="box__title">
                        BƯỚC 4
                    </div>
                    <div class="box__border"></div>
                    <div class="box__content">
                        Bước cuối cùng để hoàn thành việc nộp đơn ứng tuyển: chọn “NỘP ĐƠN ỨNG TUYỂN” sau khi chọn được
                        vị trí ứng tuyển phù hợp với bản thân.
                    </div>
                </div>
            </div>
        </div>

        <div class="row vieclam__row">
            <div class="col-md-6 vieclam__img">
                <img src="assets/img/DongHanhUeh/ViecLam/buoc5__vieclam.png" alt="">
            </div>
            <div class="col-md-4">
                <div class="box__vieclam">
                    <div class="box__title">
                        BƯỚC 5
                    </div>
                    <div class="box__border"></div>
                    <div class="box__content">
                        Sinh viên có thể quản lý hồ sơ công việc của bản thân.
                        <ul>
                            <li>
                                Có thể tra cứu trạng thái của các hồ sơ đã nộp ở các doanh nghiệp.
                            </li>
                            <li>
                                Lựa chọn nhanh các công việc đúng với mong muốn của bản thân ở mục Công việc phù hợp
                            </li>
                            <li>
                                Hay xem lại các Công việc yêu thích trước đó mà bạn đã tick chọn ở mục Công việc đã
                                thích
                            </li>

                        </ul>
                        Như vậy là đã xong, bạn chỉ cần chờ 1 cuộc gọi hay 1 email từ doanh nghiệp để tiếp tục với cơ
                        hội việc làm mong muốn.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>