.footer {
    position: relative;
    background-image: url(../img/TongQuanUeh/Footer_copy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 707px;
    .footer__content {
        position: absolute;
        bottom: 170px;
        left: 350px;
        @include text($color-white, $fs-3, $fw-1, $fm-2);
    }
    .footer__quote {
        position: absolute;
        bottom: 130px;
        left: 720px;
    }
}