.footer {
  position: relative;
  background-image: url(../img/TongQuanUeh/Footer_copy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 561px;
  .footer__content {
    position: absolute;
    bottom: 40px;
    left: 350px;
    @include text($color-white, $fs-3, $fw-1, $fm-2);
  }
  .footer__quote {
    position: absolute;
    bottom: 40px;
    left: 650px;
  }
}

@include respond-to("large") {
  .footer {
    background-size: cover;
    width: 100%;
    height: 400px;
    .footer__content {
      bottom: 60px;
      left: 264px;
      font-size: 30px !important;
      span {
        margin-left: 0px !important;
      }
    }
    .footer__quote {
      img {
        width: 60px;
        height: 60px;
      }
      bottom: 80px;
      left: 360px;
    }
  }
}

@include respond-to("medium") {
  .footer {
    height: 300px;
    .footer__content {
      bottom: 60px;
      left: 242px;
      font-size: 24px !important;
    }
    .footer__quote {
      bottom: 65px;
      left: 300px;
    }
  }
}

@include respond-to("small") {
  .footer {
    height: 200px;
    .footer__content {
      bottom: 45px;
      left: 70px;
      font-size: 16px !important;
    }
    .footer__quote {
      bottom: 43px;
      left: 150px;
    }
  }
}
