.navbar {
  .router-link-active {
    border-bottom: 3px solid $color-1;
  }
  .navbar-brand {
    img {
      width: 100px;
      height: 100px;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      padding-left: 25px;
      .nav-item {
        padding-right: 20px;
        .nav-link {
          @include text($color-1, $fs-1, $fw-1, $fm-1);
        }
      }
    }
    .form-search {
      margin-left: 30px;
      flex-flow: nowrap;
      .form-control {
        margin-left: 8px;
        // width: 100%;
        border: none;
        background-color: $color-2;
        &:focus {
          box-shadow: none;
        }
      }
      .form-button {
        cursor: pointer;
      }
      width: 300px;
      height: 59px;
      background-color: $color-2;
      border-radius: 20px;
    }
  }
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  background-color: #fff;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}

.dropdown-item {
  white-space: normal;
  text-transform: uppercase;
}

@include respond-to("small") {
  .navbar {
    .router-link-active {
    }
    .navbar-brand {
    }
    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          .nav-link {
            font-size: 16px !important;
          }
        }
      }
      .form-search {
        opacity: 0;
      }
    }
  }
  .dropdown-content {
    max-width: 300px;
  }
}
