<section class="cover__coso">
  <div class="cover__content">Các cơ sở <br>trực thuộc</div>
</section>

<section class="background__coso">
  <div class="coso__content">
    <div class="row">
      <div class="col-md-4 ">
        <div class="box__coso">
          <div class="box__number">
            A
          </div>
          <div class="box__title">
            Cơ sở A
          </div>
          <div class="box__content">
            <div class="box__icon">
              <img src="../../../../assets/img/TongQuanUeh/CacCoSo/placeholder-tool.png" alt="">
            </div>
            59C Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM
          </div>
        </div>

      </div>
      <div class="col-md-4 ">
        <div class="box__coso">
          <div class="box__number">
            A
          </div>
          <div class="box__title">
            Cơ sở A
          </div>
          <div class="box__content">
            59C Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="box__coso">
          <div class="box__number">
            A
          </div>
          <div class="box__title">
            Cơ sở A
          </div>
          <div class="box__content">
            59C Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <div class="box__coso">
          <div class="box__number">
            A
          </div>
          <div class="box__title">
            Cơ sở A
          </div>
          <div class="box__content">
            59C Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="box__coso">
          <div class="box__number">
            A
          </div>
          <div class="box__title">
            Cơ sở A
          </div>
          <div class="box__content">
            59C Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="box__coso">
          <div class="box__number">
            A
          </div>
          <div class="box__title">
            Cơ sở A
          </div>
          <div class="box__content">
            59C Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <div class="box__coso">
          <div class="box__number">
            A
          </div>
          <div class="box__title">
            Cơ sở A
          </div>
          <div class="box__content">
            59C Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="box__coso">
          <div class="box__number">
            A
          </div>
          <div class="box__title">
            Cơ sở A
          </div>
          <div class="box__content">
            59C Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <div class="box__coso">
          <div class="box__number">
            A
          </div>
          <div class="box__title">
            Cơ sở A
          </div>
          <div class="box__content">
            59C Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="box__coso">
          <div class="box__number">
            A
          </div>
          <div class="box__title">
            Cơ sở A
          </div>
          <div class="box__content">
            59C Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="box__coso">
          <div class="box__number">
            A
          </div>
          <div class="box__title">
            Cơ sở A
          </div>
          <div class="box__content">
            59C Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <div class="box__coso">
          <div class="box__number">
            A
          </div>
          <div class="box__title">
            Cơ sở A
          </div>
          <div class="box__content">
            59C Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="box__coso">
          <div class="box__number">
            A
          </div>
          <div class="box__title">
            Cơ sở A
          </div>
          <div class="box__content">
            59C Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM
          </div>
        </div>
      </div>
    </div>
  </div>
</section>