.cd-header{
    width: 100%;
    height: 195px;
    background-image: url(../img/HocTapUeh/211-Header.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .cd-header-title{
        background: linear-gradient(to right, #01215a 0%, #ff4a7d 100%);
        background-clip: text;
        color: white;
        font-size: 35px;
        font-weight: 900;
        text-transform: uppercase;
        -webkit-text-fill-color: transparent;
        position: relative;
        left: 30px;
        top: 20px;
        width: 165px;
    }
}
.cd-body{
    width: 100%;
    height: 2300px;
    background-image: url(../img/HocTapUeh/emailBody.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .cd-body-title{
        
    }
}