.kltn-header{
    width: 100%;
    height: 245px;
    background-image: url(../img/HocTapUeh/kltnHeader.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .kltn-header-content{
        background: linear-gradient(to right, #01215a 0%, #ff4a7d 100%);
        background-clip: text;
        color: white;
        font-size: 28px;
        font-weight: 900;
        text-transform: uppercase;
        -webkit-text-fill-color: transparent;
        position: relative;
        left: 20px;
        top: 10px;
        width: 200px;
    }
}
.kltn-body{
    width: 100%;
    height: fit-content;
    background-image: url(../img/HocTapUeh/emailBody.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.kltn-round-box{
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    border-top: 4px solid #ff4a7d;
    border-bottom: 4px solid rgba(36, 38, 89, 0.99);
    background-image: linear-gradient( #ff4a7d, rgba(36, 38, 89, 0.99)), linear-gradient(#ff4a7d, rgba(36, 38, 89, 0.99));
    background-size: 4px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    padding: 15px;
    p{
        font-size: 12px;
        font-weight: 700;
        color: #264c82;
        text-align: center;
    }
    
    .kl-box{
        max-width: 30% !important;
        width: 25%;
        height: fit-content;
        margin: 5px;
        img{
            width: 40%;
            margin-left: 25px;
        }
        .kl-w-30{
            width: 30%;
        }
    }
    .kl-rec{
        width: 95%;
        height: 4px;
        border-radius: 4px;
        background-color: #264c82;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .kl-box-content{
        font-size: 11px;
        color: #264c82;
        font-weight: 600;
        text-align: center;
    }
}
.kl-inline-area{
    display: inline-flex;
    width: 100%;
}
.kltn-content{
    font-size: 12px;
    font-weight: 700;
    color: #264c82;
    text-align: center;
    margin-bottom: 50px;
}
.kltn-blue-box{
    width: 100%;
    height: fit-content;
    background-color: #e6fff3;
    margin-top: 100px;
    padding: 10px;
}
.kltn-info-box{
    width: 125px;
    height: 125px;
    box-shadow: 0 13px 29px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    img{
        width: 40%;
        position: relative;
        top: -25px;
        left: 28%;
    }
    .kl-para{
        font-size: 11px;
        text-align: center;
        color: #264c82;
        font-weight: 700;
        margin-bottom: 1px;
    }
}
.kl-mt-20{
    margin-top: 20px;
}
.kl-ml-20{
    margin-left: 10%;
}

@media only screen and (min-width:1000px){
    .kltn-header{
        height: 725px;
        .kltn-header-content{
            font-size: 90px;
            left: 60px;
            top: 30px;
            width: 600px;
        }
    }
    .kltn-round-box{
        width: 100%;
        height: fit-content;
        margin-top: 20px;
        border-top: 4px solid #ff4a7d;
        border-bottom: 4px solid rgba(36, 38, 89, 0.99);
        background-image: linear-gradient( #ff4a7d, rgba(36, 38, 89, 0.99)), linear-gradient(#ff4a7d, rgba(36, 38, 89, 0.99));
        background-size: 4px 100%;
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
        padding: 15px;
        p{
            font-size: 28px;
            margin-bottom: 40px;
        }
        
        .kl-box{
            max-width: 30% !important;
            width: 25%;
            height: fit-content;
            margin: 5px;
            img{
                width: 40%;
                margin-left: 80px;
            }
            .kl-w-30{
                width: 30%;
            }
        }
        .kl-rec{
            width: 95%;
            height: 4px;
            border-radius: 4px;
            background-color: #264c82;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .kl-box-content{
            font-size: 28px;
        }
    }
    .kl-inline-area{
        display: inline-flex;
        width: 100%;
    }
    .kltn-content{
        font-size: 28px;
    }
    .kltn-blue-box{
        width: 100%;
        height: fit-content;
        background-color: #e6fff3;
        margin-top: 100px;
        padding: 10px;
    }
    .kltn-info-box{
        width: 355px;
        height: 140px;
        img{
            width: 20%;
            top: -40px;
            left: 42%;
        }
        .kl-para{
            font-size: 21px;
        }
    }
    .kl-mt-20{
        margin-top: 60px;
    }
    .kl-ml-20{
        margin-left: 16%;
    }
}
@media only screen and (min-width:1920px){
    .kltn-header{
        height: 1050px;
        .kltn-header-content{
            font-size: 100px;
            left: 150px;
            top: 70px;
            width: 625px;
        }
    }
    .kltn-body{
        width: 100%;
        height: fit-content;
        background-image: url(../img/HocTapUeh/emailBody.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .kltn-round-box{
        margin-top: 50px;
        p{
            font-size: 29px;
        }
        
        .kl-box{
            max-width: 30% !important;
            width: 25%;
            height: fit-content;
            margin: 5px;
            img{
                width: 40%;
                margin-left: 80px;
            }
            .kl-w-30{
                width: 30%;
            }
        }
        .kl-rec{
            width: 95%;
            height: 4px;
            border-radius: 4px;
            background-color: #264c82;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .kl-box-content{
            font-size: 28px;
        }
    }
    .kl-inline-area{
        display: inline-flex;
        width: 100%;
    }
    .kltn-content{
        font-size: 30px;
    }
    .kltn-info-box{
        width: 345px;
        height: 165px;
        img{
            width: 25%;
            top: -45px;
            left: 38%;
        }
        .kl-para{
            font-size: 21px;
        }
    }
    .kl-mt-20{
        margin-top: 60px;
    }
    .kl-ml-20{
        margin-left: 17%;
    }
}