.bg-tsv {
    position: relative;
    background-image: url(../img/HocTapUeh/bg23tsv.png);
    background-size: cover;
    height: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    .tsv-title {
        text-align: center;
        margin-top: 100px;
        @include text($color-black, $fs-4, $fw-bold, $fm-3);
        background: linear-gradient(to right, #01215a 0%, #ff4a7d 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
    .tsv-content {
        color: #38266e;
        font-size: 33px;
        font-weight: 500;
        line-height: 37.5px;
        text-align: center;
    }
}

.tsv-main-body {
    background-image: url(../img/HocTapUeh/tsvMainBg.png);
    background-repeat: no-repeat;
    height: 1600px;
    background-size: cover;
    background-position: center center;
    .tsv-main-title {
        color: #1f558e;
        font-size: 50px;
        font-weight: 700;
        line-height: 39.28px;
        padding: 20px;
        text-align: center;
        margin-top: 30px;
    }
    .tsv-dashed-box {
        width: 948px;
        height: 530px;
        border: 5px dashed #636363;
        margin-top: 50px;
        position: absolute;
        left: 193px;
    }
    .tsv-dashed-box-inbound {
        width: 319px;
        left: 507px;
    }
    .tsv-main-content {
        padding-top: 120px;
        .col-md-3 {
            max-width: 17% !important;
            box-shadow: 0 13px 29px rgba(0, 0, 0, 0.35);
            border-radius: 20px;
            background-color: #ffffff;
            height: 300px;
            left: 4%;
            margin: 40px;
            overflow-wrap: break-word;
            .circle {
                width: 30px;
                height: 30px;
                background-color: #26236e;
                border-radius: 90px;
                display: inline-block;
                left: 100px;
                position: absolute;
                margin-top: -15px;
            }
            .circle-pink {
                background-color: #e84473;
            }
            .tsv-content-para {
                color: #38266e;
                font-size: 24px;
                font-weight: 500;
                line-height: 37.5px;
                text-align: center;
                padding: 5px;
                margin: 15px;
            }
            .pink {
                color: #e6414d;
            }
        }
    }
    .tsv-mat-the {
        margin-top: 20px;
        img {
            width: 50%;
            margin-top: 90px;
        }
        .mat-the-title {
            color: #116a8e;
            font-size: 40px;
            font-weight: 700;
            position: absolute;
            left: 590px;
            top: 48em;
        }
        .mat-the-box {
            position: absolute;
            width: 690px;
            height: 290px;
            left: 590px;
            top: 130em;
            box-shadow: 0 13px 29px rgba(0, 0, 0, 0.35);
            border-radius: 20px;
            background-image: linear-gradient( to right, #242659 0%, #2887bf 99%, #2887bf 100%);
            p {
                color: #ffffff;
                font-size: 33px;
                font-weight: 600;
                padding: 15px;
            }
        }
    }
}