<section class="cover__hocbong">
    <div class="cover__content">
        Học bổng <br> cho sinh viên
    </div>
</section>

<section class="background__hocbong">
    <div class="hocbong__content">

        <div class="hocbong__title">
            Các loại học bổng
        </div>

        <div class="row cacLoaiHocBong">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="box__hocbong">
                    <div class="box__icon">
                        <img src="../../../../assets/img/DongHanhUeh/HocBongUeh/icon.png" alt="">
                    </div>
                    <div class="box__content">
                        Học bổng Khuyến khích Học tập
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="box__hocbong">
                    <div class="box__icon">
                        <img src="../../../../assets/img/DongHanhUeh/HocBongUeh/icon.png" alt="">
                    </div>
                    <div class="box__content">
                        Học bổng Hỗ trợ Học tập
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="box__hocbong">
                    <div class="box__icon">
                        <img src="../../../../assets/img/DongHanhUeh/HocBongUeh/icon.png" alt="">
                    </div>
                    <div class="box__content">
                        Học bổng từ các đơn vị ngoài trường
                    </div>
                </div>
            </div>
        </div>

        <div class="hocbong__title">
            Suất học bổng UEH
        </div>

        <div class="row cacSuatHocBong">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="box__hocbong">
                    <div class="box__icon">
                        <img src="../../../../assets/img/DongHanhUeh/HocBongUeh/100percent.png" alt="">
                    </div>
                    <div class="box__content">
                        <strong>Suất học bổng toàn phần:</strong> có giá trị bằng 100% mức học phí trung bình của 15 tín
                        chỉ
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="box__hocbong">
                    <div class="box__icon">
                        <img src="../../../../assets/img/DongHanhUeh/HocBongUeh/50percent.png" alt="">
                    </div>
                    <div class="box__content">
                        <strong>Suất học bổng bán phần:</strong> có giá trị bằng 50% mức học phí trung bình của 15 tín
                        chỉ
                    </div>
                </div>
            </div>
        </div>

        <div class="row canCuXetHocBong">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="hocbong__title">
                    Căn cứ xét học bổng
                </div>
                <div class="hocbong__content">
                    Điểm trung bình tích lũy và điểm Rèn luyện của học kỳ trước
                </div>
            </div>

        </div>

        <div class="hocbong__title">
            Học bổng Khuyến khích Học tập
        </div>

        <div class="row hocBong">
            <div class="col-lg-3 col-md-6">
                <div class="hocbong__box">
                    Điều kiện
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="hocbong__mota">
                    <ul>
                        <li>Có kết quả Học tập và Rèn luyện từ loại khá trở lên</li>
                        <li>Đạt 5 điểm trở lên với tất cả học phần đăng ký trong học kỳ</li>
                        <li>Đủ số tín chỉ theo kế hoạch đào tạo</li>
                        <li>Không bị kỷ luật</li>
                        <li>Chưa nhận bất kỳ học bổng nào (~ 01 suất học bổng toàn phần).</li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="row hocBong">
            <div class="col-lg-3 col-md-6">
                <div class="hocbong__box">
                    Mức học bổng
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="hocbong__mota">
                    <ul>
                        <li>Xuất sắc: bằng 120% suất học bổng toàn phần (Kết quả Học tập và Rèn luyện: Xuất sắc)</li>
                        <li>Giỏi: bằng suất học bổng toàn phần (Kết quả Học tập: Giỏi, Rèn luyện: Tốt)</li>
                        <li>Khá: bằng suất học bổng bán phần (Kết quả Học tập và Rèn luyện: Khá)</li>

                    </ul>

                </div>
            </div>
        </div>

        <div class="row hocBong">
            <div class="col-lg-3 col-md-6">
                <div class="hocbong__box">
                    Thời gian xét
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="hocbong__mota">
                    <ul style="list-style: none">
                        <li>Tháng 4 và tháng 10</li>


                    </ul>

                </div>
            </div>
        </div>

        <div class="row hocBong">
            <div class="col-lg-3 col-md-6">
                <div class="hocbong__box">
                    Nguyên tắc xét
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="hocbong__mota">
                    <ul style="list-style: none">
                        <li>UEH xét, cấp học bổng căn cứ vào kết quả Học tập và Rèn luyện và theo thứ tự ưu tiên từ trên
                            xuống.</li>


                    </ul>

                </div>
            </div>
        </div>

        <div class="row hocBong">
            <div class="col-lg-3 col-md-6">
                <div class="hocbong__box">
                    Đơn vị liên hệ
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="hocbong__mota">
                    <ul style="list-style: none">
                        <li>Phòng Quản lý Đào tạo – Công tác Sinh viên</li>


                    </ul>

                </div>
            </div>
        </div>

        <div class="hocbong__title">
            Học bổng Hỗ trợ Học tập
        </div>


        <div class="row hocBong">
            <div class="col-lg-3 col-md-6">
                <div class="hocbong__box">
                    Điều kiện
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="hocbong__mota">
                    <ul>
                        <li>Thuộc diện hộ nghèo, hộ cận nghèo hoặc có hoàn cảnh gia đình khó khăn</li>
                        <li>Có kết quả Học tập từ trung bình khá trở lên và kết quả Rèn luyện từ loại khá trở lên</li>
                        <li>Đạt 5 điểm trở lên với tất cả học phần đăng ký trong học kỳ</li>
                        <li>Không bị kỷ luật</li>
                        <li>Chưa nhận bất kỳ học bổng nào (~ 01 suất học bổng toàn phần).</li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="row hocBong">
            <div class="col-lg-3 col-md-6">
                <div class="hocbong__box">
                    Mức học bổng
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="hocbong__mota">
                    <ul>
                        <li>Học bổng toàn phần: Sinh viên khó khăn, có kết quả Học tập: 6.5 trở lên và Rèn luyện: Tốt
                        </li>
                        <li>Học bổng bán phần: Sinh viên khó khăn, có kết quả Học tập: 6.0 trở lên và Rèn luyện: Khá
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row hocBong">
            <div class="col-lg-3 col-md-6">
                <div class="hocbong__box">
                    Thời gian xét
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="hocbong__mota">
                    <ul style="list-style: none">
                        <li>Tháng 4 và tháng 10</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row hocBong">
            <div class="col-lg-3 col-md-6">
                <div class="hocbong__box">
                    Nguyên tắc xét
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="hocbong__mota">
                    <ul>
                        <li>Sinh viên nộp đơn đề nghị xét học bổng</li>
                        <li>UEH xét, cấp học bổng căn cứ vào:
                            <br> (1) Hoàn cảnh khó khăn <br> (2) Kết quả Học tập <br> (3) Kết quả Rèn luyện</li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="row hocBong">
            <div class="col-lg-3 col-md-6">
                <div class="hocbong__box">
                    Đơn vị liên hệ
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="hocbong__mota">
                    <ul style="list-style: none">
                        <li>Phòng Quản lý Đào tạo – Công tác Sinh viên</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="hocbong__title">
            Học bổng từ các đơn vị ngoài trường
        </div>

        <div class="row hocBong">
            <div class="col-lg-3 col-md-6">
                <div class="hocbong__box">
                    Thông báo
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="hocbong__mota">
                    <ul style="list-style: none">
                        <li>Xem thông báo tại website Học tậptp://ttHọc tậpSinh viên.ueh.edu.vn/</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row hocBong">
            <div class="col-lg-3 col-md-6">
                <div class="hocbong__box">
                    Quy trình nhận, xét duyệt
                </div>
            </div>
            <div class="col-lg-1">
                <div class="arrow">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-md-6">
                <div class="hocbong__mota">
                    <ul>
                        <li>Nộp hồ sơ tại địa điểm thông báo</li>
                        <li>Thông báo xét duyệt tại website: Học tậptp://ttHọc tậpSinh viên.ueh.edu.vn/</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="hocbong__title">
            Tham khảo
        </div>

        <div class="row thamKhao">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="hocbong__thamkhao">
                    <ul>
                        <li>Quy định về chính sách học bổng cho sinh viên Đại học chính quy trong đào tạo theo hệ thống
                            tín chỉ tại trường Đại học Kinh tế TP. Hồ Chí Minh (Số 2607 /QĐ-ĐHKT-QLĐT, ngày 11/9/2018)
                        </li>
                        <li>Quy trình xét, cấp học bổng hỗ trợ Học tập UEH (Số 403/QĐ-ĐHKT-ISO ngày 06/03/2019)</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>