<section class="bg-email">
  <div class="bg-email-content">
    Email <br /> sinh viên
  </div>
  <a href="http://cntt.ueh.edu.vn/tin-tuc/quy-dinh-ve-viec-quan-ly-email-ueh-4002" target="_blank">
    <div class="email-text">
      <p>Quy định v/v sử dụng email UEH</p>
    </div>
  </a>
  <div class="email-text-2">
    <p>
      Trong trường hợp cần cấp lại mật khẩu, sinh viên truy cập theo đường dẫn <a href="http://cntt.ueh.edu.vn/email" target="_blank">http://cntt.ueh.edu.vn/email</a>
      và làm theo hướng dẫn.
    </p>
  </div>
</section>

<section class="email-main-body">
  <div class="container">
    <div class="email-title">
      Một số điều cần lưu ý về email UEH sinh viên
    </div>
    <div class="row">
      <div class="email-dashed-box">
      </div>
    </div>

    <div class="row email-content">
      <div class="col-md-3">
        <div class="circle"></div>
        <p>Email UEH người học là thư điện tử cá nhân của sinh viên được UEH cấp.</p>
      </div>
      <div class="col-md-3">
        <div class="circle-middle"></div>
        <p class="p-middle">Phần tên miền là <strong>st.ueh.edu.vn.</strong></p>
      </div>
      <div class="col-md-3">
        <div class="circle"></div>
        <p>
          Mỗi người học sẽ được cấp duy nhất một email UEH sinh viên trong suốt quá trình học tập, nghiên cứu
          tại
          UEH.
        </p>
      </div>
    </div>

    <div class="email-truong-hop-title">
      Tài khoản email UEH <br />
      không được sử dụng trong các trường hợp sau đây
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="col-md-12">
          <img class="truong-hop-img" src="assets/img/HocTapUeh/emailIpad.png">
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12 truong-hop-box">
          <img src="assets/img/HocTapUeh/X copy.png">
          <p class="email-para">
            Nhận, lưu trữ, cung cấp, phát tán, lan truyền các thông tin bị cấm theo quy định
            của
            pháp luật, của Nhà
            nước; thông tin thuộc bí mật quốc gia; thông tin có các nội dung: vi phạm pháp luật, xuyên tạc sự
            thật,
            gây
            mất đoàn kết nội bộ.
          </p>
        </div>

        <div class="col-md-12 truong-hop-box">
          <img src="assets/img/HocTapUeh/X copy.png">
          <p class="email-para" style="margin-top: 6%;">
            Gửi các thông tin rác, thông tin quảng cáo; các phần mềm
            độc hại, virus.
          </p>
        </div>

        <div class="col-md-12 truong-hop-box">
          <img src="assets/img/HocTapUeh/X copy.png">
          <p class="email-para" style="margin-top: 6%;">
            Sử dụng vào mục đích phục vụ nhu cầu cá nhân, gây ảnh
            hưởng đến UEH
          </p>
        </div>
      </div>
      

      
    </div>

    <div class="email-quy-dinh-title">
      Quy định sử dụng email đối với người học
    </div>
    <div class="email-quy-dinh-box">
      <li>Không được phép cho bất kỳ người nào khác sử dụng email UEH của mình.</li>
      <li>Tự bảo mật thông tin email UEH theo chính sách của Google và phù hợp với quy định này.</li>
      <li>Nhận các quy định, thông báo, thông tin và hướng dẫn từ nhà trường;</li>
      <li>Trao đổi và liên hệ với các đơn vị, công chức, viên chức, người lao động tại UEH;</li>
      <li>
        Truy cập và khai thác các hệ thống thông tin của UEH (hệ thống học trực tuyến LMS, hệ thống mạng không
        dây
        wifi…).
      </li>
    </div>
  </div>
</section>
