<section class="cover__doanhoi">
    <div class="cover__content">CÁC HOẠT ĐỘNG <br>ĐOÀN - HỘI NỔI <br>BẬT TRONG NĂM</div>
</section>


<section class="background__doanhoi">
    <div class="doanhoi__content">

        <!-- ########################### -->
        <div class="row__icon">
            <img src="../../../../assets/img/SanChoiTaiUeh/HoatDongDoanHoi/nghiencuu.png" alt="">
        </div>

        <div class="row__title">
            Hoạt động Học thuật, Nghiên cứu Khoa học
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="box__clb">
                    <div class="box__content">
                        Giải thưởng nghiên cứu khoa học sinh viên “Nhà Kinh tế trẻ”
                    </div>
                </div>

                <div class="box__clb">
                    <div class="box__content">
                        Cuộc thi Dynamic – Sinh viên Nhà doanh nghiệp tương lai
                    </div>
                </div>

                <div class="box__clb ">
                    <div class="box__content">
                        Cuộc thi “Tìm kiếm CEO Tương lai”
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box__clb">
                    <div class="box__content">
                        Giải thưởng “Đề tài môn học xuất sắc UEH500”
                    </div>
                </div>

                <div class="box__clb">
                    <div class="box__content">
                        Cuộc thi “CPA tiềm năng”
                    </div>
                </div>

                <div class="box__clb">
                    <div class="box__content">
                        Cuộc thi “Trở thành người bán hàng tài ba”
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box__clb ">
                    <div class="box__content">
                        Chuỗi Bình luận Sự kiện Kinh tế
                    </div>
                </div>

                <div class="box__clb ">
                    <div class="box__content">
                        Cuộc thi “Kiến thức Thuế vận dụng trong kinh doanh”
                    </div>
                </div>

                <div class="box__clb ">
                    <div class="box__content">
                        Cuộc thi “Khám phá thế giới bất động sản”
                    </div>
                </div>
            </div>
        </div>
        <!-- ########################### -->

        <app-carousel [images]="imagesHocThuat"></app-carousel>

        <!-- ########################### -->
        <div class="row__icon">
            <img src="../../../../assets/img/SanChoiTaiUeh/HoatDongDoanHoi/hoatdong.png" alt="">
        </div>

        <div class="row__title">
            Hoạt động Văn hóa – Văn nghệ <br>Thể dục thể thao
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="box__clb">
                    <div class="box__content">
                        Lễ hội văn hóa “Nối vòng tay lớn” – Chào đón Tân sinh viên
                    </div>
                </div>

                <div class="box__clb box__left">
                    <div class="box__content">
                        Hội thao truyền thống sinh viên UEH
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="box__clb">
                    <div class="box__content">
                        Hội diễn văn nghệ truyền thống
                    </div>
                </div>


            </div>

            <div class="col-md-4">
                <div class="box__clb ">
                    <div class="box__content">
                        Hội thi tiếng hát sinh viên Kinh tế - UEH IDOL
                    </div>
                </div>

                <div class="box__clb box__right">
                    <div class="box__content">
                        Hội trại Sức trẻ Kinh tế
                    </div>
                </div>


            </div>
        </div>
        <!-- ########################### -->

        <app-carousel [images]="imagesVanHoaVanNghe"></app-carousel>

        <!-- ########################### -->
        <div class="row__icon">
            <img src="../../../../assets/img/SanChoiTaiUeh/HoatDongDoanHoi/tinhnguyen.png" alt="">
        </div>

        <div class="row__title">
            Hoạt động Tình nguyện
        </div>

        <div class="row custom_row">
            <div class="col-md-6">
                <div class="box__clb">
                    <div class="box__content">
                        Hiến máu tình nguyện
                    </div>
                </div>

                <div class="box__clb">
                    <div class="box__content">
                        Chiến dịch Xuân Tình nguyện
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box__clb">
                    <div class="box__content">
                        Chiến dịch tình nguyện Sinh viên Kinh tế
                    </div>
                </div>

                <div class="box__clb">
                    <div class="box__content">
                        Chương trình Tiếp sức mùa thi
                    </div>
                </div>


            </div>
        </div>
        <!-- ########################### -->

        <app-carousel [images]="imagesTinhNguyen"></app-carousel>

        <!-- ########################### -->
        <div class="row__icon">
            <img src="../../../../assets/img/SanChoiTaiUeh/HoatDongDoanHoi/nghiencuu.png" alt="">
        </div>

        <div class="row__title">
            Tự hào sinh viên UEH
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="box__clb">
                    <div class="box__content">
                        Tuyên dương “Sinh viên 5 tốt”
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="box__clb">
                    <div class="box__content">
                        Giải thưởng “Cán bộ Đoàn – Hội xuất sắc”
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="box__clb ">
                    <div class="box__content">
                        Lễ Kết nạp Đảng viên
                    </div>
                </div>
            </div>
        </div>
        <!-- ########################### -->

        <app-carousel [images]="imagesTuHao"></app-carousel>

    </div>
</section>