<section class="cover__phanmem">
    <div class="cover__content">
        CÁC PHẦN MỀM <br> HỖ TRỢ TRONG <br> QUÁ TRÌNH HỌC TẬP <br> CỦA SINH VIÊN

    </div>
</section>

<section class="background__phanmem">
    <div class="phanmem__content">
        <div class="section">
            <div class="section__title">
                PHẦN MỀM CẦN THIẾT
            </div>
            <div class="section__subtitle">
                <div class="content">
                    Phần mềm trình duyệt web
                </div>
            </div>
            <div class="container section__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/512px-Google_Chrome_icon_(2011).svg.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Chrome
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download" (click)="onNavigate('https://www.google.com/chrome/')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/1024px-Cốc_Cốc_logo.svg.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Cốc cốc
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download" (click)="onNavigate('https://coccoc.com/')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/Layer_2.png" alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Mozilla Firefox
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://www.mozilla.org/vi/firefox/new/')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/Opera_logo_icon.png" alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Opera
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://www.opera.com/vi/download')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section__subtitle">
                <div class="content">
                    Phần mềm nén và giải nén trên máy tính
                </div>
            </div>

            <div class="phanmem__box">
                Người sử dụng có thể nén hoặc giải nén tập tài liệu lớn, nhiều. Dữ liệu được nén là một gói tin đầy đủ
                nhưng có dung lượng nhỏ, gọn hơn nhiều.
            </div>

            <div class="container section__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/winzip_logo.png" alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    WinZip
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://download.com.vn/winzip/download')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/kisspng-winrar-data-compression-computer-icons-computer-pr-logotipos-5b25b7a02222c6.2055934015291984961398.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    WinRAR
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://download.com.vn/winrar/download')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/Layer_3.png" alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    BitZipper
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://download.com.vn/bitzipper-2009/download')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/kisspng-7-zip-computer-icons-7z-winrar-folders-5ad5b986068a15.8083458015239561020268.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    7-Zip
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://download.com.vn/7-zip-32-bit/download')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section__subtitle">
                <div class="content">
                    Phần mềm học nhóm
                </div>
            </div>

            <div class="container section__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/logo-teamviewer-blue.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Teamviewer
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download" (click)="onNavigate('https://www.teamviewer.com/vi/')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/800px-Skype_logo_(2019–present).svg.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Skype
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://www.skype.com/en/get-skype/')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/Logo_Zalo.png" alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Zalo
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download" (click)="onNavigate('https://zalo.me/pc')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="section__subtitle">
                <div class="content">
                    Phần mềm khôi phục dữ liệu
                </div>
            </div>

            <div class="container section__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/5b43bbf2e99939b4572e32b6.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Recuva
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://download.com.vn/recuva/download')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/UndeletePlus.png" alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Undelete Plus
                                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://download.com.vn/undelete-plus/download')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/Recover-My-Files.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Recover My Files
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://download.com.vn/recover-my-files/download')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/diskgetor-data-recovery-free.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    DiskGetor Data Recovery
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://download.com.vn/diskgetor-data-recovery-free/download')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/logo3.png" alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    DataRecovery &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://download.com.vn/datarecovery/download')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/cach-bat-unikey-cung-windows-voi-quyen-admin.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Unikey - Bộ gõ tiếng Việt
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://www.unikey.org/download.html')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/imgingest-3156988629414517550.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Free download manager: ứng dụng tăng tốc và quản lý download rất mạnh mẽ
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://www.freedownloadmanager.org/')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/kisspng-foxit-reader-6-foxit-software-pdf-eed-5b4a7380568748.8253818315316058883544.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Foxit reader
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="box__download"
                                        (click)="onNavigate('https://www.foxitsoftware.com/downloads/')">
                                        Download
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="custom__box text-blue ">
                            Phần mềm cung cấp nhiều tính năng cần thiết như tạo file PDF, chỉnh sửa PDF, tạo ghi chú,
                            tạo chữ ký, đặt mật khẩu bảo vệ và in file PDF dễ dàng.
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section__title">
                PHẦN MỀM HỖ TRỢ
            </div>
            <div class="section__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/600px-Google_Drive_logo.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Google Drive
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 d-flex">
                                    <div class="box__icon"
                                        (click)="onNavigate('https://download.com.vn/android/google-drive-for-android-1/download')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/android.png" alt="">
                                    </div>
                                    <div class="box__icon"
                                        (click)="onNavigate('https://download.com.vn/ios/google-drive-for-ios-1/download')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/mac.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="custom__box text-blue custom__boxHoTro">
                            Ứng dụng này ngoài tải tệp và thư mục lên đám mây, bạn cũng có thể tạo chúng trong ứng dụng,
                            quét hình ảnh và tải chúng lên. Google Drive có một mục gọi là “Quick Access” giúp bạn tìm
                            các tệp tin nhất định dựa trên thời gian và vị trí của bạn.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/kissclipart-google-calendar-clipart-logo-brand-795849f8c3aa61d6.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Google Calendar
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 d-flex">
                                    <div class="box__icon"
                                        (click)="onNavigate('https://download.com.vn/android/google-calendar-for-android/download')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/android.png" alt="">
                                    </div>
                                    <div class="box__icon"
                                        (click)="onNavigate('https://download.com.vn/ios/tai-google-calendar-cho-ios/download')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/mac.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="custom__box text-blue custom__boxHoTro">
                            <ul>
                                <li>
                                    Ứng dụng không chỉ lưu trữ lịch học mà còn cả lịch trình hàng ngày. Với khả năng
                                    tích hợp với các sản phẩm khác của Google và khả năng đồng bộ hoá giữa các nền tảng,
                                    bạn có thể dễ dàng sử dụng nó với nhiều ứng dụng và nền tảng. Bạn có thể tạo sự
                                    kiện,
                                    đặt lời nhắc hoặc thậm chí đặt mục tiêu.
                                </li>
                                <li>
                                    Google Calendar cũng có thể xác định tất cả các sự kiện hoặc đặt chỗ nhận trên tài
                                    khoản Gmail và tự động thêm chúng vào lịch.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/google-docs-logo-100796136-large.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Google Docs
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 d-flex">
                                    <div class="box__icon"
                                        (click)="onNavigate('https://download.com.vn/android/google-docs-for-android/download')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/android.png" alt="">
                                    </div>
                                    <div class="box__icon"
                                        (click)="onNavigate('https://download.com.vn/ios/google-docs-for-ios/download')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/mac.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="custom__box text-blue custom__boxHoTro">
                            <ul>
                                <li>
                                    Google Docs cung cấp tích hợp với Google Drive. Công việc thực hiện trong ứng dụng
                                    được lưu trong thời gian thực.
                                </li>
                                <li>
                                    Ngoài việc tạo tệp mới, Google Documents cũng cho phép bạn chỉnh sửa các tệp
                                    Microsoft Word hoặc Google Docs hiện có. Các tệp này để sử dụng ngoại tuyến và chia
                                    sẻ với bạn bè.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/642px-Dropbox_Logo_02.svg.png"
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Drop Box
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 d-flex">
                                    <div class="box__icon"
                                        (click)="onNavigate('https://download.com.vn/android/dropbox-for-android/download')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/android.png" alt="">
                                    </div>
                                    <div class="box__icon"
                                        (click)="onNavigate('https://download.com.vn/ios/dropbox-for-ios/download')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/mac.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="custom__box text-blue custom__boxHoTro">
                            <ul>
                                <li>
                                    Cũng giống như Google Drive, Dropbox là một dịch vụ đám mây tuyệt vời. Một tài khoản
                                    lần đầu tiên sẽ có 2GB bộ nhớ miễn phí. Khi mời bạn bè cài đặt Dropbox, đối với mỗi
                                    người bạn tham gia, bạn sẽ nhận được thêm 1GB bộ nhớ miễn phí.
                                </li>
                                <li>
                                    Ứng dụng này cũng có ích đối với các dự án làm việc nhóm và chia sẻ thông tin.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section__title">
                Ứng dụng học ngoại ngữ
            </div>
            <div class="section__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/duolingo.png" alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Duolingo
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 d-flex">
                                    <div class="box__icon"
                                        (click)="onNavigate('https://download.com.vn/android/duolingo-learn-languages-for-android/download')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/android.png" alt="">
                                    </div>
                                    <div class="box__icon"
                                        (click)="onNavigate('https://download.com.vn/ios/duolingo-for-ios/download')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/mac.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="custom__box text-blue custom__boxHoTro">
                            Ứng dụng Duolingo không chỉ là một công cụ tuyệt vời cho việc học ngoại ngữ mà nó cũng cho
                            phép bạn học tiếng anh thông qua một ngôn ngữ khác (ví dụ như bạn có thể học tiếng anh bằng
                            tiếng pháp). Duolingo là một ứng dụng miễn phí và nó cung cấp các bài
                            giảng dưới 6 ngôn ngữ khác nhau ở mức đại học (theo như nhà sản xuất, 34 giờ sử dụng ứng
                            dụng này ngang với 11 tuần học ngoại ngữ tại trường).
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/TA123.png" alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Tiếng Anh 123
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 d-flex">
                                    <div class="box__icon"
                                        (click)="onNavigate('https://download.com.vn/android/tieng-anh-123-cho-android/download')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/android.png" alt="">
                                    </div>
                                    <div class="box__icon"
                                        (click)="onNavigate('https://download.com.vn/ios/tieng-anh-123-cho-ios/download')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/mac.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="custom__box text-blue custom__boxHoTro">
                            Tiếng Anh 123 là ứng dụng học tiếng Anh trực tuyến hoàn toàn miễn phí, giúp bạn rèn cả 4 kỹ
                            năng nghe, nói, đọc, viết cùng lúc. Bên cạnh đó, còn nhanh chóng nắm được từ vựng, ngữ pháp,
                            phát âm để nâng cao trình độ tiếng Anh của mình.
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/1200x630wa.png  " alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    Dictionary.com
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 d-flex">
                                    <div class="box__icon"
                                        (click)="onNavigate('https://download.com.vn/android/dictionary-com-for-android-1/download')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/android.png" alt="">
                                    </div>
                                    <div class="box__icon"
                                        (click)="onNavigate('https://download.com.vn/ios/dictionary-com-for-iphone/download')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/mac.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="custom__box text-blue custom__boxHoTro">
                            Dictionary.com là một ứng dụng miễn phí và có sẵn trên nhiều nền tảng như iOS, Android,
                            Windows Phone, Blackberry, Kindle Fire. Kích hoạt tính năng tìm kiếm bằng giọng nói là tính
                            năng hữu ích nhất của ứng dụng này.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section__title">
                App hỗ trợ vẽ mindmap
            </div>
            <div class="section__content">
                <div class="row">
                    <div class="col-md-11">
                        <div class="custom__box text-blue custom__boxHoTro">
                            Việc tận dụng sơ đồ tư duy vào việc học sẽ giúp học thuộc bài, hệ thống kiến thức và hấp thụ
                            nhanh hơn. <br>MindNode trên iOS là ứng dụng có giao diện rất đẹp, bắt mắt và dễ dùng.<br>
                            SimpleMind là ứng dụng mindmap sử dụng tốt trên Android
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/Simplemind-logo.png" alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    SimpleMind
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 d-flex">
                                    <div class="box__icon"
                                        (click)="onNavigate('https://play.google.com/store/apps/details?id=com.modelmakertools.simplemindfree&hl=vi ')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/android.png" alt="">
                                    </div>
                                    <!-- <div class="box__icon">
                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/mac.png" alt="">
                      </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="item__icon">
                                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/production_1_bgewd9.png  "
                                    alt="">
                            </div>
                            <div class="row item__content">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-blue">
                                    MindNode
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 d-flex">
                                    <!-- <div class="box__icon">
                          <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/android.png" alt="">
                        </div> -->
                                    <div class="box__icon"
                                        (click)="onNavigate('https://itunes.apple.com/us/app/mindnode-5/id1218718027?mt=8')">
                                        <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/mac.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>