<section class="cover__phanmem">
  <div class="cover__content">
    CÁC PHẦN MỀM <br>
    HỖ TRỢ TRONG <br>
    QUÁ TRÌNH HỌC TẬP <br>
    CỦA SINH VIÊN

  </div>
</section>

<section class="background__phanmem">
  <div class="phanmem__content">
    <div class="section">
      <div class="section__title">
        PHẦN MỀM CẦN THIẾT
      </div>
      <div class="section__subtitle">
        <div class="content">
          Phần mềm trình duyệt web
        </div>
      </div>
      <div class="container section__content">
        <div class="row">
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/512px-Google_Chrome_icon_(2011).svg.png"
                  alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  Chrome
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/1024px-Cốc_Cốc_logo.svg.png" alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  Cốc cốc
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/Layer_2.png" alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  Mozilla Firefox
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/Opera_logo_icon.png" alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  Opera
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="section__subtitle">
        <div class="content">
          Phần mềm nén và giải nén trên máy tính
        </div>
      </div>

      <div class="phanmem__box">
        Người sử dụng có thể nén hoặc giải nén tập tài liệu lớn, nhiều. Dữ liệu được nén là một gói tin đầy đủ nhưng có
        dung lượng nhỏ, gọn hơn nhiều.
      </div>

      <div class="container section__content">
        <div class="row">
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/winzip_logo.png" alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  WinZip
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img
                  src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/kisspng-winrar-data-compression-computer-icons-computer-pr-logotipos-5b25b7a02222c6.2055934015291984961398.png"
                  alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  WinRAR
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/Layer_3.png" alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  BitZipper
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img
                  src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/kisspng-7-zip-computer-icons-7z-winrar-folders-5ad5b986068a15.8083458015239561020268.png"
                  alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  7-Zip
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section__subtitle">
        <div class="content">
          Phần mềm học nhóm
        </div>
      </div>

      <div class="container section__content">
        <div class="row">
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/logo-teamviewer-blue.png" alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  Teamviewer
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/800px-Skype_logo_(2019–present).svg.png"
                  alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  Skype
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/Logo_Zalo.png" alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  Zalo
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="section__subtitle">
        <div class="content">
          Phần mềm khôi phục dữ liệu
        </div>
      </div>

      <div class="container section__content">
        <div class="row">
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/logo-teamviewer-blue.png" alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  Teamviewer
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/800px-Skype_logo_(2019–present).svg.png"
                  alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  Skype
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/Logo_Zalo.png" alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  Zalo
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/logo-teamviewer-blue.png" alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  Teamviewer
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/800px-Skype_logo_(2019–present).svg.png"
                  alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  Skype
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/logo-teamviewer-blue.png" alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  Teamviewer
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-5">
            <div class="item">
              <div class="item__icon">
                <img src="../../../../assets/img/TienIchBoSung/PhanMemHoTro/800px-Skype_logo_(2019–present).svg.png"
                  alt="">
              </div>
              <div class="row item__content">
                <div class="col-md-12">
                  Skype
                </div>
                <div class="col-md-12">
                  <div class="box__download">
                    Download
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="section">

    </div>

    <div class="section">

    </div>

    <div class="section">

    </div>
  </div>
</section>