<section class="phuc-khao-header">
    <div class="pk-header-title">QUY ĐỊNH <br />
        LIÊN QUAN VỀ <br />
        THI - PHÚC KHẢO</div>
</section>

<section class="phuc-khao-body">
    <div class="container">
        <div class="row pk-body-title">
            Trách nhiệm của sinh viên khi dự thi
        </div>
        <div class="row pk-row">
            <div class="col-md-4">
                <img src="assets/img/HocTapUeh/hocPhi1.png">
                <div class="pk-para">Phải có mặt tại phòng thi đúng giờ quy định theo lịch thi. Nếu đến chậm quá 15 phút
                    sau khi đã mở đề
                    thi, sinh viên không được dự thi.</div>
            </div>
            <div class="col-md-4">
                <img src="assets/img/HocTapUeh/hocPhi1.png">
                <div class="pk-para">Xuất trình thẻ sinh viên và các giấy tờ tùy thân có dán ảnh khi cán bộ coi thi
                    (CBCT) yêu cầu.</div>
            </div>
            <div class="col-md-4">
                <img src="assets/img/HocTapUeh/hocPhi1.png">
                <div class="pk-para">Chỉ được mang vào phòng thi bút viết, bút chì, compa, tẩy, thước kẻ, thước tính,
                    máy tính điện tử không
                    có thẻ nhớ, không soạn thảo được văn bản và các giáo trình tài liệu (nếu đề thi cho phép)</div>
            </div>
        </div>


        <div class="row pk-row">
            <div class="col-md-4 pk-t-55">
                <img src="assets/img/HocTapUeh/hocPhi1.png">
                <div class="pk-para">Không được mang vào phòng thi các tài liệu (nếu đề thi không cho phép), máy vi tính
                    xách tay, giấy than, bút xóa, vũ khí, chất gây nổ, gây cháy, bia, rượu, phương tiện kỹ thuật thu,
                    phát, truyền tin, ghi âm, ghi hình, thiết bị chứa thông tin có thể lợi dụng để làm bài thi và các
                    vật dụng khác. Không được hút thuốc trong phòng thi.</div>
            </div>
            <div class="col-md-4 pk-t-120">
                <img src="assets/img/HocTapUeh/hocPhi1.png">
                <div class="pk-para">Phải ghi đầy đủ họ tên, số báo danh (hoặc số thứ tự theo danh sách), mã đề vào giấy
                    thi và nhất thiết phải yêu cầu cả hai CBCT ký và ghi rõ họ tên vào giấy thi.</div>
            </div>
            <div class="col-md-4 pk-t-45">
                <img src="assets/img/HocTapUeh/hocPhi1.png">
                <div class="pk-para">Bài làm phải viết rõ ràng, sạch sẽ, không nhàu nát, không đánh dấu hoặc làm ký hiệu
                    riêng.</div>
            </div>
        </div>

        <div class="row pk-row">
            <div class="col-md-4 pk-t-55 pk-t-70">
                <img src="assets/img/HocTapUeh/hocPhi1.png">
                <div class="pk-para">Nếu cần hỏi CBCT điều gì phải hỏi công khai. Phải giữ gìn trật tự, im lặng trong
                    phòng thi. Trường hợp ốm đau bất thường phải báo cáo để CBCT xử lý.</div>
            </div>
            <div class="col-md-4 pk-t-280">
                <img src="assets/img/HocTapUeh/hocPhi1.png">
                <div class="pk-para">Nghiêm cấm làm bài bằng hai màu mực, mực đỏ, bút chì (trừ hình tròn vẽ bằng compa).
                    Các phần viết hỏng phải dùng thước gạch chéo, không dùng bút xóa.</div>
            </div>
            <div class="col-md-4 pk-t-225">
                <img src="assets/img/HocTapUeh/hocPhi1.png">
                <div class="pk-para">Phải bảo vệ bài làm của mình và nghiêm cấm mọi hành vi gian lận, không được xem bài
                    của sinh viên khác, không được trao đổi ý kiến, trao đổi tài liệu khi làm bài.</div>
            </div>
        </div>


        <div class="row pk-row">
            <div class="col-md-4"></div>
            <div class="col-md-4 pk-t-275">
                <img src="assets/img/HocTapUeh/hocPhi1.png">
                <div class="pk-para">Khi hết giờ thi phải ngừng làm bài và nộp bài cho CBCT. Không làm được bài, sinh
                    viên cũng phải nộp giấy thi. Khi nộp bài, sinh viên phải tự ghi rõ số tờ giấy thi đã nộp và ký tên
                    vào danh sách dự thi.</div>
            </div>
            <div class="col-md-4 pk-t-220">
                <img src="assets/img/HocTapUeh/hocPhi1.png">
                <div class="pk-para">Sinh viên chỉ được ra khỏi phòng thi sau 2/3 thời gian làm bài đối với bài thi tự
                    luận sau khi đã nộp bài làm, giấy nháp, đề thi cho CBCT. Đối với thi trắc nghiệm phải hết giờ làm
                    bài sinh viên mới được ra khỏi phòng thi.</div>
            </div>
        </div>

        <div class="pk-body-title pk-top-220">
            Các hình thức xử lý kỷ luật sinh viên vi phạm quy định thi
        </div>
        <div class="pk-rec">
            <div class="rec-content">Tùy theo tính chất mức độ, sinh viên vi phạm quy định thi có thể sẽ áp dụng các
                hình thức kỷ luật sau:</div>
            <div class="pk-inline">
                <div class="pk-box">
                    <img class="pk-img-box" src="assets/img/HocTapUeh/211Talk-icon.png">
                    <div class="pk-rec-blue"></div>
                    <p>Khiển trách</p>
                </div>
                <div class="pk-box">
                    <img class="pk-box-img" src="assets/img/HocTapUeh/211danger-icon.png">
                    <div class="pk-rec-blue"></div>
                    <p>Cảnh cáo</p>
                </div>
                <div class="pk-box">
                    <img class="pk-w-64" src="assets/img/HocTapUeh/211xNote-icon.png">
                    <div class="pk-rec-blue"></div>
                    <p>Đình chỉ thi</p>
                </div>
            </div>
            <div class="pk-inline pk-mg-20">
                <div class="pk-box pk-l-42">
                    <img class="pk-w-45" src="assets/img/HocTapUeh/211xBook-icon.png">
                    <div class="pk-rec-blue"></div>
                    <p class="pk-rec-content">Đình chỉ học tập có thời hạn</p>
                </div>
                <div class="pk-box pk-l-15">
                    <img class="pk-w-36" src="assets/img/HocTapUeh/211x-icon.png">
                    <div class="pk-rec-blue"></div>
                    <p>Buộc thôi học</p>
                </div>
            </div>
        </div>
        <div class="pk-body-title pk-t-185">
            Công bố kết quả thi và kết quả phúc khảo
        </div>

        <div class="container">
            <div class="pk-bot-box">
                <img class="pk-bot-img" src="assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
                <p class="pk-para">Công bố kết quả thi: Sau 15 (mười lăm) ngày làm việc (không kể ngày nghỉ, ngày lễ,
                    Tết)
                    kể từ ngày thi kết thúc học phần.</p>
            </div>
            <div class="pk-bot-box">
                <img class="pk-bot-img mt-15" src="assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
                <p class="pk-para">Sau khi có kết quả thi, sinh viên có nhu cầu phúc khảo điểm thi phải nộp giấy đề nghị
                    trong vòng 15 (mười lăm) ngày kể từ ngày trường công bố điểm thi. </p>
            </div>
            <div class="pk-bot-box">
                <img class="pk-bot-img mt-45" src="assets/img/SanChoiTaiUeh/VanTheMy/2-layers.png">
                <p class="pk-para">Sau 15 (mười lăm) ngày làm việc kể từ ngày nộp giấy đề nghị phúc khảo cho Phòng Kế
                    hoạch đào tạo – Khảo thí, sinh viên liên hệ với Phòng (qua số điện thoại ghi trên biên nhận
                    hoặc vào trang
                    <a href="http://khkt.ueh.edu.vn/tab.aspx" target="_blank">http://khkt.ueh.edu.vn/tab.aspx</a>) để
                    nhận kết quả phúc khảo.</p>
            </div>
            <a style="text-decoration: none;" href="http://khkt.ueh.edu.vn/Preview.aspx?id=440" target="_blank">
                <div class="pk-blue-bot-box">
                    Quy định công tác khảo thí, kiểm tra đánh giá các kỳ thi kết thúc học phần và thi tốt nghiệp tại Quy
                    định số 4306/QĐ-ĐHKT-KHKT ngày 02 tháng 12 năm 2016
                </div>
            </a>
        </div>
    </div>
</section>