<section class="cover__vanhoa">
  <div class="cover__content">Văn hóa<br />UEH</div>
</section>

<section class="background__vanhoa">
  <div class="vanhoa__content">
    <div class="vanhoa__title">
      Những giá trị cốt lõi
    </div>

    <div class="row giaTriCotLoi">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="vanhoa__box">
          <div class="box__title">
            <img src="assets/img/TongQuanUeh/VanHoaUeh/1.png" alt="" />
          </div>
          <div class="box__content">
            Tự hào phát huy truyền thống UEH
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="vanhoa__box">
          <div class="box__title">
            <img src="assets/img/TongQuanUeh/VanHoaUeh/2.png" alt="" />
          </div>
          <div class="box__content">
            Tôn sư trọng đạo, sống có nghĩa tình
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="vanhoa__box">
          <div class="box__title">
            <img src="assets/img/TongQuanUeh/VanHoaUeh/3.png" alt="" />
          </div>
          <div class="box__content">
            Đoàn kết, tương trợ lẫn nhau
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="vanhoa__box">
          <div class="box__title">
            <img src="assets/img/TongQuanUeh/VanHoaUeh/4.png" alt="" />
          </div>
          <div class="box__content">
            Phát triển hài hòa cùng cộng đồng
          </div>
        </div>
      </div>
    </div>

    <div class="vanhoa__title">
      Hệ thống giá trị nền tảng
    </div>

    <div class="nentang">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="vanhoa__box">
            <div class="box__title">
              <img src="assets/img/TongQuanUeh/VanHoaUeh/1.png" alt="" />
            </div>
            <div class="box__content">
              Giá trị truyền thống
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="vanhoa__box">
            <div class="box__title">
              <img src="assets/img/TongQuanUeh/VanHoaUeh/2.png" alt="" />
            </div>
            <div class="box__content">
              Giá trị tương lai
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="vanhoa__box">
            <div class="box__title">
              <img src="assets/img/TongQuanUeh/VanHoaUeh/3.png" alt="" />
            </div>
            <div class="box__content">
              Văn hóa nghiên cứu khoa học
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="vanhoa__box">
            <div class="box__title">
              <img src="assets/img/TongQuanUeh/VanHoaUeh/4.png" alt="" />
            </div>
            <div class="box__content">
              Văn hóa ứng xử
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="vanhoa__title">
      Quy tắc ứng xử của người học
    </div>

    <div class="background__quytac">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
          <div class="vanhoa__subtitle">
            Quy tắc ứng xử chung
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
          <div class="vanhoa__col">
            <div class="col__icon">
              <img src="assets/img/TongQuanUeh/VanHoaUeh/positive-vote.png" alt="" />
            </div>
            <div class="col__content">
              • Thực hiện văn hóa UEH với những giá trị cốt lõi.<br />
              • Trang phục lịch sự, đeo thẻ sinh viên. <br />
              • Tác phong chỉnh tề; thái độ hòa nhã, khiêm tốn, tôn trọng.<br />
              • Tự giác chấp hành và vận động người học khác chấp hành quy chế, quy định.<br />
              • Tôn trọng và bảo vệ uy tín của UEH. <br />
              • Không phân biệt đối xử.
            </div>
          </div>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-12">
          <div class="vanhoa__col">
            <div class="col__icon">
              <img src="assets/img/TongQuanUeh/VanHoaUeh/positive-vote.png" alt="" />
            </div>
            <div class="col__content">
              • Không xúc phạm người khác.<br />
              • Không quấy rối người khác dưới mọi hình thức.<br />
              • Không tham gia các hoạt động tệ nạn xã hội.<br />
              • Không truyền bá tôn giáo.<br />
              • Không tham gia hoạt động trái pháp luật.<br />
              • Bảo vệ tài sản UEH.<br />
              • Có ý thức tổ chức.<br />
              • Bảo vệ môi trường.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
          <div class="vanhoa__subtitle">
            Ứng xử trong cộng đồng UEH
          </div>
        </div>
      </div>

      <div class="row ungXu">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="vanhoa__box">
            <div class="box__title vanhoa--custome-1">
              Ứng xử với giảng viên và viên chức khối quản lý
            </div>

            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/VanHoaUeh/border.png" alt="" />
            </div>

            <div class="box__content vanhoa--custome-1">
              • Kính trọng, lễ phép.<br />
              • Có thái độ tích cực khi trình bày ý kiến.<br />
              • Không sử dụng vật chất, tiền bạc và những mối quan hệ cá nhân mưu cầu lợi ích riêng.<br />
              • Không sử dụng mạng xã hội đưa tin sai sự thật.<br />
              • Định kỳ đánh giá giảng viên và phòng, ban chức năng theo quy định.
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="vanhoa__box">
            <div class="box__title vanhoa--custome-2">
              Ứng xử với nhân viên phục vụ
            </div>
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/VanHoaUeh/border2.png" alt="" />
            </div>
            <div class="box__content vanhoa--custome-2">
              • Tôn trọng và hợp tác. <br />
              • Đánh giá khách quan mức độ phục vụ.
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="vanhoa__box">
            <div class="box__title vanhoa--custome-1">
              Ứng xử trong cộng đồng người học
            </div>
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/VanHoaUeh/border.png" alt="" />
            </div>
            <div class="box__content vanhoa--custome-1">
              • Gắn bó mật thiết; cởi mở, thông cảm, chia sẻ.<br />
              • Tôn trọng và đối xử tương thân tương ái. <br />
              • Tôn trọng tính đa dạng và khác biệt.
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="vanhoa__box">
            <div class="box__title vanhoa--custome-2">
              Ứng xử với khách đến thăm và làm việc
            </div>
            <div class="box__icon">
              <img src="assets/img/TongQuanUeh/VanHoaUeh/border2.png" alt="" />
            </div>
            <div class="box__content vanhoa--custome-2">
              • Có thái độ hoà nhã, cởi mở, thân thiện khi giao tiếp.<br />
              • Tận tình giúp đỡ, hướng dẫn.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="vanhoa__subtitle">
            Ứng xử trong học tập, nghiên cứu khoa học
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="vanhoa__col vanhoa__col__custom">
            <div class="col__icon">
              <img src="assets/img/TongQuanUeh/VanHoaUeh/analysis.png" alt="" />
            </div>

            <div class="col__title">
              Ứng xử trong học tập
            </div>

            <div class="col__content">
              • Tự học, tự giác và tích cực, chủ động. <br />
              • Không làm ảnh hưởng tới việc truyền thụ kiến thức của giảng viên và tiếp thu kiến thức của người học
              khác. <br />
              • Trung thực, nghiêm túc. <br />
              • Lựa chọn chương trình phù hợp và tham gia đầy đủ, trách nhiệm các hoạt động trong trường; rèn luyện kỹ
              năng. <br />
              • Trong giờ học, chỉ sử dụng các phương tiện, trang thiết bị đã được sự đồng ý của giảng viên. <br />
              • Không sử dụng đồ ăn, thức uống có cồn tại trường.
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="vanhoa__col vanhoa__col__custom">
            <div class="col__icon">
              <img src="assets/img/TongQuanUeh/VanHoaUeh/open-book.png" alt="" />
            </div>

            <div class="col__title">
              Ứng xử trong nghiên cứu khoa học
            </div>

            <div class="col__content">
              • Trung thực trong quá trình thực hiện và công bố.<br />
              • Không đạo văn, đạo ý tưởng của người khác; Tôn trọng bản quyền.<br />
              • Không giả mạo hoặc làm sai lệch dữ liệu trong nghiên cứu khoa học.<br />
              • Có trách nhiệm xây dựng và bảo vệ thương hiệu UEH.<br />
              • Kiên quyết đấu tranh hành vi tiêu cực.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="vanhoa__subtitle2">
            <a href="http://ctct.ueh.edu.vn/modules.php?name=News&op=viewst&sid=2037" target="_blank">
              Quy định: Quyết định số 1555/QĐ-ĐHKT-CTCT ngày 15/6/2017 của Hiệu trưởng trường Đại học Kinh tế TP. Hồ Chí
              Minh quy định về quy tắc ứng xử của người học tại Trường Đại học Kinh tế TP. Hồ Chí Minh.
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
