<section class="cntn-header">
    <div class="cntn-header-title">CHƯƠNG TRÌNH CỬ NHÂN TÀI NĂNG</div>
    <div class="cntn-header-subtitle">Chương trình Cử nhân tài Năng BBus của UEH-ISB là chương trình chính quy. Chương
        trình được xây dựng dựa trên nền tảng hệ thống giáo dục quốc tế, nhằm đào tạo và phát triển những kiến thức, kỹ
        năng và bản lĩnh giúp sinh viên trở thành những hạt nhân quản lý, những nhà lãnh đạo cấp cao trong tương lai tại
        các công ty danh tiếng trên thế giới.</div>
</section>

<section class="cntn-body">
    <div class="container">
        <div class="cntn-inline-box">
            <img src="assets/img/HocTapUeh/isbSmartPhong.png" alt="">
            <div class="cntn-right-block">
                <div class="cntn-rec">
                    <div class="cntn-rec-title">Thời gian đào tạo</div>
                    <div class="cntn-line"></div>
                    <div class="cntn-content">4 năm (08 học kỳ)</div>
                </div>
                <div class="cntn-rec">
                    <div class="cntn-rec-title">Ngành/chuyên ngành đào tạo</div>
                    <div class="cntn-line"></div>
                    <div class="cntn-content">Ngành Quản trị kinh doanh gồm 05 chuyên ngành: Quản trị,
                        Marketing, Kế toán, Tài chính, Kinh doanh quốc tế.</div>
                </div>
                <div class="cntn-rec">
                    <div class="cntn-rec-title">Đặc điểm nổi bật</div>
                    <div class="cntn-line"></div>
                    <div class="cntn-content">• Cơ hội chuyển tiếp nhận bằng quốc tế; <br />
                        • Du học ngắn hạn cùng chương trình trao đổi sinh viên Student Exchange; <br />
                        • Tự tin làm việc tại các công ty đa quốc gia cùng chương trình Leadership.</div>
                </div>
                <div class="cntn-rec">
                    <div class="cntn-rec-title">Văn bằng tốt nghiệp</div>
                    <div class="cntn-line"></div>
                    <div class="cntn-content">Cử nhân Quản trị kinh doanh (chương trình Cử nhân tài năng) do Trường Đại
                        học
                        Kinh tế TP. Hồ Chí Minh cấp bằng</div>
                </div>
                <div class="cntn-rec">
                    <div class="cntn-rec-title">Cơ hội học tập cao hơn</div>
                    <div class="cntn-line"></div>
                    <div class="cntn-content">có thể học hệ văn bằng hai đại học chính quy; hoặc Thạc sĩ và Tiến sĩ,
                        hoặc
                        chuyển tiếp các trường đại học đối tác nước ngoài.</div>
                </div>
            </div>
        </div>

    </div>
</section>