//@import url(//src/assets/fonts/SANFRANCISCODISPLAY-SEMIBOLD.OTF);
// font-family:
$fm-1: "San Francisco Display - Semibold";
// font-size:
$fs-1: 22px;
// font-weight:
$fw-1: 400;
// color:
$color-1: #005596;
$color-2: #e2ebf6;
$color-gradient-1: linear-gradient(to right, #01215a 0%, #ff4a7d 100%);
// margin:
// padding:
// line-height:
//break points
$breakpoints: ( "extra-large": 1200px, "large": 992px, "medium": 768px, "small": 576px);